.main-category {
  width: 1200px;

  margin: 0 30px 30px;
  padding: 30px;

  border-radius: 30px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.main-category-title {
  font-size: 2.5rem;
}

/* content */
.main-category-content {
  margin-top: 30px;

  width: 100%;

  display: flex;
  justify-content: space-around;
}

.content-title {
  width: 100%;
  font-size: 2rem;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

/* content-left */
.main-category-content-left {
  width: 65%;
  padding: 30px;

  border-radius: 30px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
  background-color: #F9F4F5;
}

.category-item {
  border: 2px solid #F9F4F5;
  display: flex;
  border-radius: 4px;
  min-height: 60px;
  margin: 10px 0;
  transition-duration: 0.3s;
}
.category-item:hover {
  transform: translateX(25px);
}
.category-item.select-edit {
  transform: translateX(25px);
  border: 2px solid #493E5D;
  border-radius: 6px 4px 4px 6px;
}

.category-item * {
  display: flex;
  align-items: center;
  /* pointer-events: none; */
  user-select: none;
}

.category-first {
  width: 150px;

  display: flex;
  justify-content: space-between;

  padding: 0 15px;

  background-color: #493E5D;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.category-first > span{
  color: white;
}
.category-first > div{
  color: white;
  cursor: pointer;
}

.category-second {
  padding: 0 10px;
  width: 100%;

  display: flex;
  flex-wrap: wrap;

  /* border: 0.5px solid #493E5D; */
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);

  background-color: white;

  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.category-second > div {
  /* background-color: #F9F4F5; */
  border: 0.1px solid #493E5D;
  height: 30px;
  border-radius: 4px;
  margin-right: 10px;
}
.category-second span.category-name {
  margin: 5px 10px;
}
.main-category-content-right .remove-btn {
  margin-right: 0;
}
.remove-btn {
  height: 18px;
  width: 18px;
  text-align: center;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 4px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.remove-btn:hover {
  background-color: #eee;
  transition-duration: 0.2s;
}

.drag-item.dragging {
  opacity: .5;
  /* border: 2px dashed red; */
}


/* content-right */
.main-category-content-right {
  width: 30%;
  /* height: auto; */
  padding: 30px;

  border-radius: 30px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
  background-color: #F9F4F5;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-category-content-right p {
  margin: 10px;
}

.main-category-content-right button {
  height: 40px;
  width: 60px;
}

.category-item-right * {
  margin: 10px 0;
}

.content-subtitle {
  font-size: 1.5rem;
  margin-left: 10px;
}

.content-subtitle~input {
  width: 200px;
  height: 40px;
  border: 1px solid #ccc;
  margin: 10px;
}
.content-subtitle~input:disabled {
  background-color: #ccc;
}

.first-content p {
  background-color: #493E5D;
  border-radius: 4px;

  width: 200px;
  height: 35px;
  color: white;

  padding: 0 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-content span {
  color: white;
  cursor: pointer;
}

.second-content {
  padding: 30px 0;
  margin: 30px 0;
  border-top: 1px solid #ccc;
  /* border-bottom: 1px solid #ccc; */
}

.second-content p {
  background-color: white;
  border: 1px solid #493E5D;
  border-radius: 4px;

  width: 200px;
  height: 35px;

  padding: 0 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second-content span {
  cursor: pointer;
}