<link rel="stylesheet" href="/css/common/footer.css">

<footer>
  <section class="footer-content">
    <div class="footer-content-left">
      <p>Lost & Found</p><br><br>
      <p>(주)로스트파운드 | 주소 : 서울특별시 중구 남대문로 120 그레이츠 청계(구 대일빌딩) 2F </p>
      <p>KM-academy | FINAL-PROJECT | 제작기간 2023.05.29 ~ 2023.07.07</p>
      <p>IGEOSAJO | 장반석 | 최유나 | 김자민 | 권재웅</p>
      <p>개인정보보호책임자:로스트파운드( LAF_IGEOSAJO.github.com )</p><br><br><br>
      <p>고객님은 안전거래를 위한 현금 등으로 결제 시 저희 쇼핑몰에서 가입한 KH사의 구매안전서비스를 이용하실 수 없습니다. (서비스가입사실확인)</p><br>
      <p>브랜드소개 | 이용약관 | 이용안내 | 공정거래위원회 | 개인정보처리방침</p><br>
      <p><a href="/admin">&copy;로스트파운드. ALL RIGHTS RESERVED. designed by IGEOSAJO.</a></p>
    </div>
    <div class="footer-content-center">
      <p>Customer Center</p><br><br>
      <p>070-1544-9999</p>
      <p>운영시간 월 - 금 11:00 - 17:00</p>
      <p>점심시간 월 - 금 12:00 - 13:00</p>
      <p>휴무안내 토/일/공휴일</p><br><br>
      <p>계좌정보</p><br>
      <p>국민 243715-99-905139</p>
      <p>(주)로스트파운드</p>
    </div>
    <div class="footer-content-right">
      <br><br><br><br><br>
      <p>교환/반품 주소지</p>
      <p>서울특별시 중구 남대문로 120 서울중앙우체국 3층 소포과 로스트파운드(우체국택배 : 1588-1300)</p><br>
      <p>타 택배 이용시 주소지</p><br>
      <p>서울특별시 중구 남대문로 120 그레이츠 청계 2층</p>
    </div>
    <div class="footer-content-sns">
      <p>SNS</p>
      <div class="footer-content-sns-img">
        <a href="https://github.com/final-laf/LAF"><img src="/images/common/github.svg"></a>
        <a href="https://www.kh-academy.co.kr/login/login.kh"><img src="/images/common/khacdemy.svg"></a>
        <a href="https://www.instagram.com/"><img src="/images/common/instagram.svg"></a>
        <a href="https://facebook.com/"><img src="/images/common/fackbook.svg"></a>
      </div>
    </div>
  </section>
</footer>

<script th:inline="javascript">
    const message = /*[[${message}]]*/ "전달 받은 message";
    if(message !=null ) alert(message);
</script>