<link rel="stylesheet" th:href="@{/css/common/default.css}">
<link rel="stylesheet" th:href="@{/css/common/header.css}">

<header>
  <div class="logo">
    <a href="/"><img class="logo-img" th:src="@{/images/common/logo.png}"></a>
  </div>

  <!-- 임시로그인버튼 -->
<div style="position:absolute; right: 20px; top: 10px; width:150px; height: 50px; display:flex; flex-wrap: wrap;">
  <form action="/login" method="post">
    <input type="hidden" name="memberId" value="user01">
    <input type="hidden" name="memberPw" value="pass01!">
    <button style="width: 50px; height: 20px;">user01</button>
  </form>
  <form action="/login" method="post">
    <input type="hidden" name="memberId" value="user02">
    <input type="hidden" name="memberPw" value="pass02!">
    <button style="width: 50px; height: 20px;">user02</button>
  </form>
  <form action="/login" method="post">
    <input type="hidden" name="memberId" value="user03">
    <input type="hidden" name="memberPw" value="pass03!">
    <button style="width: 50px; height: 20px;">user03</button>
  </form>
  <form action="/login" method="post">
    <input type="hidden" name="memberId" value="user04">
    <input type="hidden" name="memberPw" value="pass04!">
    <button style="width: 50px; height: 20px;">user04</button>
  </form>
  <form action="/admin" method="get">
    <!-- <input type="hidden" name="memberId" value="nonmember1"> -->
    <!-- <input type="hidden" name="memberPw" value="nonmember1"> -->
    <button style="width: 50px; height: 20px;">관리자</button>
  </form>
  <form action="/logout" method="get">
    <button style="width: 50px; height: 20px; background-color: #ccc;">logout</button>
  </form>
</div>
</header>

<script src="/js/common/common.js"></script>