<nav>
    <div class="header-nav-menu">
        <label for="menuList">
            <img class="header-nav-menu-img" src="/images/common/menu.svg">
        </label>
        <input type="checkbox" id="menuList">
        <div class="header-nav-menu-list">
            <table>
                <tr>
                    <td rowspan="2">LAST SALE <br>NEW10% <br>BEST50 <br>오늘출발⚡</td>
                    <td>98PROJECT<br>98PROJECT<br>OAT.</td>
                    <td>아우터<br>코트<br>자켓<br>점퍼/무스탕<br>핸드메이드</td>
                    <td>니트<br>가디건<br>니트<br>베스트</td>
                    <td>상의<br>티셔츠<br>맨투맨/후드<br>셔츠/블라우스<br>나시/슬리브리스</td>
                    <td rowspan="2">팬츠<br>면팬츠<br>데님<br>슬랙스<br>트레이닝/조거<br>+LONG SIZE</td>
                    <td rowspan="2">커뮤니티<br> 공지사항<br> 자주묻는 질문<br> 1:1 문의하기<br> 입고일정안내<br> 상품후기<br> 해외배송 (Overseas)<br> 개인결제창<br> 이벤트<br> 브랜드 소개<br> 출석체크<br> 채용공고</td>
                    <td rowspan="2">나의 쇼핑<br> 주문조회<br> 관심상품<br> 적립금 내역<br> 예치금 내역<br> 쿠폰 내역<br> 내가 쓴 게시물<br> 회원정보변경<br> 배송지 관리<br> 정기배송신청</td>
                </tr>
                <tr>
                    <td>스커트<br> 미디+롱<br> 미니</td>
                    <td>원피스</td>
                    <td>가방/신발<br> 가방<br> 신발</td>
                    <td>악세서리<br> 쥬얼리<br> 양말<br> 모자<br> 머플러/장갑<br> 시계/안경<br> 벨트<br> 헤어악세사리<br> 기타</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="header-nav-catagory">
        <ul class="header-nav-catagory-menu">
            <li><a href="/1">BEST50</a></li>
            <li><a href="/1">LAFPROJECT</a></li>
            <li><a href="/1">NEW10%</a></li>
            <li><a href="/1">TOP</a></li>
            <li><a href="/1">PANTS</a></li>
            <li><a href="/1">OUTER</a></li>
            <li><a href="/1">DRESS</a></li>
            <li><a href="/1">SKIRTS</a></li>
            <li><a href="/1">오늘출발</a></li>
            <li><a href="/1">SALE</a></li>
        </ul>
    </div>

    <div class="header-nav-icon">
        <a href="/1"><img src="/images/common/search.svg"></a>
        <a href="/login"><img src="/images/common/user.svg"></a>
        <a href="/cart"><img src="/images/common/cart.svg"></a>
    </div>

    <div class="quick-menu">
        <ul>
            <li><a href="#"><img src="/images/common/topup.svg"></a></li>
            <li><a href="/review"><img src="/images/common/edit.svg"></a></li>
            <li><a href="/my/like"><img src="/images/common/like-black.svg"></a></li>
            <li><a href="/qna"><img src="/images/common/question.svg"></a></li>
            <li class="recent-view">
                <span class="recent-view-lbtn"><img src="/images/common/allowBtnLeft-white.svg"></span>
                <a href="/product/1"><img src="/images/sample/sample1.png"></a>
                <span class="recent-view-rbtn"><img src="/images/common/allowBtnRight-white.svg"></span>
            </li>
            <li><a href="#"><img src="/images/common/chat.svg"></a></li>
        </ul>
    </div>
</nav>

<script>
    /* 퀵메뉴 스크롤 숨김효과 */
    const quickMenu = document.querySelector('.quick-menu');
    let isHidden = true;

    window.addEventListener('scroll', () => {
        const scrollPosition = window.scrollY;
        const windowHeight = window.innerHeight;
        const documentHeight = document.documentElement.scrollHeight;

        if (scrollPosition > 300 && isHidden) {
            quickMenu.style.transform = 'translateX(0)';
            isHidden = false;
        }
        
        if (scrollPosition <= 300 && !isHidden) {
            quickMenu.style.transform = 'translateX(100px)';
            isHidden = true;
        }

        if (scrollPosition + windowHeight >= documentHeight - 300) {
            quickMenu.style.transform = 'translateX(100px)';
            isHidden = true;
        }
    });

    window.addEventListener('DOMContentLoaded', () => {
    quickMenu.style.transform = 'translateX(100px)';
    });
</script>