.mypageLogin-login{
    width: 1200px;
    height: 1080px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.mypageLogin-login > div{
    margin: 200px;
    display: flex;
}
.mypageLogin-login-memberLogin{
    padding: 200px 100px;
    display: block;
    width: 550px;
}

.mypageLogin-login-memberLogin p{
    font-size: 30px;
    font-weight: bold;
}

.mypageLogin-login-memberLogin div{
    font-size: 18px;
    padding: 10px 0 0 0;
    
}

.mypageLogin-login-noMember{
    display: block;
    background-color: blue;
    padding: 50px;
    width: 100%;
    height: 570px;
}

.mypageLogin-memberLogin-member{
    border-bottom: 1px solid #ccc;
}

.mypageLogin-memberLogin-member div{
    color: #c49677;
}

#mypageLoginLogin{
    border: none;
    font-size: 20px;
    color: white;
    background-color: brown;
    margin-top: 30px;
    padding-left: 20px;
    width: 350px;
    height: 60px;
    text-align: left;
}

.mypageLogin-memberLogin-other{
    display: flex;
    justify-content: space-between;
}

.mypageLogin-login-notMember{
    border-left: 1px solid #ccc;
    padding: 200px 100px;
    display: block;
    width: 550px;
}

.mypageLogin-login-notMember p{
    font-size: 30px;
    font-weight: bold;
}

.mypageLogin-login-notMember div{
    font-size: 18px;
    padding: 10px 0 0 0;
    
}
.mypageLogin-btn {
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 20px;
    color: black;
    background-color: beige;
    margin-top: 30px;
    padding-left: 20px;
    width: 350px;
    height: 60px;
}
