/* 공용 */
/* 공용 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}


/* 공용 */
/* 공용 */
/* 공용 */
.mypageSignUp-signUp{
    display: flex;
    width: 1920px;
    height: 9000px;
    justify-content: center;
}
.mypageSignUp-signUp-info{
    margin-top: 50px;
    display: flex;
    width: 1200px;
    height: 1000px;
}

.mypageSignUp-info-signUpInfo{
    display: block;
}
.mypageSignUp-signUpInfo-table{
    margin: 20px 0;
}
.mypageSignUp-signUpInfo-table th{
    padding-left: 10px;
    height: 30px;
    width: 150px;
    background-color: #ebebeb;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: left;
}
.mypageSignUp-signUpInfo-table td{
    width: 1200px;
    padding-left: 10px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

}
.mypageSignUp-signUpInfo-table tr{
    
    height: 70px;
}
.mypageSignUp-signUpInfo-table input{
    width: 300px;
    height: 45px;
}
.mypageSignUp-table-inputTd{
    display: flex;
    align-items: center;
}
.mypageSignUp-table-address input{
    margin: 10px 0;
}

.mypageSignUp-table-address button{
    height: 40px;
    width: 100px;
    border: 1px solid #ccc;
    background-color: #f6f6f6;
}
.mypageSignUp-address-postal{
    width: 100px !important;
}
.mypageSignUp-table-tel input{
    font-size: 15px;
    text-align: center;
    width: 100px;
}
.mypageSignUp-table-tel span{
    font-size: 30px;
    font-weight: bolder;
}
.mypageSignUp-table-Refund div{
    padding: 15px 0;
}
.mypageSignUp-table-Refund select{
    text-align: center;
    height: 45px;
    width: 170px;

}
