h3{
    display: block;
}
dd{
    display: block;
    margin-inline-start: 0;
}
a, a:hover, a:active, a:focus{
    text-decoration: none;
    cursor: pointer;
}
.mypageDash-mainFrame{
    width: 1200px;
    margin: 0 auto;
}

.mypageDash-mainFrame-dashFrame{
    display: flex;
    position: relative;
    vertical-align: baseline;
}

.mypageDash-dashFrame-myMenu h3 {
    padding: 40px 0 13px;
    border-bottom: 1px solid #bababa;
    font-size: 30px;
    font-weight: 400;;
}
.mypageDash-menuList-menuContent a {
    display: block;
    padding: 5px 0;
    color: #999;
    font-size: 15px;
    letter-spacing: 0.025rem;
}
.mypageDash-myMenu-menuList dt{
    color: #000;
    font-size: 18px;
    letter-spacing: 0.025rem;
}
.mypageDash-dashFrame-myMain{
    height: 482px;
    width: 1020px;
    margin: 120px 0 0 30px;
}
.mypageDash-myMain-myInfo{
    display: flex;
    background-color: #f0f0f0;
    width: 1020px;
    padding: 50px 0;
}

.mypageDash-myInfo-myRating{
    display: flex;
    width: 660px;
    height: 126px;
    padding:  0 50px 0 50px;
    
}

.mypageDash-myRating-Rating{
    color: #f0f0f0;
    width: 126px;
    height: 126px;
    background-color: #cc6600;
    text-align: center;
    line-height: 126px;
    border-radius: 50%;
}

.mypageDash-myRating-greeting{
    margin: 0 0 0 50px;

}
.mypageDash-greeting-greet{
    font-size: 15px;
    padding: 10px 0 5px 0;
}

.mypageDash-myInfo-mySave{
    display: inline-block;
    border-left: 1px solid white;
    width: 358px;
    height: 126px;
}

.mypageDash-mySave-Point{
    justify-content: space-between;
    padding: 0 50px 20px 60px;
    display: flex;
}

.mypageDash-myMain-Shipping{
    border: 1px solid #ccc;
    margin: 25px 0 0 0;
    width: 1020px;
    background-color: white;
}

.mypageDash-Shipping-state{
    display: flex;
}

.mypageDash-state-shippingList{
    padding: 60px 0 50px 50px;
    width: 665px;
    border-right: 1px solid #ccc;
}
.mypageDash-shippingList-list{
    padding: 10px 0 0 0;
    display: flex;

}


.square-list-square{
    display: block;
    background-color: #333333;
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.square-list-square div{
    padding: 8px;
    font-size: 13px;
}

.mypageDash-state-howMany{
    color: #999999;
    justify-content: center;
    padding: 60px;
}

.mypageDash-howMany-shipping{
    padding: 20px 0 10px 0;
    display: flex;
    justify-content: space-between;
}
.mypageDash-howMany-shipping div{
    display: flex;
}