/* 회원가입 정규식 확인 */
.confirm{color : green;}
.error{color : red;}
/*  */

.mypageSignUp-signUp{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.mypageSignUp-signUp-info{
    margin-top: 50px;
    display: flex;
    width: 1200px;
}
.mypageSignUp-info-intro{
  color: #666;
  display: flex;
  font-size: 17px;
  padding: 10px 0;
  align-items: flex-end;
}
.mypageSignUp-info-intro span{
  color: black;
  font-weight: bold;
  margin-right: 10px;
  display: flex;
  font-size: 40px;
}

.mypageSignUp-info-signUpInfo{
    display: block;
}
.mypageSignUp-signUpInfo-table{
    margin: 20px 0;
}
.mypageSignUp-signUpInfo-table th{
    padding-left: 20px;
    height: 30px;
    width: 150px;
    background-color: #fafafa;
    border-top: 0.5px solid #eee;
    border-bottom: 0.5px solid #eee;
    border-right: 0.5px solid #eee;
    text-align: left;
}
.mypageSignUp-signUpInfo-table td{
    width: 1200px;
    padding-left: 10px;
    border-top: 0.5px solid #eee;
    border-left: 0.5px solid #eee;
    border-bottom: 0.5px solid #eee;

}
.mypageSignUp-signUpInfo-table tr{
    
    height: 70px;
}
.mypageSignUp-signUpInfo-table input{
  border: 0.5px solid #eee;
    width: 300px;
    height: 45px;
}
.mypageSignUp-table-inputTd{
    display: flex;
    align-items: center;
}
.mypageSignUp-table-inputTd div{
  color: #666;
} 

.mypageSignUp-table-address input{
    margin: 10px 0;
}

.mypageSignUp-table-address button{
    height: 45px;
    width: 100px;
    border: 0.5px solid #eee;
    background-color: #fafafa;
}
.mypageSignUp-address-postal{
    width: 100px !important;
}
.mypageSignUp-table-tel input{
    font-size: 15px;
    text-align: center;
    width: 100px;
}
.mypageSignUp-table-tel span{
    font-size: 30px;
    font-weight: bolder;
}
.mypageSignUp-table-birth input{
  border: 0.5px solid #eee;
  width: 50px;
  margin-right: 5px;
}
.mypageSignUp-table-birth input:not(:first-child) {
  margin-left: 10px;
}

.mypageSignUp-table-Refund div{
    padding: 15px 0;
}
.mypageSignUp-table-Refund select{
  border: 0.5px solid #eee;
  text-align: center;
  height: 45px;
  width: 170px;
}
.mypageSignUp-table-Refund option{
  text-align: center;
  height: 45px;
  width: 170px;
}
.mypageSignUp-table-Refund td {
  padding: 0;
}
.mypageSignUp-table-Refund td > div {
  padding-left: 10px;

#mypageSignUpSubmitButton{
  margin-top: 50px;
  display: flex;
  height: 50px
}
#mypageSignUpSubmitButton button {
  background-color: #eee;
  border: none;
  height: 50px;
  width: 200px;
  margin: 0 auto;
}

.mypageSignUp-info-terms{
  margin-top: 20px;
  padding: 10px;
  background-color: #fafafa;
}
.mypageSignUp-info-terms li{
  height: 200px;
  background-color: #eee;
  margin: 10px 0;
}
.mypageSignUp-info-terms span{
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}