<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/resources/css/common/default.css">
  <link rel="stylesheet" href="/resources/css/shopping/categoryList.css">
  <title>Document</title>
</head>
<body>

  <header class="link" data-include="/views/common/header.html"></header>
  
  <main>
    <!-- BEST ITEMS -->
    <section id="categoryList-best-items">

      <!-- 섹션 헤더(제목, 설명) -->
      <div class="categoryList-section-header">
        <div class="categoryList-section-title">BEST ITEMS</div>
        <div class="categoryList-section-description">한 주동안 가장 인기🔥있던 상품들입니다💗</div>
      </div>

      <!-- 베스트 상품 목록 -->
      <div class="categoryList-section-container best-item">
        <div class="categoryList-best-item">
          <img src="/resources/image/sample5.png">
          <div class="item-description hidden">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </div>

        <div class="categoryList-best-item">
          <img src="/resources/image/sample5.png">
          <div class="item-description hidden">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </div>

        <div class="categoryList-best-item">
          <img src="/resources/image/sample5.png">
          <div class="item-description hidden">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </div>

        <div class="categoryList-best-item">
          <img src="/resources/image/sample5.png">
          <div class="item-description hidden">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </div>

        <div class="categoryList-best-item">
          <img src="/resources/image/sample5.png">
          <div class="item-description hidden">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </div>

        <div class="categoryList-best-item">
          <img src="/resources/image/sample5.png">
          <div class="item-description hidden">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </div>

        <div class="categoryList-best-item">
          <img src="/resources/image/sample5.png">
          <div class="item-description hidden">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </div>

        <div class="categoryList-best-item">
          <img src="/resources/image/sample5.png">
          <div class="item-description hidden">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </div>
        
      </div>

    </section>

    <!-- PRODUCTS LIST -->
    <section id="categoryList-product-container">
      <div class="categoryList-section-title">TOP</div>
      <div class="categoryList-sub-category-container">
        <div class="categoryList-sub-category">전체</div>
        <div class="categoryList-sub-category">가디건</div>
        <div class="categoryList-sub-category">니트</div>
        <div class="categoryList-sub-category">베스트</div>
      </div>

      <!-- 아이템 목록 상단(상품 갯수, 정렬방법) -->
      <div class="categoryList-product-header">
        <div><span>72</span>개의 상품</div>
        <div>정렬방법</div>
      </div>

      <!-- 아이템 목록 -->
      <ul class="categoryList-product-item-container">
        <li class="categoryList-product-item">
          <img src="/resources/image/sample5.png">
          <div class="item-description">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </li>
        <li class="categoryList-product-item">
          <img src="/resources/image/sample5.png">
          <div class="item-description">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </li>
        <li class="categoryList-product-item">
          <img src="/resources/image/sample5.png">
          <div class="item-description">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </li>
        <li class="categoryList-product-item">
          <img src="/resources/image/sample5.png">
          <div class="item-description">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </li>
        <li class="categoryList-product-item">
          <img src="/resources/image/sample5.png">
          <div class="item-description">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </li>
        <li class="categoryList-product-item">
          <img src="/resources/image/sample5.png">
          <div class="item-description">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </li>
        <li class="categoryList-product-item">
          <img src="/resources/image/sample5.png">
          <div class="item-description">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </li>
        <li class="categoryList-product-item">
          <img src="/resources/image/sample5.png">
          <div class="item-description">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </li>
        <li class="categoryList-product-item">
          <img src="/resources/image/sample5.png">
          <div class="item-description">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </li>
      </ul>

      <!-- 페이징 -->
      <div class="pagination-area">

          <ul class="pagination">
          
              <!-- 첫 페이지로 이동 -->
              <li><a><img src="/resources/image/common/paging/first-page.svg"></a></li>

              <!-- 이전 목록 마지막 번호로 이동 -->
              <li><a><img src="/resources/image/common/paging/prev-page.svg"></a></li>

              <li><a class="current">1</a></li>
              <li><a>2</a></li>
              <li><a>3</a></li>
              <li><a>4</a></li>
              <li><a>5</a></li>
              <li><a>6</a></li>
    
              <!-- 다음 목록 시작 번호로 이동 -->
              <li><a><img src="/resources/image/common/paging/next-page.svg"></a></li>
              
              <!-- 끝 페이지로 이동 -->
              <li><a><img src="/resources/image/common/paging/last-page.svg"></a></li>
          </ul>
      </div>

    </section>
  </main>

  <footer class="link" data-include="/views/common/footer.html"></footer>

  <script src="/resources/js/common/default.js"></script>
  <script src="/resources/js/shopping/categoryList.js"></script>

</body>
</html>