<link rel="stylesheet" href="/resources/css/admin/adminCommon.css">
<div class="logo">
  <a href="/views/main.html"><img class="logo-img" src="/resources/images/common/logo.png"></a>
</div>
<!-- sidebar -->
<section class="sidebar">
  <div class="sidebar-content">
    <ul>
      <a href="/views/admin/dashboard.html"><li>대시보드</li></a>
      <a href="/views/admin/maincontrolview.html"><li>메인 화면 관리</li></a>
      <a href="#"><li>회원 관리</li></a>
      <li>상품 관리</li>
      <li>주문 관리</li>
      <li>1 대 1 문의</li>
    </ul>
  </div>
</section>