<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/resources/css/common/default.css">
  <link rel="stylesheet" href="/resources/css/admin/maincontrolcategory.css">
  <title>관리자::MAINCATEGORY</title>
</head>
<body>

  <header class="link" data-include="/views/admin/adminheader.html"></header>
  
  <main>
    <section class="adminContainer">
      <div class="main-category">
        <div>
          <span class="main-category-title">메인 화면 관리</span>
          <span>(메인 카테고리)</span>
        </div>
        <div class="control-classify">
          <a href="/views/admin/maincontrolview.html"><span>메인 이미지</span></a>
          <a href="/views/admin/maincontrolcategory.html"><span class="control-classify-select">메인 카테고리</span></a>
        </div>
      </div>
    </section>
  </main>

  <footer class="link" data-include="/views/common/footer.html"></footer>

  <script src="/resources/js/common/default.js"></script>

</body>
</html>