<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/resources/css/common/default.css">
  <link rel="stylesheet" href="/resources/css/admin/ordercurrent.css">
  <title>관리자::주문 현황</title>
</head>
<body>

  <header class="link" data-include="/views/admin/adminheader.html"></header>
  
  <main>
    <section class="adminContainer">
      <div class="control-classify">
        <a href="/views/admin/ordercurrent.html"><span class="control-classify-select">주문 현황</span></a>
        <a href="/views/admin/orderselect.html"><span>주문 조회</span></a>
      </div>
      <div class="order-current">
        <div>
          <span class="order-current-title">주문 현황</span>
        </div>
        <div class="order-list">
          <span>오늘 주문 현황</span>
          <ul>
            <li>
              <div class="order-cat">주문 접수</div>
              <div class="order-count">
                <span class="order-count-num">0</span>
                <span>개</span>
              </div>
              <div class="order-cat">결제 확인</div>
              <div class="order-count">
                <span class="order-count-num">1</span>
                <span>개</span>
              </div>
            </li>
            <li>
              <div class="order-cat">상품 준비</div>
              <div class="order-count">
                <span class="order-count-num">21</span>
                <span>개</span>
              </div>
              <div class="order-cat">출고 완료</div>
              <div class="order-count">
                <span class="order-count-num">1</span>
                <span>개</span>
              </div>
            </li>
            <li>
              <div class="order-cat">배송중</div>
              <div class="order-count">
                <span class="order-count-num">0</span>
                <span>개</span>
              </div>
              <div class="order-cat">배송 완료</div>
              <div class="order-count">
                <span class="order-count-num">1</span>
                <span>개</span>
              </div>
            </li>
            <li>
              <div class="order-cat">취소중</div>
              <div class="order-count">
                <span class="order-count-num">0</span>
                <span>개</span>
              </div>
              <div class="order-cat">취소 완료</div>
              <div class="order-count">
                <span class="order-count-num">1</span>
                <span>개</span>
              </div>
            </li>
            <li>
              <div class="order-cat">교환중</div>
              <div class="order-count">
                <span class="order-count-num">0</span>
                <span>개</span>
              </div>
              <div class="order-cat">교환완료</div>
              <div class="order-count">
                <span class="order-count-num">1</span>
                <span>개</span>
              </div>
            </li>
            <li>
              <div class="order-cat">반품중</div>
              <div class="order-count">
                <span class="order-count-num">0</span>
                <span>개</span>
              </div>
              <div class="order-cat">반품 완료</div>
              <div class="order-count">
                <span class="order-count-num">1</span>
                <span>개</span>
              </div>
            </li>
          </ul>
        </div>
        
      </div>
    </section>
  </main>

  <footer class="link" data-include="/views/common/footer.html"></footer>

  <script src="/resources/js/common/default.js"></script>

</body>
</html>