<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/resources/css/common/default.css">
  <link rel="stylesheet" href="/resources/css/admin/productenroll.css">
  <title>관리자::상품 등록</title>
</head>
<body>

  <header class="link" data-include="/views/admin/adminheader.html"></header>
  
  <main>
    <section class="adminContainer">
      <div class="control-classify">
        <a href="/views/admin/productenroll.html"><span class="control-classify-select">상품 등록</span></a>
        <a href="/views/admin/productselect.html"><span>상품 조회</span></a>
      </div>
      <div class="product-enroll">
        <div>
          <span class="product-enroll-title">상품 등록</span>
        </div>
      </div>
    </section>
  </main>

  <footer class="link" data-include="/views/common/footer.html"></footer>

  <script src="/resources/js/common/default.js"></script>

</body>
</html>