<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/boards/boardsCommon.css">
  <link rel="stylesheet" href="/css/boards/notice.css">
  <title>LAF :: 공지사항</title>
</head>
<body>

  <th:block th:replace="~{common/header}"></th:block>
  <th:block th:replace="~{common/nav}"></th:block>
  
  <main>
    

    <section class="board-list" th:with="notice=${notice}">
      <div class="section-header">
        <div class="section-title">NOTICE</div>
      </div>
      <div class="sub-category-container">
        <!-- 현재 카테고리에 current 클래스 추가 -->
        <a href="/notice"><div class="sub-category current">NOTICE</div></a>
        <a href="/qna"><div class="sub-category">1:1문의</div></a>
        <a href="/faq"><div class="sub-category">FAQ</div></a>
        <a href="/review"><div class="sub-category">REVIEW</div></a>
      </div>

      <!-- 게시판 -->
      <div class="detail-list-wrapper">
        <table class="detail-list-table">
          <tr>
            <td>TITLE</td>
            <td th:text="${notice.noticeTitle}">테스트 제목 입니다</td>
          </tr>

          <tr>
            <td>NAME</td>
            <td>관리자</td>
          </tr>

          <tr>
            <td>DATE</td>
            <td th:text="${notice.noticeDate}">2023-06-07</td>
          </tr>
        </table>
      </div>

      <div class="detail-list-contents">
        <pre th:text="${notice.noticeContent}">
영업일 기준 7일 안으로 순차 지급해드리고 있습니다.
판매/교환/반품예정인 상품의 후기글 등 후기 게시판 성격에 맞지 않는 글은 무통보 삭제될 수 있습니다.
        </pre>
      </div>

      <!-- 하단 버튼 영역 -->
      <div class="detail-btn-area">
        <div>
          <a href="/notice"><button type="button">LIST</button></a>                     
        </div>
        <div th:if="${session.loginMember?.memberGrade=='A'}">
          <button id="noticeDelete" type="button" th:value="${notice.noticeNo}">DELETE</button>                     
          <button class="submit" type="button" id="noticeDetailModify" th:value="${notice.noticeNo}">MODIFY</button>                     
        </div>
      </div>
    </section>
  </main>

  <th:block th:replace="~{common/footer}"></th:block>
  <script src="/js/boards/notice.js"></script>

</body> 
</html>