<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/boards/boardsCommon.css">
  <link rel="stylesheet" href="/css/boards/notice.css">
  <title>LAF :: 공지사항</title>
</head>
<body>

  <th:block th:replace="~{/common/header}"></th:block>
  <th:block th:replace="~{/common/nav}"></th:block>
  
  <main>

    <section class="board-list">
      <div class="section-header">
        <div class="section-title">NOTICE</div>
      </div>
      <div class="sub-category-container">
        <!-- 현재 카테고리에 current 클래스 추가 -->
        <a href="/notice"><div class="sub-category current">NOTICE</div></a>
        <a href="/qna"><div class="sub-category">1:1문의</div></a>
        <a href="/faq"><div class="sub-category">FAQ</div></a>
        <a href="/review"><div class="sub-category">REVIEW</div></a>
      </div>

      <!-- 게시판 -->
      <div class="list-wrapper">
        <table class="list-table">
          <!-- 게시판 상단 -->        
          <thead>
            <tr>
                <th>NO</th>
                <th>TITLE</th>
                <th>NAME</th>
                <th>DATE</th>
            </tr>
          </thead>
          <!-- 게시판 본문 -->
          <tbody>
            <!-- onclick="asd(asd)" -->
            <tr th:each="q, index:${noticeList}" th:value="${q.noticeNo}" class="trup">
              <td th:text="${index.index+1}">번호</td>
                <td th:text="${q.noticeTitle}">테스트 제목 입니다</td>
              <td>관리자</td>
              <td th:text="${q.noticeDate}">2023-06-01</td>
            </tr>
          
            
          </tbody>
        </table>
      </div>
      <!-- 하단 버튼 영역 -->
      <div class="btn-area">
        <a href="/notice/write"><button id="insertBtn">WRITE</button></a>                     
      </div>

      <!-- 페이지네이션 영역 -->
      <div class="pagination-area">

        <ul class="pagination">
          
          <!-- 이전 목록 마지막 번호로 이동 -->
          <li><a href="#">&lt;</a></li>

          <!-- 특정 페이지로 이동 -->
          <li><a class="current">1</a></li> <!-- 현재 페이지 -->
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>

          <!-- 다음 목록 시작 번호로 이동 -->
          <li><a href="#">&gt;</a></li>

        </ul>
      </div>


      <!-- 검색창 -->
      <form id="boardSearch">
        <select name="key" id="searchKey">
            <option value="t">제목</option>
            <option value="c">내용</option>
        </select>
        <input type="text" name="query"  id="searchQuery">
        <button>검색</button>
      </form>

    </section>
  </main>

  <th:block th:replace="~{/common/footer}"></th:block>

  <script src="/js/boards/notice.js"></script>

</body> 
</html>