<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/boards/boardsCommon.css">
  <link rel="stylesheet" href="/css/boards/notice.css">
  <title>LAF :: 공지사항</title>
</head>
<body>

  <th:block th:replace="~{common/header}"></th:block>
  <th:block th:replace="~{common/nav}"></th:block>
  
  <main>
    

    <section class="board-list" th:with="notice=${notice}">
      <div class="section-header">
        <div class="section-title">NOTICE</div>
      </div>
      <div class="sub-category-container">
        <!-- 현재 카테고리에 current 클래스 추가 -->
        <a href="/notice"><div class="sub-category current">NOTICE</div></a>
        <a href="/qna"><div class="sub-category">1:1문의</div></a>
        <a href="/faq"><div class="sub-category">FAQ</div></a>
        <a href="/review"><div class="sub-category">REVIEW</div></a>
      </div>

      <!-- 게시판 -->
      <div class="detail-list-wrapper">
        <table class="detail-list-table">
          <tr>
            <td>TITLE</td>
            <td th:text="${notice.noticeTitle}">테스트 제목 입니다</td>
          </tr>

          <tr>
            <td>NAME</td>
            <td>관리자</td>
          </tr>

          <tr>
            <td>DATE</td>
            <td th:text="${notice.noticeDate}">2023-06-07</td>
          </tr>
        </table>
      </div>

      <div class="detail-list-contents">
        <pre th:text="${notice.noticeContent}">
영업일 기준 7일 안으로 순차 지급해드리고 있습니다.
판매/교환/반품예정인 상품의 후기글 등 후기 게시판 성격에 맞지 않는 글은 무통보 삭제될 수 있습니다.
아래 조건이 맞지 않을 경우 적립금 지급이 어려울 수 있습니다.
조건이 충족하였으나 지급이 안되었을 경우 ”상품문의“ 게시판으로 [아이디/상품명,옵션] 남겨주시면 안내 도와드리겠습니다.



▶적립금 지급 기준
-글 후기(30자 이상) & 상품 미착용 사진 : 500원
-착용 사진+글 후기 (30자 이상) : 1,000원 

▶VIP/VVIP 
-글 후기(30자 이상) & 상품 미착용 사진 : 500원
-착용 사진+글 후기 (30자 이상) : 2,000원 

▶적립금 지급이 어려운 경우
- 지그재그 제트결제 주문건
- 30자 미만 글 후기 (반복문구/띄어쓰기 제외)
- 수령한지 2주가 지난 상품 (주말,공휴일 포함 14일이내)
- 단품 상품 금액이 10,000원 미만인 상품 
- 반품/교환 예정인 상품
- 세일 상품 (라스트찬스,이벤트 카테고리 상품) 
- 한가지 상품을 중복으로 작성해 준 리뷰글
- 비회원 작성 게시글 
- 주문건에 추가 금액 입금 후 상품 추가/변경했을 경우
- 1+1상품 구매시 1개 상품만 작성한 경우


--------------------------------------------------------------------

*리뷰 게시판은 상품에 대한 후기 공유와 함께 적립금을 지급해드리는 공간으로써 상품에 대한 문의 글 답변, 피드백을 일일이 드릴 수 없습니다.
이점 꼭 숙지해 주시고 피드백이 필요한 글은 "배송 후 교환/반품 게시판에 남겨주시면 빠른 안내 도와드리겠습니다.
        </pre>
      </div>

      <!-- 하단 버튼 영역 -->
      <div class="detail-btn-area">
        <div>
          <a href="/notice"><button>LIST</button></a>                     
        </div>
        <div>
          <button type="button">MODIFY</button>                     
          <button id="noticeDelete" type="button" th:value="${notice.noticeNo}">DELETE</button>                     
        </div>
      </div>
    </section>
  </main>

  <th:block th:replace="~{common/footer}"></th:block>
  <script src="/js/boards/notice.js"></script>

</body> 
</html>