.mypageOrder-mainFrame{
  margin: 0 auto;
  width: 970px;
}

.mypageOrder-mainFrame-order{
  width: 9700px;
  margin: 80px 0 0 0;
}
.mypageOrder-order-text{
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.mypageOrder-mainFrame-order > div{
  font-size: 18px;
  font-weight: bold;
  padding: 0 0 10px 15px;
}

.mypageOrder-mainFrame-order table{
  border-top: 0.5px solid #eee;
  width: 970px;
  margin-bottom: 40px;
}
.mypageOrder-mainFrame-order th{
  padding-left: 15px;
  height: 45px;
  text-align: left;
}
.mypageOrder-mainFrame-order td{
  padding-left: 10px;
  padding-top: 10px;
  height: 45px;
}
.mypageOrder-mainFrame-order input{
  border: 0.5px solid #eee;
  width: 100%;
  height: 35px;
}
/* 이메일 앞부분 */
.mypageOrder-mainFrame-order select{
  border: 0.5px solid #eee;
  width: 48.9%;
  height: 35px;
}
/* 이메일 뒷부분 */
.mypageOrder-mainFrame-order table tr:nth-child(2) td input{
  width: 49%;
}

/* 전화번호 앞부분 */
.mypageOrder-order-tel select{
  width: 32%;
}
/* 전화번호 뒷부분 */
.mypageOrder-order-tel input{
  width: 32.5%;
}

/* 주소 */
.mypageSignUp-table-address{
  padding: 5px 0 5px 0;
}

#sample6_postcode{
  padding-left: 15px;
  width: 150px;
}
/* 배송지 라디오버튼 */
.mypageOrder-order-shipping div{
  display: flex;
  justify-content: space-between;
}
.mypageOrder-order-shipping input{
  width: 18px;
}
.mypageOrder-order-shipping label{
  padding: 0 10px 0 10px;
  display: flex;
  align-items: center;
}
.mypageOrder-order-defaultShipping{
  display: flex;
  align-items: center;
}
.mypageOrder-order-defaultShipping input{
  width: 15px;
  margin-right: 10px;
}

/* 주문 상품 */
#mypageOrderProduct input{
  width: 15px;
}
#mypageOrderProduct > tbody > tr:nth-child(6) > td > div > div:nth-child(1) > span:nth-child(2){
  font-weight: normal;
  font-size: 1.2rem;
}

.mypageOrder-order-info th{
  font-weight: normal;
  text-align: center;
}
.mypageOrder-order-info th:nth-child(6){
  font-weight: bold;
}
.mypageOrder-order-info tr{
  border-bottom: 0.5px solid #eee;
}
.mypageOrder-order-info td{
  text-align: center;
}
.mypageOrder-order-info td:nth-child(3) div{
  text-align: left;
  padding: 10px 20px;
}
.mypageOrder-order-info tr:nth-child(2) td{
  border-top: 0.5px solid #eee;
  padding-bottom: 10px;
}
.mypageOrder-order-info tr:nth-child(3) td {
  border-top: 0.5px solid #eee;
  border-bottom: 0.5px solid #eee;
  padding-bottom: 10px;
}
.mypageOrder-order-info tr:last-child td div{
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  margin-bottom: 5px;
}
.mypageOrder-order-info select{
  pointer-events: none;
  appearance: none;
}
.mypageOrder-order-info input[type=checkbox]{
  pointer-events: none;
}

#mypageOrderHow > tbody > tr:nth-child(1) > th > span{
  width: auto;
  height: 27px;
  padding: 0px 8px;
  
  background-color: white;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  color: #222;
  font-size: 1.2rem;
  cursor: pointer;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
/* 할인/부가결제 */
#mypageOrderDiscount > tbody> tr{
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

/* 할인/부가결제 */
#mypageOrderDiscount > tbody> tr>th{
  display: flex;
  align-items:center;
}
/* 상품 할인  */
#mypageOrderDiscount > tbody> tr:nth-child(1)>th{
  padding-right: 67px;
}

/* 쿠폰적용 버튼 */
#mypageOrderDiscount > tbody> tr:nth-child(2) > th:nth-child(1) {
  display: flex;
  align-items:center;
}

#mypageOrderDiscount > tbody > tr:nth-child(2) > th:nth-child(1) > div,
#mypageOrderDiscount > tbody > tr:nth-child(3) > th:nth-child(1) > div{
  margin-left: 10px;
  font-weight: bold;
  color: #3971FF;
}

/* 쿠폰적용 버튼 */
#mypageOrderDiscount > tbody> tr:nth-child(2) > th:nth-child(2) {
  display: flex;
  align-items:center;
}
/*  */
#mypageOrderDiscount > tbody> tr:nth-child(2) > th:nth-child(2) >div {
  margin-right: 10px;
}
/* 적립금 */
#mypageOrderDiscount > tbody> tr:nth-child(3) > th:nth-child(2) >div {
  margin-right: 10px;
}
#mypageOrderDiscount > tbody> tr:last-child {
  padding-right: 78px;
}
#mypageOrderDiscount > tbody> tr:nth-child(3) > th:nth-child(2) >div input {
  width: 550px;
  text-align:right;
  margin-right: 10px;
}
/* 전액사용 버튼 */
#pointBtn{
  margin-left: 10px;
}

/* 할인 적용 금액 */
#mypageOrderDiscount > tbody> tr:last-child{
  border-top: 0.5px solid #eee;
  border-bottom: 0.5px solid #eee;
  font-weight: bold;
}
#mypageOrderDiscount > tbody> tr:last-child > th:nth-child(1){
  font-weight: bold;
}
.mypageOrderDiscountRed {
  font-weight: bold;
  color: red;
}

/* 결제정보 */
#mypageOrderInfo > tbody> tr{
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

#mypageOrderInfo > tbody> tr *{
  display: flex;
  align-items: center;
}

#mypageOrderInfo > tbody> tr:nth-child(1){
  padding-top: 20px;
}
#mypageOrderInfo > tbody> tr:nth-child(4){
  padding-top: 20px;
  border-top: 0.5px solid #eee;
  border-bottom: 0.5px solid #eee;
}
#mypageOrderInfo > tbody> tr:nth-child(4) > th{
  font-weight: bold;
}

/* 결제수단 */
#mypageOrderHow > tbody> tr{
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}
#mypageOrderHow > tbody> tr:nth-child(1){padding-top: 15px}

#mypageOrderHow > tbody > tr:nth-child(2) > th > div >select{
  padding-left: 30px;
  width: 800px;
}
#mypageOrderHow > tbody> tr:nth-child(1) button{margin: 0 10px 0 0}
#mypageOrderHow > tbody > tr:nth-child(2){
  display: block;
  border: 0.5px solid #eee;
}
#mypageOrderHow > tbody > tr:nth-child(2) > th > div{
  display: flex;
  padding-top : 15px;
  padding-bottom : 15px;
}
#mypageOrderHow > tbody > tr:nth-child(2) > th > div >div{
  display: flex;
  align-items: center;
  width: 100px;
}
#mypageOrderHow > tbody > tr:nth-child(2) > th > div >input{
  padding-left: 30px;
  width: 800px;
}
.mypageOrderTerms div{
  display: flex;
  align-items: center;

  font-weight: bold;
  padding:15px 0 15px 10px 
}
.mypageOrderTerms div>input{
  margin-right: 5px;
}

/* 결제하기 버튼쪽 */
.mypageOrderTerms div:nth-child(3){
  display: flex;
  font-weight: bold;
  padding:15px 0 15px 10px; 
  width: 500px;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.mypageOrderTerms div:nth-child(3) button{
  width: 300px;
  height: 50px;
  color: #eee;
  background-color: #7f7698;
}