<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/common/default.css">
  <link rel="stylesheet" href="/css/admin/maincontrolcategory.css">
  <title>관리자::메인관리(카테고리)</title>
</head>
<body>

  <th:block th:replace="~{admin/adminheader}"></th:block>
  
  <main>
    <section class="adminContainer">
      <div class="control-classify">
        <a href="/views/admin/maincontrolview.html"><span>메인 이미지</span></a>
        <a href="/views/admin/maincontrolcategory.html"><span class="control-classify-select">메인 카테고리</span></a>
      </div>
      <div class="main-category">
        <div>
          <span class="main-category-title">메인 화면 관리</span>
          <span>(메인 카테고리)</span>
        </div>
        <div class="main-category-content">
          <div class="main-category-content-left">
            <div class="content-title">카테고리 현황( 1차 | 2차 )</div>
            <div class="category-item-list">
              <ul>
                <li class="category-item">
                  <div class="category-first">
                    <span>BEST50</span>
                    <div>X</div>
                  </div>
                  <div class="category-second">
                    <span>LAST SALE<div>X</div></span>
                    <span>NEW 10%<div>X</div></span>
                    <span>BEST50<div>X</div></span>
                    <span>오늘출발<div>X</div></span>
                    <span>재고쌓기!!<div>X</div></span>
                    <span>최대할증 70%<div>X</div></span>
                    <span>오늘불발 :)<div>X</div></span>
                    <span>WORST10<div>X</div></span>
                  </div>
                </li>
                <li class="category-item">
                  <div class="category-first">
                    <span>OUTER</span>
                    <div>X</div>
                  </div>
                  <div class="category-second">
                    <span>코트<div>X</div></span>
                    <span>자켓<div>X</div></span>
                    <span>점퍼/무스탕<div>X</div></span>
                    <span>핸드메이드<div>X</div></span>
                  </div>
                </li>
                <li class="category-item">
                  <div class="category-first">
                    <span>상의</span>
                    <div>X</div>
                  </div>
                  <div class="category-second">
                    <span>거적때기<div>X</div></span>
                    <span>천조각<div>X</div></span>
                    <span>걸레<div>X</div></span>
                    <span>헤드메이드<div>X</div></span>
                  </div>
                </li>
                <li class="category-item">
                  <div class="category-first">
                    <span>커뮤니티</span>
                    <div>X</div>
                  </div>
                  <div class="category-second">
                    <span>공지사항<div>X</div></span>
                    <span>자주묻는질문<div>X</div></span>
                    <span>1:1문의하기<div>X</div></span>
                    <span>입고일정안내<div>X</div></span>
                    <span>반품후기<div>X</div></span>
                    <span>후원결제창<div>X</div></span>
                    <span>출석체크<div>X</div></span>
                    <span>채용공고<div>X</div></span>
                    <span>대신해줘<div>X</div></span>
                  </div>
                </li>
                <li class="category-item select-edit">
                  <div class="category-first">
                    <span>하의</span>
                    <div>X</div>
                  </div>
                  <div class="category-second">
                    <span>슬렉스<div>X</div></span>
                    <span>데님<div>X</div></span>
                  </div>
                </li>
              </ul>
            </div>
            
          </div>
          <div class="main-category-content-right">
            <div class="content-title">
              카테고리 편집
            </div>
            <div class="first-content">
              <div class="content-subtitle">1차 카테고리</div>
              <input type="text"><button type="submit">입력</button>
              <p>하의<span>X</span></p>
            </div>
            <div class="second-content">
              <div class="content-subtitle">2차 카테고리</div>
              <input type="text"><button type="submit">입력</button>
              <p>슬렉스<span>X</span></p>
              <p>데님<span>X</span></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <th:block th:replace="~{common/footer}"></th:block>

</body>
</html>