<div id="orderShippingBack"></div>
<section class="orderShipping-mainFrame" id="orderShippingContent">
  <link rel="stylesheet" href="/css/common/default.css">
  <link rel="stylesheet" href="/css/order/orderShipping.css">
  <!-- 결제 배송 모달창  -->
  <div class="orderShipping-mainFrame-myMain">
    <!-- 배송지 관리 -->
    <div class="orderShipping-myMain-text">배송 주소록 관리
    </div>
    <div class="orderShipping-MyMain-Shipping">
      <table>
        <tr>
          <th width="30px"> <input type="checkbox"> </th>
          <th width="130px">배송지명</th>
          <th width="100px">수령인</th>
          <th width="130px">휴대전화</th>
          <th width="550px">주소</th>
          <th width="60px">수정</th>
        </tr>
        <!-- 항목 추가~ -->
        <tr th:if="session.loginMember" th:each="address : ${addressList}"  class="orderShipping-Shipping-list">
          <td><input type="checkbox"></td>
          <td th:text="${address.addressName}"><button type="button" id="orderShippingDefault">기본</button> 미지정</td>
          <td th:text="${address.addressReceiver}">수령인</td>
          <td th:text="${address.addressTel}">010-1234-1234</td>
          <td th:text="${address.address}">서울특별시 강남구 삼성동 111-22 무슨 빌라 302호</td>
          <td><a href="/my/ship/enroll"><button type="button">수정</button></a></td>
        </tr>
        <!-- ~~~~~~~~~~~~~~~ -->
      </table>
      <div class="orderShipping-Shipping-button">
        <div>
          <button >선택 주소록 삭제</button>
        </div>
      </div>
      <table class="orderShipping-Shipping-notice">
        <tr>
          <th>배송주소록 유의사항 </th>
        </tr>
        <tr>
          <td>
            <div>❶ 배송 주소록은 최대 3개까지 등록할 수 있으며, 별도로 등록하지 않을 경우 최근 배송 주소록 기준으로 자동 업데이트 됩니다.</div>
            <div>❷ 기본 배송지는 1개만 저장됩니다. 다른 배송지를 기본 배송지로 설정하시면 기본 배송지가 변경됩니다.</div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>