<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" th:href="@{/css/order/orderDetail.css}">
  <title>LAF :: 주문정보</title>


</head>
<body>
  <th:block th:replace="~{/common/header}"></th:block>
  <th:block th:replace="~{/common/nav}"></th:block>
  <th:block th:replace="~{order/orderCoupon}"></th:block>
  
  <main>
      <!-- 개인화면 대쉬보드 전체 틀 -->
    <section class="orderDetail-mainFrame" th:object="${order}">
      <div class="orderDetail-mainFrame-order">
        <div class="orderDetail-order-text">주문상세조회</div>
        <div class="order-detail-subtitle">주문정보</div>
        <table>
          <tr>
            <th width="170px">주문번호</th>
            <td th:text="*{orderUno}">주문고유번호</td>
          </tr>
          <tr>
            <th>주문일자</th>
            <td th:text="*{orderDate}">주문일자</td>
          </tr>
          <tr>
            <th>주문처리상태</th>
            <td id="orderState">주문처리상태</td>
          </tr>
        </table>
        <!-- 결제 정보 -->
        <div class="order-detail-subtitle">결제정보</div>
        <table class="orderDetail-order-payment">
          <tr>
            <th width="170px">총 주문금액</th>
            <td th:text="*{#numbers.formatInteger(orderTotalPrice, 3, 'COMMA')} + '원'">35,500</td>
          </tr>
          <tr>
            <th>총 결제금액</th>
            <td th:text="*{#numbers.formatInteger(orderPayment, 3, 'COMMA')} + '원'">35,500</td>
          </tr>
          <tr class="deliveryCost">
            <th>배송비</th>
            <td>+2,500원</td>
          </tr>
          <tr colspan="3" th:if="${dc != null or productDc != null}">
            <th>할인혜택</th>
            <td>
              <div th:if="${productDc}"><div>상품할인</div><div th:text="'-'+${#numbers.formatInteger(productDc, 3, 'COMMA')}+'원'">상품할인액</div></div>
              <div th:if="${dc != null and dc.containsKey('couponUnit')}"><div>쿠폰할인</div><div id="discountCoupon">쿠폰할인액</div></div>
              <div th:if="${dc != null and dc.containsKey('usePoint')}"><div>적립금사용</div><div th:text="'-'+${#numbers.formatInteger(dc.usePoint, 3, 'COMMA')}+'원'">적립금사용</div></div>
            </td>
          </tr>
          <tr>
            <th>결제수단</th>
            <td id="payment">방법/은행</td>
          </tr>
          <tr th:if="${dc != null and dc.containsKey('gainPoint')}">
            <th>구매확정시 예상적립금</th>
            <td th:text="${#numbers.formatInteger(dc.gainPoint, 3, 'COMMA')}+ '원'">예상적립금</td>
          </tr>
        </table>
        <!-- 주문 상품 정보 -->
        <div class="order-detail-subtitle">주문 상품 정보</div>
        <table class="orderDetail-order-info">
          <tr>
            <th width="90px">이미지</th>
            <th width="500px">상품정보</th>
            <th width="70px">구매수량</th>
            <th width="90px">상품구매금액</th>
          </tr>
          <tr th:each="odp : ${odpList}">
            <td width="80px">
              <a th:href="'/product/' + ${odp.product.productNo}">
                <img width="80px" th:src="${odp.product.thumbnailPath}">
              </a>
            </td>
            <td>
              <a th:href="'/product/' + ${odp.product.productNo}">
                <div th:text="${odp.product.productName}">상품명</div>
              </a>
              <div>
                <span th:text="${odp.option.color}"></span>
                <span th:if="${odp.option.size}" th:text="' | ' +${odp.option.size}"></span>
              </div>
            </td>
            <td th:text="${odp.count}">1</td>
            <td>
              <div th:text="${#numbers.formatInteger(odp.product.productSalePrice, 3, 'COMMA')} + '원'">할인액</div>
              <div th:if="${(odp.product.productPrice - odp.product.productSalePrice) != 0}" th:text="${#numbers.formatInteger(odp.product.productPrice, 3, 'COMMA')} + '원'">원가</div>
            </td>
          </tr>
          <tr class="deliveryCost">
            <th colspan="6">
              <div>
                <div>배송비</div>
                <div>+2,500원</div>
              </div>
            </th>
          </tr>
        </table>
        <!-- 배송지 정보 -->
        <div class="order-detail-subtitle">배송지정보</div>
        <table class="mypageDetail-order-shipping">
          <tr>
            <th>받으시는분</th>
            <td th:text="*{orderRecvName}">ㅇㅇㅇ</td>
          </tr>
          <tr>
            <th>우편번호</th>
            <td id="recvAddNo">우편번호</td>
          </tr>
          <tr>
            <th>주소</th>
            <td id="recvAdd">주소</td>
          </tr>
          <tr>
            <th>휴대전화</th>
            <td th:text="*{orderRecvPhone}">전화번호</td>
          </tr>
          <tr>
            <th>배송요청사항</th>
            <td th:text="*{orderRecvRequire} ? *{orderRecvRequire} : '없음'">요청사항</td>
          </tr>
        </table>
        <div class="orderBtn">
          <div th:if="${order.orderState == 'A' or order.orderState == 'B' or order.orderState == 'C'}">
            <button id="cancleBtn">주문취소</button>
          </div>
          <div th:if="${session.loginMember}" class="orderDetail-shipping-shippinglist">
            <button id="orderListBtn">주문목록보기</button>
          </div>
        </div>
      </div>
    </section>
  </main>
  <th:block th:replace="~{/common/footer}"></th:block>

  <script th:inline="javascript">
    const order = /*[[${order}]]*/ "주문정보";
    const dc = /*[[${dc}]]*/ "주문상품정보";
  </script>

  <script src="/js/order/orderDetail.js"></script>

  <!-- 주소 api -->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="/js/common/api/address.js"></script>

</body>
</html>