<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/common/default.css">
  <!-- <link rel="stylesheet" href="/resources/css/mypage/mypageOrder.css"> -->
  <link rel="stylesheet" href="/css/order/orderDetail.css">

  <title>LAF :: 로그인</title>


</head>
<body>
  <main>
    <!-- 개인화면 대쉬보드 전체 틀 -->
    <section class="orderDetail-mainFrame">
      <th:block th:replace="~{order/orderShipping}"></th:block>
    </section>
  </main>

</body>
</html>
