<div id="orderShippingBack"></div>
<section class="orderShipping-mainFrame" id="orderShippingContent">
  <link rel="stylesheet" href="/css/common/default.css">
  
  <!-- 결제 배송 모달창  -->
  <div class="orderShipping-mainFrame-myMain">
    <!-- 배송지 관리 -->
    <div class="orderShipping-myMain-text">배송 주소록 관리</div>
    <div class="orderShipping-MyMain-Shipping">
      <table>
        <tr>
          <th width="60px">선택</th>
          <th width="130px">배송지명</th>
          <th width="100px">수령인</th>
          <th width="130px">휴대전화</th>
          <th width="550px">주소</th>
        </tr>
        <tr id="addressList" th:each="address : ${addressList}"  class="orderShipping-Shipping-list">
          <td><input type="radio" name="addSelect"></td>
          <td th:text="${address.addressName}">배송지명</td>
          <td th:text="${address.addressReceiver}">수령인</td>
          <td th:text="${address.addressTel}">전화번호</td>
          <td>
            <div id="addressItem">
              <input id="originAdd" type="hidden" th:value="${address.address}"></input>
              <div class="order-shipping-address" th:text="${address.address}">주소</div>
              <span th:if="${address.addressDefaultFL == 'Y'}" class="p-category-item">기본배송지</span>
            </div>
          </td>
        </tr>
      </table>
      <div class="orderShipping-Shipping-button">
          <button id="myShippingBtn">주소록 관리</button>
          <button id="shippingSelectBtn">주소록 선택</button>
      </div>
      <table class="orderShipping-Shipping-notice">
        <tr>
          <th>배송주소록 유의사항 </th>
        </tr>
        <tr>
          <td>
            <div>❶ 배송 주소록은 최대 3개까지 등록할 수 있습니다.</div>
            <div>❷ 기본 배송지는 1개만 저장됩니다. 다른 배송지를 기본 배송지로 설정하시면 기본 배송지가 변경됩니다.</div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>

<script th:inline="javascript">
  if(loginMember != null){
    /* 주소값 구분자 제거 후 가져오기 */
    const addressList = /*[[${addressList}]]*/ [];
    const innerAddress = document.getElementsByClassName("order-shipping-address");
    for(let i = 0; i < addressList.length; i++) {
      innerAddress[i].innerText =  (addressList[i].address.replaceAll("^^^", " "));
    }
  }
</script>