### Installation Files ###
00_tools/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Spring Project
.gradle/
build/
**/src/main/**/build/
**/src/test/**/build/
**/src/main/**/bin/
**/src/test/**/bin/
target/
/target/
.springBeans
pom.properties
MANIFEST.MF
*.log
SESSION.ser
.factorypath
settings.json

# Spring-Boot Project
config.properties
db.properties

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
HELP.md
.idea/
/shelf/
/workspace.xml
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.metadata
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### 그 외 ###
*.class
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml
*.bin
*.lock
*.probe

### Server 관련 ###
Servers/
*_jsp.java
