main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#mypageOrderList {
  width: 1000px;
  padding-left: 50px;
}

/* 하위메뉴 */
.sub-category-container {
  margin-bottom: 50px;
}
.sub-category-container span {
  font-size: 1.4rem;
  color: inherit;
  margin-left: 2px;
}

/* 주문조회 필터링 */
#orderFilter {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  
  height: 50px;
  padding: 0 10px;
  margin-bottom: 2px;
}
#orderFilter > * {
  margin: 0 5px;
}
#dateFilterBtn {
  display: flex;
  margin-left: 30px;
}
#dateFilterBtn > li {
  width: 60px;
  height: 27px;
  
  background-color: #eee;
  border: 0.5px solid #ccc;
  transition-duration: 0.2s;
  border-right: none;
  
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#dateFilterBtn > li:hover {
  background-color: #ccc;
  transition-duration: 0.2s;
  
}
#dateFilterBtn > li:first-child {
  border-radius: 2px 0 0 2px;
}
#dateFilterBtn > li:last-child {
  border-radius: 0 2px 2px 0;
  border-right: 0.5px solid #ccc;
}
#dateFilter {
  display: flex;
  align-items: center;
}
#dateFilter input {
  width: 130px;
  margin: 0 10px;
}
#orderFilterInfo > p {
  font-size: 1.2rem;
}

/* 테이블 공통설정 */
table {
  width: 100%;
}
table tr {
  border-top : 0.5px solid #eee;
}
.table-title {
  font-weight: bold;
  margin: 15px 0 5px 0;
}
/* 테이블 헤더 설정 */
table tr:first-child {
  background-color: #fafafa;
  line-height: 120%;
  text-align: center;
}
table tr:first-child > td {
  padding: 8px 0;
}
table tr:last-child {
  border-bottom : 0.5px solid #eee;
}
table td {
  padding: 3px 0;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
table tr:not(:first-child) > td {
  height: 100px;
}

/* 버튼 컨테이너 설정 */
.btn-container {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btn-container button {
  margin-left: 5px;
  width: 140px;
  height: 40px;
  border-radius: 2px;
}

/* 찜 목록 - 테이블 레이아웃 설정 */
.item-order-info { width: 11%; }
.item-image { width: 10%; }
.item-product { width: 40%; }
.item-count { width: 5%; }
.item-price-set { width: 12%; }
.item-order-state { width: 12%; }
.item-choose { width: 10%; }
.item-empty { width: 100%; }
td {
  display: inline-flex;
  flex-direction: column;
}

/* 컬럼 별 상세설정 */
.item-order-info {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 120%;
}
.item-order-info > .item-order-no > a {
  font-size: 1.2rem;
  color: #666;
}
.item-order-info > .item-order-no > a:hover {
  text-decoration: underline;
}
.item-image img {
  height: 94px;
  width: auto;
  display: block;
}
.item-product:not(.header) {
  padding: 10px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.item-product button {
  margin-right: 5px;
}
.item-product a:hover {
  text-decoration: underline;
}
.item-product-option, .item-selected-option {
  font-size: 1.4rem;
  color: #666;
}
.item-price-set {
  display: inline-flex;
  flex-direction: column;
}
.item-price-origin {
  font-size: 1.3rem;
  color: #666;
  text-decoration: line-through;
}
.item-order-state:not(.header) > p {
  color: #7F7698;
}
.item-choose {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.item-choose > button {
  width: 66px;
}
.item-choose > button:first-child {
  margin-bottom: 2px;
}

#orderNum{
  font-size: 1rem;
  letter-spacing: -0.5px;
}