<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common/default.css">
    <link rel="stylesheet" href="/css/mypage/like.css">
    <title>LAF :: 찜 목록</title>

</head>
<body>
  <th:block th:replace="~{common/header}"></th:block>
  <th:block th:replace="~{common/nav}"></th:block>
    
  <main>
    <!-- 마이페이지 sidebar -->
    <th:block th:replace="~{mypage/mypageSide}"></th:block>
    
    <!-- 마이페이지 content -->
    <section>
      <!-- 섹션 헤더(제목, 설명) -->
      <div class="section-header">
        <div class="section-title">찜 목록</div>
      </div>

      <section id="likeList">
        <table>
          <tr>
            <td class="item-checkbox"><input type="checkbox" name="checkbox"></td>
            <td class="item-image">이미지</td>
            <td class="item-product">상품정보</td>
            <td class="item-price-set">상품금액</td>
            <td class="item-choose">선택</td>
          </tr>
          <tr>
            <td colspan="5" class="item-empty">찜 목록이 비어 있습니다.</td>
          </tr>
          <tr>
            <td class="item-checkbox"><input type="checkbox" name="checkbox"></td>
            <td class="item-image">
              <a href="/views/shopping/product.html">
                <img src="/images/prouduct/thumbnail/1.gif">
              </a>
            </td>
            <td class="item-product">
              <a href="/views/shopping/product.html">
              ✨재구매1등✨ [98project/2만장돌파] 썸머 포드 와이드 슬랙스 - 4 color 제품명이 길 때는 두 줄로 나오고 두 줄보다 길때는 잘라야 함
              </a>
              <p class="item-product-option">
                <button>옵션변경</button>
                [옵션 : <span class="item-selected-option">블랙/L</span>]
              </p>
            </td>
            <td class="item-price-set">
              <div class="item-price">32,500</div>
              <div class="item-price-origin">32,500</div>
            </td>
            <td class="item-choose">
              <button>장바구니담기</button>
              <button>&times; 삭제하기</button>
            </td>
          </tr>
          <tr>
            <td class="item-checkbox"><input type="checkbox" name="checkbox"></td>
            <td class="item-image">
              <a href="/views/shopping/product.html">
                <img src="/images/prouduct/thumbnail/1.gif">
              </a>
            </td>
            <td class="item-product">
              <a href="/views/shopping/product.html">
                ✨재구매1등✨ [98project/2만장돌파] 썸머 포드 와이드 슬랙스 - 4 color
              </a>
              <p class="item-product-option">
                <button>옵션변경</button>
                [옵션 : <span class="item-selected-option">블랙/L</span>]
              </p>
            </td>
            <td class="item-price-set">
              <div class="item-price">32,500</div>
              <div class="item-price-origin"></div>
            </td>
            <td class="item-choose">
              <button>장바구니담기</button>
              <button>&times; 삭제하기</button>
            </td>
          </tr>
        </table>
      
      <div class="btn-container">
        <button>선택상품 삭제</button>
        <button class="submit">장바구니담기</button>
      </div>
    </section>

    <!-- 페이징 -->
    <div class="pagination-area">

      <ul class="pagination">
      
        <!-- 첫 페이지로 이동 -->
        <li><a><img src="/images/common/paging/first-page.svg"></a></li>

        <!-- 이전 목록 마지막 번호로 이동 -->
        <li><a><img src="/images/common/paging/prev-page.svg"></a></li>

        <li><a class="current">1</a></li>
        <li><a>2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li><a>5</a></li>
        <li><a>6</a></li>

        <!-- 다음 목록 시작 번호로 이동 -->
        <li><a><img src="/images/common/paging/next-page.svg"></a></li>
        
        <!-- 끝 페이지로 이동 -->
        <li><a><img src="/images/common/paging/last-page.svg"></a></li>
      </ul>
    </div>

  </main>
  <th:block th:replace="~{common/footer}"></th:block>
</body>
</html>
