<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mypage/like.css">
    <title>LAF :: 찜 목록</title>

</head>
<body>
  <th:block th:replace="~{common/header}"></th:block>
  <th:block th:replace="~{common/nav}"></th:block>
    
  <main>
    <!-- 마이페이지 sidebar -->
    <th:block th:replace="~{myPage/myPageSide}"></th:block>
    
    <!-- 마이페이지 content -->
    <section>
      
      <section id="likeList">
        <!-- 섹션 헤더(제목, 설명) -->
        <div class="section-header">
          <div class="section-title">찜 목록</div>
        </div>
        <table>
          <tr>
            <td class="item-checkbox"><input type="checkbox" id="checkboxSelectAll" name="checkbox"></td>
            <td class="item-image">이미지</td>
            <td class="item-product">상품정보</td>
            <td class="item-price-set">상품금액</td>
            <td class="item-choose">선택</td>
          </tr>

          <tr th:if="!${likeList} or ${#lists.size(likeList) == 0}">
            <td colspan="5" class="item-empty">찜 목록이 비어 있습니다.</td>
          </tr>

          <tr class="data-tr" th:each="product : ${productList}" th:pno ="${product.productNo}">
            <td class="item-checkbox"><input type="checkbox" name="checkbox"></td>
            <td class="item-image">
              <a th:href="@{/product/{c}(c=${product.productNo})}">
                <img th:src="${product.thumbnailPath}">
              </a>
            </td>
            <td class="item-product">
              <a th:href="@{/product/{c}(c=${product.productNo})}" th:text="${product.productName}">상품명</a>
            </td>
            <td class="item-price-set">
              <div class="item-price" th:text="${#numbers.formatInteger(product.productSalePrice, 3, 'COMMA')}">판매가</div>
              <div class="item-price-origin" th:unless="${product.productSale == 0}" th:text="${#numbers.formatInteger(product.productPrice, 3, 'COMMA')}">32,500</div>
            </td>
            <td class="item-choose">
              <button>&times; 삭제하기</button>
            </td>
          </tr>
        </table>
      
      <div class="btn-container">
        <button id="deleteSelectedBtn">선택상품 삭제</button>
      </div>
    </section>

    <!-- 페이징 -->
    <div class="pagination-area">
      <ul class="pagination">

        <!-- 첫 페이지로 이동 -->
        <li><a th:href="@{/myPage/like}">
            <img th:src="@{/images/common/paging/first-page.svg}">
          </a></li>

        <!-- 이전 목록 마지막 번호로 이동 -->
        <li><a th:href="@{/myPage/like(cp=${pagination.prevPage})}">
            <img th:src="@{/images/common/paging/prev-page.svg}">
          </a></li>

        <!-- 특정 페이지로 이동 -->
        <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
          <!-- 현재 보고있는 페이지 -->
          <li th:if="${i == pagination.currentPage}">
            <a class="current" th:text="${i}">현재 페이지</a>
          </li>

          <!-- 현재 페이지를 제외한 나머지 -->
          <li th:unless="${i == pagination.currentPage}">
            <a th:href="@{/myPage/like(cp=${i})}" th:text="${i}">다른 페이지</a>
          </li>
        </th:block>

        <!-- 다음 목록 시작 번호로 이동 -->
        <li><a th:href="@{/myPage/like(cp=${pagination.nextPage})}">
            <img th:src="@{/images/common/paging/next-page.svg}">
          </a></li>

        <!-- 끝 페이지로 이동 -->
        <li><a th:href="@{/myPage/like(cp=${pagination.maxPage})}">
            <img th:src="@{/images/common/paging/last-page.svg}">
          </a></li>
      </ul>
      
    </div>

  </main>
  <th:block th:replace="~{common/footer}"></th:block>
  <script th:src="@{/js/mypage/myPagelike.js}"></script>
</body>
</html>
