<section>
  <link rel="stylesheet" href="/css/common/default.css">
  <link rel="stylesheet" href="/css/mypage/mypageSide.css">
    <!-- 개인화면 사이드 전체 틀 -->
    <div class="mypageSide-sideFrame">
      <div class="mypageSide-sideFrame-myMenu">
        <h3>마이페이지</h3>
        <!-- "마이페이지" 밑 탭 -->
        <dl class="mypageSide-myMenu-menuList">
          <!-- 주문관리 -->
          <dt>주문관리</dt>
          <dd class="mypageSide-menuList-menuContent"><a href="">주문조회</a></dd>
          <dd class="mypageSide-menuList-menuContent"><a href="">관심상품</a></dd>
          <dd class="mypageSide-menuList-menuContent"><a href="">적립금 내역</a></dd>
          <dd class="mypageSide-menuList-menuContent"><a href="">예치금 내역</a></dd>
          <dd class="mypageSide-menuList-menuContent"><a href="">쿠폰 내역</a></dd>
        </dl>
        <dl class="mypageSide-myMenu-menuList">
          <!-- 게시물 관리 -->
          <dt>게시물 관리</dt>
          <dd class="mypageSide-menuList-menuContent"><a href="">내가 쓴 게시물</a></dd>
        </dl>
        <dl class="mypageSide-myMenu-menuList">
          <!-- 정보 관리 -->
          <dt>정보관리</dt>
          <dd class="mypageSide-menuList-menuContent"><a href="">회원정보변경</a></dd>
          <dd class="mypageSide-menuList-menuContent"><a href="">배송지 관리</a></dd>
          <dd class="mypageSide-menuList-menuContent"><a href="">정기배송신청</a></dd>
        </dl>
      </div>
    </div>
</section>