<section>
  <link rel="stylesheet" href="/css/mypage/mypageSide.css">
    <!-- 개인화면 사이드 전체 틀 -->
    <div class="mypageSide-sideFrame">
      <div class="mypageSide-sideFrame-myMenu">
        <a th:href="@{/myPage}"><h3>마이페이지</h3></a>
        <!-- "마이페이지" 밑 탭 -->
        <dl class="mypageSide-myMenu-menuList">
          <!-- 주문관리 -->
          <dt>주문관리</dt>
          <dd class="mypageSide-menuList-menuContent"><a th:href="@{/myPage/order}">주문조회</a></dd>
          <dd class="mypageSide-menuList-menuContent"><a th:href="@{/myPage/like}">찜 목록</a></dd>
          <dd class="mypageSide-menuList-menuContent"><a th:href="@{/myPage/point}">적립금 및 쿠폰</a></dd>
        </dl>
        <dl class="mypageSide-myMenu-menuList">
          <!-- 게시물 관리 -->
          <dt>게시물 관리</dt>
          <dd class="mypageSide-menuList-menuContent"><a th:href="@{/myPage/review}">내가 쓴 리뷰</a></dd>
          <dd class="mypageSide-menuList-menuContent"><a th:href="@{/myPage/qna/1}">1:1 문의 내역</a></dd>
        </dl>
        <dl class="mypageSide-myMenu-menuList">
          <!-- 정보 관리 -->
          <dt>정보관리</dt>
          <dd class="mypageSide-menuList-menuContent"><a th:href="@{/myPage/info}">회원정보 변경</a></dd>
          <dd class="mypageSide-menuList-menuContent"><a th:href="@{/myPage/changePw}">비밀번호 변경</a></dd>
          <dd class="mypageSide-menuList-menuContent"><a th:href="@{/myPage/shipping}">배송지 관리</a></dd>
        </dl>
      </div>
    </div>
</section> 
