<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mypage/review.css">
    <title>LAF :: 내 리뷰 관리</title>
</head>

<body>
  <th:block th:replace="~{/common/header}"></th:block>
  <th:block th:replace="~{/common/nav}"></th:block>
    
    <main>
      <!-- 마이페이지 sidebar -->
      <th:block th:replace="~{/mypage/mypageSide}"></th:block>
      
      <!-- 작성한 리뷰 -->
      <section id="mypageReview">
        <!-- 섹션 헤더(제목, 설명) -->
        <div class="section-header">
          <div class="section-title">내 리뷰 관리</div>
        </div>

        <!-- 하위 메뉴 -->
        <div class="sub-category-container">
          <!-- 현재 카테고리에 current 클래스 추가 -->
          <a href="/my/review"><div class="sub-category current">작성 가능한 리뷰<span>(2)</span></div></a>
          <a href="/my/reivew/list"><div class="sub-category">작성한 리뷰<span>(23)</span></div></a>
        </div>

        <section id="reviewList">
          <table>
            <tr>
              <td class="item-order-info">주문정보</td>
              <td class="item-image">이미지</td>
              <td class="item-product">상품정보</td>
              <td class="item-count">수량</td>
              <td class="item-price-set">구매금액</td>
              <td class="item-choose">선택</td>
            </tr>
            <tr>
              <td colspan="6" class="item-empty">작성 가능한 리뷰가 없습니다.</td>
            </tr>
            <tr>
              <td class="item-order-info">
                <div class="item-order-date">2023-06-04</div>
                <div class="item-order-no"><a href="#">[23060400001002]</a></div>
              </td>
              <td class="item-image">
                <a href="/1/1">
                  <img src="/images/prouduct/thumbnail/1.gif">
                </a>
              </td>
              <td class="item-product">
                <a href="/1/1">
                ✨재구매1등✨ [98project/2만장돌파] 썸머 포드 와이드 슬랙스 - 4 color 제품명이 길 때는 두 줄로 나오...
                </a>
                <p class="item-product-option">
                  [옵션 : <span class="item-selected-option">블랙/L</span>]
                </p>
              </td>
              <td class="item-count">1</td>
              <td class="item-price-set">
                <div class="item-price">32,500</div>
              </td>
              <td class="item-choose">
                <button>리뷰작성</button>
              </td>
            </tr>
            <tr>
              <td class="item-order-info">
                <div class="item-order-date">2023-06-04</div>
                <div class="item-order-no"><a href="#">[23060400001001]</a></div>
              </td>
              <td class="item-image">
                <a href="/1/1">
                  <img src="/images/prouduct/thumbnail/1.gif">
                </a>
              </td>
              <td class="item-product">
                <a href="/1/1">
                  ✨재구매1등✨ [98project/2만장돌파] 썸머 포드
                </a>
                <p class="item-product-option">
                  [옵션 : <span class="item-selected-option">블랙/L</span>]
                </p>
              </td>
              <td class="item-count">2</td>
              <td class="item-price-set">
                <div class="item-price">32,500</div>
              </td>
              <td class="item-choose">
                <button>리뷰작성</button>
              </td>
            </tr>
          </table>
      </section>

      <!-- 페이징 -->
      <div class="pagination-area">

        <ul class="pagination">
        
          <!-- 첫 페이지로 이동 -->
          <li><a><img src="/images/common/paging/first-page.svg"></a></li>

          <!-- 이전 목록 마지막 번호로 이동 -->
          <li><a><img src="/images/common/paging/prev-page.svg"></a></li>

          <li><a class="current">1</a></li>
          <li><a>2</a></li>
          <li><a>3</a></li>
          <li><a>4</a></li>
          <li><a>5</a></li>
          <li><a>6</a></li>

          <!-- 다음 목록 시작 번호로 이동 -->
          <li><a><img src="/images/common/paging/next-page.svg"></a></li>
          
          <!-- 끝 페이지로 이동 -->
          <li><a><img src="/images/common/paging/last-page.svg"></a></li>
        </ul>
      </div>
    </section>
  </main>

  <th:block th:replace="~{/common/footer}"></th:block>
</body>
</html>
