
  <!-- 회원 상세 모달창 -->
     <div class="member-modal-overlay" id="memberModalOverlay">
      <div class="member-modal-window">
        <table class="member-modal-table">
          <tbody>
            <!-- 6행 6열 -->
            <tr>
              <td>회원 이름</td>
              <td colspan="5">유저일</td>
            </tr>
            <tr>
              <td>가입 환경</td>
              <td colspan="5">일반 회원 가입</td>
            </tr>
            <tr>
              <td>가입일</td>
              <td>23-06-01</td>
              <td>상태</td>
              <td>
                정상 회원
                <button>수정</button>
              </td>
              <td>등급</td>
              <td>
                실버
                <button>수정</button>
              </td>
            </tr>
            <tr>
              <td>아이디</td>
              <td>user01</td>
              <td>생일</td>
              <td colspan="4">90-05-31</td>
            </tr>
            <tr>
              <td>주소</td>
              <td colspan="5">서울시 중구 남대문로 120 대일빌딩 2층 kh 정보교육원 종로지원</td>
            </tr>
            <tr>
              <td>기본 배송지</td>
              <td colspan="5">서울시 중구 남대문로 120 대일빌딩 2층 kh 정보교육원 종로지원</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="btn-container">
        <button class="member-modal-close button">닫기</button>
      </div>

<script>
  

</script>



