
  <!-- 회원 상세 모달창 -->
  <div class="member-modal-overlay" id="memberModalOverlay">
    <div class="member-modal-window">
      <table class="member-modal-table">
        <tbody>
          <!-- 6행 6열 -->
          <tr>
            <td>회원 이름</td>
            <td colspan="5">유저일</td>
          </tr>
          <tr>
            <td>가입 환경</td>
            <td colspan="5">일반 회원 가입</td>
          </tr>
          <tr>
            <td>가입일</td>
            <td>23-06-01</td>
            <td>상태</td>
            <td>
              <div>
                정상 회원
                <button>수정</button>
              </div>
            </td>
            <td>등급</td>
            <td>
              <div>
                <span>실버</span>
                <button>수정</button>
              </div>
            </td>
          </tr>
          <tr>
            <td>아이디</td>
            <td>user01</td>
            <td>생일</td>
            <td colspan="4">90-05-31</td>
          </tr>
          <tr>
            <td>주소</td>
            <td colspan="5">서울시 중구 남대문로 120 대일빌딩 2층 kh 정보교육원 종로지원</td>
          </tr>
          <tr>
            <td>기본 배송지</td>
            <td colspan="5">서울시 중구 남대문로 120 대일빌딩 2층 kh 정보교육원 종로지원</td>
          </tr>
        </tbody>
      </table>
      <div class="member-modal-orderlist">
        <table>
          <tr>
            <td>주문정보</td>
            <td>이미지</td>
            <td>상품정보</td>
            <td>수량</td>
            <td>구매금액</td>
            <td>주문처리상태</td>
            <td>선택</td>
          </tr>
          <tr>
            <td class="item-order-info">
              <div>2023-06-04</div>
              <div><a href="#">[23060400001002]</a></div>
            </td>
            <td>
              <a href="/product/1">
                <img src="/images/prouduct/thumbnail/1.gif">
              </a>
            </td>
            <td>
              <a href="/product/1">
              ✨재구매1등✨ [98project/2만장돌파] 썸머 포드 와이드 슬랙스 - 4 color 제품명이 길 때는 두 줄로 나오...
              </a>
              <p class="item-product-option">
                [옵션 : <span class="item-selected-option">블랙/L</span>]
              </p>
            </td>
            <td>1</td>
            <td>
              <div>32,500</div>
            </td>
            <td>
              <p>입금확인중</p>
            </td>
            <td>
              <p>-</p>
            </td>
          </tr>
          <tr>
            <td class="item-order-info">
              <div>2023-06-04</div>
              <div><a href="#">[23060400001002]</a></div>
            </td>
            <td>
              <a href="/product/1">
                <img src="/images/prouduct/thumbnail/1.gif">
              </a>
            </td>
            <td>
              <a href="/product/1">
              ✨재구매1등✨ [98project/2만장돌파] 썸머 포드 와이드 슬랙스 - 4 color 제품명이 길 때는 두 줄로 나오...
              </a>
              <p class="item-product-option">
                [옵션 : <span class="item-selected-option">블랙/L</span>]
              </p>
            </td>
            <td>1</td>
            <td>
              <div>32,500</div>
            </td>
            <td>
              <p>배송완료</p>
            </td>
            <td>
              <p>-</p>
            </td>
          </tr>
        </table>
      </div>
            <!-- 페이지네이션 영역 -->
      <div class="pagination-area">
        <ul class="pagination resizing-margin">
          <!-- 이전 목록 마지막 번호로 이동 -->
          <li><a href="#">&lt;</a></li>

          <!-- 특정 페이지로 이동 -->
          <li><a class="current">1</a></li> <!-- 현재 페이지 -->
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>

          <!-- 다음 목록 시작 번호로 이동 -->
          <li><a href="#">&gt;</a></li>
        </ul>
      </div>
      <!-- 하단 버튼 영역 -->
      <div class="btn-area btn-to-wright">
        <button class="button">닫기</button>                     
      </div>
    </div>
<script>


</script>


