<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin/adminMember/member.css">
  <title>관리자 :: 회원관리</title>
</head>
<body>

  <th:block th:replace="~{/admin/adminHeader}"></th:block>
  
  <main>
    <section class="admin-container">
      <div class="member-content">
        <div>
          <span class="member-content-title">회원 관리</span>
        </div>
        <div class="member-search-box">
          <div class="member-search">
            <div>검색어</div>
            <div>
              <select>
                <option>전체</option>
                <option>이름</option>
                <option>아이디</option>
                <option>이메일</option>
              </select>
            </div>
            <div>
              <input type="text">
            </div>
            <div class="member-search-btn">
              <button type="button">검색</button>
              <button type="button">초기화</button>
            </div>
          </div>
        </div>
        <div class="member-result-box">
          <div class="member-result-top">
            <div>최근가입일순(검색결과 7 건)</div>
            <div>
              <button type="button" id="OpenPointModal">적립금 지급</button>
              <button type="button" id="OpenCuponModal">쿠폰 지급</button>
            </div>
          </div>
          <table class="member-result">
            <tr class="pretr">
              <td><input type="checkbox"></td>
              <td>번호</td>
              <td>아이디</td>
              <td>이름</td>
              <td>이메일</td>
              <td>등급</td>
              <td>적립금</td>
              <td>가입일</td>
            </tr>
            <tr class="selected-member">
              <td><input type="checkbox"></td>
              <td>76</td>
              <td>USER01</td>
              <td>유저일</td>
              <td>user01.kh.or.kr</td>
              <td>일반</td>
              <td>2,000</td>
              <td>2023-06-08</td>
            </tr>
            <tr class="selected-member">
              <td><input type="checkbox"></td>
              <td>76</td>
              <td>USER01</td>
              <td>유저일</td>
              <td>user01.kh.or.kr</td>
              <td>일반</td>
              <td>2,000</td>
              <td>2023-06-08</td>
            </tr>
            <tr class="selected-member">
              <td><input type="checkbox"></td>
              <td>76</td>
              <td>USER01</td>
              <td>유저일</td>
              <td>user01.kh.or.kr</td>
              <td>일반</td>
              <td>2,000</td>
              <td>2023-06-08</td>
            </tr>
            <tr class="selected-member">
              <td><input type="checkbox"></td>
              <td>76</td>
              <td>USER01</td>
              <td>유저일</td>
              <td>user01.kh.or.kr</td>
              <td>일반</td>
              <td>2,000</td>
              <td>2023-06-08</td>
            </tr>
          </table>
        </div>
      </div>
    </section>
    <!-- 리뷰 모달(상세조회, 수정) -->
    <th:block th:replace="~{admin/adminMember/memberModal}"></th:block>
  </main>
</body>
</html>