
<!-- 회원 상세 모달창 -->
<div class="member-modal-overlay" id="memberModalOverlay">
  <div class="member-modal-window">
    <div class="member-modal-title">
      <span>회원 상세</span>
    </div>
    <div class="member-modal-subtitle"><span>회원 정보</span></div>
    <table class="member-modal-table">
      <tbody>
        <!-- 6행 6열 -->
        <tr>
          <td>회원 이름</td>
          <td colspan="5" id="selectedMemberName">유저일</td>
        </tr>
        <tr>
          <td>가입 환경</td>
          <td colspan="5" id="selectedMemberInvironment">일반 회원 가입</td>
        </tr>
        <tr>
          <td>가입일</td>
          <td id="selectedMemberEnrollDate">23-06-01</td>
          <td>상태</td>
          <td>
            <div>
              <span id="selectedMemberStatus">정상 회원</span>
            </div>
          </td>
          <td>등급</td>
          <td>
            <div>
              <span id="selectedMemberGrade">실버</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>아이디</td>
          <td id="selectedMemberId">user01</td>
          <td>생일</td>
          <td colspan="4" id="selectedMemberBirth">90-05-31</td>
        </tr>
        <tr>
          <td>주소</td>
          <td colspan="5" id="selectedMemberAddress">서울시 중구 남대문로 120 대일빌딩 2층 kh 정보교육원 종로지원</td>
        </tr>
        <tr>
          <td>기본 배송지</td>
          <td colspan="5" id="selectedMemberDefaultAddress"></td>
        </tr>
      </tbody>
    </table>
    <div class="member-modal-orderlist">
      <div class="member-modal-subtitle"><span>주문 내역</span></div>
      <table id="member-modal-orderlist-table">
        <thead>
          <tr>
            <td>주문정보</td>
            <td>이미지</td>
            <td>상품정보</td>
            <td>수량</td>
            <td>구매금액</td>
            <td>주문처리상태</td>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <!-- 페이징 -->
      <div class="pagination-area" id="orderListPaginationArea">
      </div>
    </div>
    <div class="member-modal-ponitList">
      <div class="member-modal-subtitle"><span>적립금 지급 및 차감 내역</span></div>
      <table id="member-modal-pointList-table">
        <thead>
          <tr>
            <td>번호</td>
            <td>구분</td>
            <td>지급/차감 포인트 금액</td>
            <td>사유</td>
            <td>지급일</td>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div class="pagination-area" id="pointListPaginationArea">
      </div>
    </div>
    <!-- 하단 버튼 영역 -->
    <div class="btn-area">
      <button class="button member-modal-close">닫기</button>                     
    </div>
  </div>
</div>









<!-- 쿠폰 발급 모달창 -->
<div class="member-cupon-modal-overlay" id="memberCuponModalOverlay">
  <div class="member-cupon-modal-window">
    <form action="/admin/member/coupon" method="get" id="submitCoupon">
      <table class="member-cupon-modal-table">
        <div class="member-modal-title">
          <span>쿠폰 지급</span>
        </div>
        <tbody>
          <!-- 4행 4열 -->
          <tr>
            <td>쿠폰명</td>
            <td colspan="3"><input type="text" id="couponName" name="couponName"></td>
          </tr>
          <tr>
            <td>쿠폰 대상</td>
            <td>        
              <select name="memberNo" id="memberCuponKey">
                <option value="1">전체 회원</option>
                <option value="2">브론즈 회원</option>
                <option value="3">실버 회원</option>
                <option value="4">골드 회원</option>
                <option value="5">다이아 회원</option>
              </select>
            </td>
            <td>유효기간</td>
            <td>
              <div class="cupon-detail-date">
                <div>
                  <input type="date" name="couponGetDate" id="couponGetDate"> ~ <input type="date" name="couponDueDate" id="couponDueDate">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td rowspan="2">쿠폰 세부 정보</td>
            <td colspan="3">
              <div class="cupon-detail-top">
                <span>모든 주문에</span>
                <select name="couponAmount" id="memberCuponDiscountKey">
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
                  <option value="40">40</option>
                  <option value="50">50</option>
                  <option value="1000">1,000</option>
                  <option value="2000">2,000</option>
                  <option value="5000">5,000</option>
                  <option value="10000">10,000</option>
                </select>
                <select name="couponUnit" id="memberCuponDiscountPerWonKey">
                  <option value="P">%</option>
                  <option value="M">원</option>
                </select>
                <span>할인</span>
                <select name="couponCondition" id="memberCuponDiscountOverKey">
                  <option value="20000">20,000</option>
                  <option value="30000">30,000</option>
                  <option value="50000">50,000</option>
                  <option value="100000">100,000</option>
                </select>
                <span>원 이상 구매시 적용</span>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="cupon-detail-top"v>
                <span>최대 할인 금액</span>
                <select name="couponMaxDiscount" id="memberCuponDiscountLimitKey">
                  <option value="30000">30,000</option>
                  <option value="50000">50,000</option>
                </select>
              </div>
            </td>
        </tbody>
      </table>
      <!-- 하단 버튼 영역 -->
      <div class="member-cupon-btn-area">
        <button class="button member-cupon-modal-close">지급</button>
        <button type="button" class="button member-cupon-modal-close" id="cuponModalClose">닫기</button>
      </div>
    </form>
  </div>
</div>

<!-- 적립금 발급 모달창 -->
<div class="member-point-modal-overlay" id="memberPointModalOverlay">
  <div class="member-point-modal-window">
    <form action="/admin/member/point" id="submitPoint">
      <table class="member-point-modal-table">
        <div class="member-modal-title">
          <span>적립금 지급</span>
        </div>
        <tbody>
          <!-- 3행 4열 -->
          <tr>
            <td>대상 회원</td>
            <td colspan="3">
              <div>
                <div class="point-member">
                </div>
                <div id="moreMember">
                  &or;
                </div>
              </div>
              <div>
                <div class="point-member-all" id="pointMemberAll"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td>적립금</td>
            <td>        
              <select name="pointSort" id="memberPointMarkKey">
                <option value="G">지급 (+) </option>
                <option value="C">차감 (-) </option>
              </select>
              <input type="text" id="pointAmount" name="pointAmount">
              <span>원</span>
            </td>
            <td>유효기간</td>
            <td>
              <div class="point-detail-date">
                <div>
                  <input type="date" name="pointDate" id="pointDate"> ~ <input type="date" name="pointDueDate" id="pointDueDate">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>사유</td>
            <td colspan="3">
              <div class="point-reason">
                <input type="text" name="pointContent" id="pointContent">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- 하단 버튼 영역 -->
      <div class="member-point-btn-area">
        <button class="button member-point-modal-close">지급</button>
        <button type="button" class="button member-point-modal-close" id="pointModalClose">닫기</button>
      </div>
    </form>
  </div>

<script src="/js/admin/adminMember/member.js"></script>


</body>
</html>

