<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin/adminMember/member.css">
  <title>관리자 :: 회원관리</title>
</head>
<body>

  <th:block th:replace="~{admin/adminHeader}"></th:block>
  <main>
    <section class="admin-container">
      <div class="member-content">
        <div>
          <span class="member-content-title">회원 관리</span>
        </div>
        <div class="member-search-box">
          <form action="/admin/member" method="get">
            <div class="member-search">
              <div>검색어</div>
              <div>
                <select id="queryKey" name="qk">
                  <option name="qk" value="all">전체</option>
                  <option name="qk" value="name">이름</option>
                  <option name="qk" value="id">아이디</option>
                  <option name="qk" value="email">이메일</option>
                </select>
              </div>
              <div>
                <input id="query" name="query" type="text" placeholder="검색어를 입력하세요">
              </div>
              <div class="member-search-btn">
                <button type="reset" id="restBtn">초기화</button>
                <button id="submitBtn" class="selected">검색</button>
              </div>
            </div>
          </form>
        </div>
        <!-- 조회 결과 -->
        <div class="member-result-box">
          <div class="member-result-top">
            <div>
              <span>최근가입일순(검색결과</span>
              <span th:text="${listCount}">회원수</span>
              <span>건)</span>
            </div>
            <div>
              <button type="button" id="OpenPointModal">적립금 지급</button>
              <button type="button" id="OpenCuponModal">쿠폰 지급</button>
            </div>
          </div>
          <!-- 검색결과 테이블 -->
          <table class="member-result">
            <tr class="pretr">
              <td><input type="checkbox" id="headCheckbox"></td>
              <td>번호</td>
              <td>아이디</td>
              <td>이름</td>
              <td>이메일</td>
              <td>등급</td>
              <td>상태</td>
              <td>적립금</td>
              <td>가입일</td>
            </tr>
            <th:block th:each="member : ${memberList}">
              <tr th:unless="${listCount == 0}" class="selected-member" th:memberNo="${member.memberNo}">
                <td onclick="event.stopPropagation();">
                  <input type="checkbox"  class="admin-member-checkbox" name="selectedMember" th:value="${member}">
                </td>
                <td th:text="${member.memberNo}">번호</td>
                <td th:text="${member.memberId}">아이디</td>
                <td th:text="${member.memberName}">이름</td>
                <td th:text="${member.memberEmail}">이메일</td>
                <td>
                  <th:block th:switch="*{member.memberGrade}">
                    <span th:case="B">BRONZE</span>
                    <span th:case="S">SILVER</span>
                    <span th:case="G">GOLD</span>
                    <span th:case="D">DIAMOND</span>
                    <span th:case="A">ADMIN</span>
                  </th:block>
                </td>
                <td>
                  <th:block th:switch="*{member.memberDelFL}">
                    <span th:case="N">일반회원</span>
                    <span th:case="Y">탈퇴회원</span>
                  </th:block>
                </td>
                <td th:if="${member.memberPoint != 0}" th:text="|${#numbers.formatInteger(member.memberPoint, 3, 'COMMA')} 원|">적립금</td>
                <td th:unless="${member.memberPoint != 0}">0 원</td>
                <td th:text="${#strings.substring(member.memberEnrollDate,0,11)}">가입일</td>
              </tr>
            </th:block>
          </table>
        </div>
        <!-- 페이징 -->
        <div class="pagination-area">
          <ul th:unless="${listCount == 0}" class="pagination">
            <!-- 첫 페이지로 이동 -->
            <li><a th:href="@{/admin/member(cp=1, qk=${paramMap[qk]}, query=${paramMap[query]})}">
                <img th:src="@{/images/common/paging/first-page.svg}">
              </a></li>

            <!-- 이전 목록 마지막 번호로 이동 -->
            <li><a th:href="@{/admin/member(cp=${pagination.prevPage}, qk=${paramMap[qk]}, query=${paramMap[query]})}">
                <img th:src="@{/images/common/paging/prev-page.svg}">
              </a></li>

            <!-- 특정 페이지로 이동 -->
            <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
              <!-- 현재 보고있는 페이지 -->
              <li th:if="${i == pagination.currentPage}">
                <a class="current" th:text="${i}">현재 페이지</a>
              </li>

              <!-- 현재 페이지를 제외한 나머지 -->
              <li th:unless="${i == pagination.currentPage}">
                <a th:href="@{/admin/member(cp=${i}, qk=${paramMap[qk]}, query=${paramMap[query]})}" th:text="${i}"></a>
              </li>
            </th:block>

            <!-- 다음 목록 시작 번호로 이동 -->
            <li><a th:href="@{/admin/member(cp=${pagination.nextPage}, qk=${paramMap[qk]}, query=${paramMap[query]})}">
                <img th:src="@{/images/common/paging/next-page.svg}">
              </a></li>

            <!-- 끝 페이지로 이동 -->
            <li><a th:href="@{/admin/member(cp=${pagination.maxPage}, qk=${paramMap[qk]}, query=${paramMap[query]})}">
                <img th:src="@{/images/common/paging/last-page.svg}">
              </a></li>
          </ul>
        </div>
      </div>
    </section>
    <!-- 리뷰 모달(상세조회, 수정) -->
    <th:block th:replace="~{admin/adminMember/memberModal}"></th:block>

  </main>
</body>
</html>