* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #222;
  /* border: 1px solid black; */
}

body {
  display: flex;
  flex-direction: column;
  background-color: #7F7698;
}

main {
  padding-bottom: 200px;
  background-color: white;
  border-radius: 0 0 200px 0;
}

li {
  list-style: none;
}

a {
  color: #222;
  text-decoration: none;
}

table{
  border-collapse: collapse;
}

button{
  font-family: SUITE-Regular;
}

/* hidden */
.hidden{
  display: none !important;
}

/* 폰트 */
html{
  font-size: 62.5%;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* pagenation */
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.pagination li {
  width: 20px;
  font-size: 12px;
  font-weight: bold;
  border: 0.5px solid #ccc;
  border-right: none;
  width: 35px;
  height: 35px;
}
.pagination li:last-child {
  border: 0.5px solid #ccc;
  border-radius: 0 2px 2px 0;
}
.pagination li:first-child {
  border-radius: 2px 0 0 2px;
}
.pagination a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #666;
  cursor: pointer;
}
.pagination a:hover {
  color: #222;
  background-color: #eee;
  transition-duration: 0.2s;
}
.pagination a.current {
  border-bottom: 3px solid #222;
  color: #222;
}

/* 좋아요 버튼 이미지 */
img.like {
  width: 25px;
  height: 23px;
  cursor: pointer;
}

/* hr */
hr {
  height: 0.5px;
  border: none;
  background-color: #eee;
}
hr.dark {
  background-color: #ccc;
}
hr.darker {
  background-color: #999;
}

/* 서브 카테고리(페이지 내 섹션 구분) */
.sub-category-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  border-bottom: 0.5px solid #eee;
}
.sub-category {
  border-top: 0.5px solid #eee;
  border-right: 0.5px solid #eee;
  width: 170px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition-duration: 0.2s;
  cursor: pointer;
}
.sub-category.current {
  background-color: #7F7698;
  color: white;
}
.sub-category:hover {
  transition-duration: 0.2s;
  background-color: #7F7698;
  color: white;
}
.sub-category:first-child {
  border-left: 0.5px solid #eee;
}

/* section 헤더(제목, 설명) */
.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.section-title {
  font-size: 25px;
  margin: 4px 0;
}
.section-description {
  color: #666;
  font-size: 12px;
}

/* 버튼 기본 스타일 */
button {
  width: auto;
  height: 27px;
  padding: 0px 8px;
  
  background-color: white;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  color: #222;
  font-size: 14px;
  cursor: pointer;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  background-color: #eee;
}
button.selected {
  border: 0.5px solid #666;
  background-color: #eee;
}
button.submit {
  background-color: #7F7698;
  color: white;
}
button:hover.submit {
  background-color: #493e5d;
}