<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LAF</title>
  <link rel="stylesheet" href="/resources/css/common/default.css">
  <link rel="stylesheet" href="/resources/css/main.css">
</head>
<body>

  <header class="link" data-include="/views/common/header.html"></header>
  <nav class="link" data-include="/views/common/nav.html"></nav>

  <main>
    <section class="main-banner">
      <input type="radio" name="slide" id="slide1" checked>
      <input type="radio" name="slide" id="slide2">
      <input type="radio" name="slide" id="slide3">
      <input type="radio" name="slide" id="slide4">
      <input type="radio" name="slide" id="slide5">
      <input type="radio" name="slide" id="slide6">
      <ul class="slide-img">
        <li><a href="#"><img class="main-banner-img" src="/resources/images/sample1.png"></a></li>
        <li><a href="#"><img class="main-banner-img" src="/resources/images/sample2.png"></a></li>
        <li><a href="#"><img class="main-banner-img" src="/resources/images/sample3.png"></a></li>
        <li><a href="#"><img class="main-banner-img" src="/resources/images/sample4.png"></a></li>
        <li><a href="#"><img class="main-banner-img" src="/resources/images/sample5.png"></a></li>
        <li><a href="#"><img class="main-banner-img" src="/resources/images/sample6.png"></a></li>
      </ul>
      <div class="main-banner-dot">
        <label for="slide1">&nbsp;</label>
        <label for="slide2">&nbsp;</label>
        <label for="slide3">&nbsp;</label>
        <label for="slide4">&nbsp;</label>
        <label for="slide5">&nbsp;</label>
        <label for="slide6">&nbsp;</label>
      </div>
      <button class="main-banner-lbtn">?</button>
      <button class="main-banner-rbtn">?</button>
    </section>

    <section class="main-product">
      <div class="main-product-left">
        <a href="#"><img class="mainBannerImg" src="/resources/images/sample5.png"></a>
      </div>
      <div class="main-product-right">
        <a href="#"><img class="mainBannerImg" src="/resources/images/sample6.png"></a>
      </div>
    </section>

    <section class="md-recommend">
      <div class="md-recommend-left">
        <p>MD<br>Recommend<br>Product</p>
        <p>daily look<br>made by<br>L&F</p>
        <div class="md-recommend-btn">
          <button>?</button>
          <button>?</button>
        </div>
      </div>
      <div class="md-recommend-right">
        <ul class="md-recommend-list">
          <li>
            <a href="#"><img class="md-recommend-img" src="/resources/images/sample1.png"></a>
            <div class="hidden md-recommend-hover" id="imgDescription">
              <div>1천장돌파-썸머-클로-여유핏-브이넷-가디건</div>
              <div>
                <span>28,500</span>
                <span>55,500</span>
              </div>
              <div>리뷰개수 : 12개</div>
            </div>
          </li>
          <li>
            <a href="#"><img class="md-recommend-img" src="/resources/images/sample2.png"></a>
            <div class="hidden md-recommend-hover" id="imgDescription">
              <div>20장돌파-오버클로-뭐시기-브이넷-가디건</div>
              <div>
                <span>44,400</span>
                <span>66,500</span>
              </div>
              <div>리뷰개수 : 7개</div>
            </div>
          </li>
          <li>
            <a href="#"><img class="md-recommend-img" src="/resources/images/sample3.png"></a>
            <div class="hidden md-recommend-hover" id="imgDescription">
              <div>2천장돌파-썸머-수박-집보내줘-브이넷-가디건</div>
              <div>
                <span>11,500</span>
                <span>22,500</span>
              </div>
              <div>리뷰개수 : 99개</div>
            </div>
          </li>
          <li>
            <a href="#"><img class="md-recommend-img" src="/resources/images/sample4.png"></a>
            <div class="hidden md-recommend-hover" id="imgDescription">
              <div>500장돌파-가을-홈리스핏-잠옷</div>
              <div>
                <span>89,500</span>
                <span>125,500</span>
              </div>
              <div>리뷰개수 : 112개</div>
            </div>
          </li>
          <!-- <li><a href="#"><img class="md-recommend-img" src="/resources/images/sample5.png"></a></li> -->
          <!-- <li><a href="#"><img class="md-recommend-img" src="/resources/images/sample6.png"></a></li> -->
        </ul>
      </div>
    </section>

    <section class="weekly">
      <div class="weekly-title">
        <div>
          <span>WEEKLY BEST</span>
        </div>
        <div>
          <button>Outer</button>
          <button>Top</button>
          <button>Pants</button>
          <button>Bag/Shoes</button>
        </div>
      </div>
      <table>
        <tr>
          <td rowspan="2">
            <a href="#"><img class="weekly-big-img" src="/resources/images/sample1.png"></a>
            <div class=" weekly-big-hover" id="imgDescription">
              <div>1천장돌파-썸머-클로-여유핏-브이넷-가디건</div>
              <div>
                <span>28,500</span>
                <span>55,500</span>
              </div>
              <div>리뷰개수 : 12개</div>
            </div>
          </td>
          <td>
            <a href="#"><img class="weekly-img" src="/resources/images/sample2.png"></a>
            <div class=" weekly-hover" id="imgDescription">
              <div>1천장돌파-썸머-클로-여유핏-브이넷-가디건</div>
              <div>
                <span>28,500</span>
                <span>55,500</span>
              </div>
              <div>리뷰개수 : 12개</div>
            </div>
          </td>
          <td>
            <a href="#"><img class="weekly-img" src="/resources/images/sample3.png"></a>
            <div class="hidden weekly-hover" id="imgDescription">
              <div>1천장돌파-썸머-클로-여유핏-브이넷-가디건</div>
              <div>
                <span>28,500</span>
                <span>55,500</span>
              </div>
              <div>리뷰개수 : 12개</div>
            </div>
          </td>
          <td>
            <a href="#"><img class="weekly-img" src="/resources/images/sample4.png"></a>
            <div class="hidden weekly-hover" id="imgDescription">
              <div>1천장돌파-썸머-클로-여유핏-브이넷-가디건</div>
              <div>
                <span>28,500</span>
                <span>55,500</span>
              </div>
              <div>리뷰개수 : 12개</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#"><img class="weekly-img" src="/resources/images/sample5.png"></a>
            <div class="hidden weekly-hover" id="imgDescription">
              <div>1천장돌파-썸머-클로-여유핏-브이넷-가디건</div>
              <div>
                <span>28,500</span>
                <span>55,500</span>
              </div>
              <div>리뷰개수 : 12개</div>
            </div>
          </td>
          <td>
            <a href="#"><img class="weekly-img" src="/resources/images/sample6.png"></a>
            <div class="hidden weekly-hover" id="imgDescription">
              <div>1천장돌파-썸머-클로-여유핏-브이넷-가디건</div>
              <div>
                <span>28,500</span>
                <span>55,500</span>
              </div>
              <div>리뷰개수 : 12개</div>
            </div>
          </td>
          <td>
            <a href="#"><img class="weekly-img" src="/resources/images/sample1.png"></a>
            <div class="hidden weekly-hover" id="imgDescription">
              <div>1천장돌파-썸머-클로-여유핏-브이넷-가디건</div>
              <div>
                <span>28,500</span>
                <span>55,500</span>
              </div>
              <div>리뷰개수 : 12개</div>
            </div>
          </td>
        </tr>
      </table>
    </section>
    
    <section class="new">
      <div class="new-title">
        <span>NEW ARRIVAL</span>
      </div>
      <div>
        <ul class="new-list">
          <li><a href="#"><img class="md-recommend-img" src="/resources/images/sample1.png"></a></li>
          <li><a href="#"><img class="md-recommend-img" src="/resources/images/sample2.png"></a></li>
          <li><a href="#"><img class="md-recommend-img" src="/resources/images/sample3.png"></a></li>
          <li><a href="#"><img class="md-recommend-img" src="/resources/images/sample4.png"></a></li>
          <li><a href="#"><img class="md-recommend-img" src="/resources/images/sample5.png"></a></li>
        </ul>
      </div>
    </section>
    <section class="only">
      <div>
        <span>ONLY FOR YOU</span>
      </div>
      <div>
        <ul class="only-list">
          <li><a href="#"><img class="md-recommend-img" src="/resources/images/sample1.png"></a></li>
          <li><a href="#"><img class="md-recommend-img" src="/resources/images/sample2.png"></a></li>
          <li><a href="#"><img class="md-recommend-img" src="/resources/images/sample3.png"></a></li>
          <li><a href="#"><img class="md-recommend-img" src="/resources/images/sample4.png"></a></li>
          <li><a href="#"><img class="md-recommend-img" src="/resources/images/sample5.png"></a></li>
        </ul>
      </div>
    </section>
  </main>
  
  <footer class="link" data-include="/views/common/footer.html"></footer>

  <script src="/resources/js/common/default.js"></script>
  <script src="/resources/js/main.js"></script>
</body>
</html>