<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/resources/css/common/default.css">
  <title>관리자::MAINVIEW</title>
</head>
<body>

  <header class="link" data-include="/views/admin/adminheader.html"></header>
  
  <main>
    <section class="adminContainer">
      여기에 작성해주세요
    </section>
  </main>

  <footer class="link" data-include="/views/common/footer.html"></footer>

  <script src="/resources/js/common/default.js"></script>

</body>
</html>