<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.kh.laf.product.model.mapper.CartMapper">

	<!-- 장바구니에 상품 추가 -->
	<insert id="insertCart" parameterType="list">
		insert into `cart`
		values
			<foreach collection="list" item="cart" separator=",">
			(
				${cart.productNo},
				${cart.memberNo},
				${cart.optionNo},
				${cart.count}
			)
			</foreach>
	</insert>
	
	<!-- 장바구니에 상품 선택 삭제 -->
	<delete id="deleteCart" parameterType="list">
		delete from `cart`
		<where>
			<foreach collection="list" item="cart" separator="or">
			(
				member_no = ${cart.memberNo}
				and product_no = ${cart.productNo}
				and option_no = ${cart.optionNo}
			)
			</foreach>
		</where>
	</delete>
	
	<!-- 장바구니에 상품 전체 삭제 -->
	<delete id="deleteCartAll" parameterType="long">
		delete from `cart`
		where member_no = ${memberNo}
	</delete>
	
	<!-- 유저 번호로 장바구니 목록 조회 -->
	<select id="selectCart" resultType="Cart">
		select *
		from `cart`
		where member_no = ${memberNo}
	</select>
	
	<!-- [회원] 장바구니 상품 갯수 조회 -->
	<select id="getCartCount">
		select count(*)
		from `cart`
		where member_no = ${memberNo}
	</select>
</mapper>

