<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.laf.chatbot.model.mapper.ChatbotMapper">
	
	<select id="faqAnswer" resultType="Faq">
		SELECT * 
		FROM faq 
		WHERE faq_category
			<if test='categoryValue=="상품"'>
				= 1
			</if> 
			<if test='categoryValue=="배송"'>
				= 2
			</if>
			<if test='categoryValue=="교환"'>
				= 3
			</if>
			<if test='categoryValue=="기타"'> 
				= 4
			</if>
		ORDER BY faq_order
	</select>
	<select id="searchAnswer" resultType="Faq">
		SELECT 
			subquery.faq_no,
			subquery.faq_title,
			subquery.faq_content
			
		FROM 
			(SELECT 
				faq_no,
				faq_title,
				faq_content,
				0
				<foreach collection='list' item='i'>
					+ (SELECT count(*) FROM faq a WHERE faq_title LIKE '%${i}%' AND a.faq_no=f.faq_no)
				</foreach>
				count
			FROM faq f 
			ORDER BY count DESC) AS subquery
		WHERE count>0
	</select>

    
    
    
</mapper>

