<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.laf.mypage.model.mapper.MypageReviewMapper">

	
	<!-- myReviewList -->
     <select id="myReview" resultType="Review">
        SELECT o.order_no, product_no,  
        	   member_no, option_no, 
        	   count 
        FROM `order` o RIGHT JOIN `order_product` op ON (o.order_no=op.order_no)  
        WHERE member_no=#{memberNo} AND review_no IS null
    </select>
    
	<!-- myReviewOption -->
     <select id="myOrderOption" resultType="Option">
        SELECT * FROM `option` o WHERE option_no=#{optionNo}
    </select>
    
	<!-- myReviewOption -->
     <select id="myOrderProduct" resultType="Product">
        SELECT `product`.product_no,
				product_name,
				product_price,
				product_sale_price,
				product_sale,
				product_point,
				product_state,
				DATE_FORMAT(product_date, '%Y-%m-%d') AS product_date,
				img_path AS thumbnail_path
		FROM   `product`
				JOIN `product_img` ON `product`.product_no = `product_img`.product_no WHERE `product`.product_no=#{productNo}
    </select>
    
    <!-- myReviewList -->
     <select id="myWrittenReview" resultType="Review">
        SELECT o.order_no, product_no,  member_no, option_no, count FROM `order` o RIGHT JOIN `order_product` op ON (o.order_no=op.order_no)  WHERE member_no=#{memberNo} AND review_no IS NOT null
    </select>
    

</mapper>

