<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.laf.order.model.mapper.OrderMapper">
    
    <!-- 주문자조회 -->
    <select id="selectOrderMember" resultType="Member">
        SELECT * FROM member WHERE member_no = #{memberNo};
	</select>

    <!-- 상품조회 -->
    <select id="selectOrderProduct" resultType="Product">
		SELECT product_name, product_price, product_sale_price, i.img_path
		FROM product AS p
		JOIN product_img AS i ON p.product_no = i.product_no
		WHERE thumb_fl = 'Y'
		AND p.product_no = #{productNo};
	</select>
   
    <!-- 옵션조회 -->
    <select id="selectOrderProductOption" resultType="Option">
		SELECT `size` , color 
		FROM `option`
		WHERE product_no = #{productNo}
		AND option_no = #{optionNo};
	</select>

    <!-- 쿠폰조회 -->
    <select id="selectCouponList" resultType="Coupon">
		SELECT * FROM coupon WHERE member_no = #{memberNo};
	</select>
	
	
</mapper>

