<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.laf.order.model.mapper.OrderMapper">
    
    <!-- 주문자조회 -->
    <select id="selectOrderMember" resultType="Member">
        SELECT * FROM member WHERE member_no = #{memberNo}
	</select>

    <!-- 상품조회 -->
    <select id="selectOrderProduct" resultType="Product">
		SELECT `product`.product_no,
				product_name,
				product_price,
				product_sale_price,
				product_sale,
				product_point,
				product_state,
				DATE_FORMAT(product_date, '%Y-%m-%d') AS product_date,
				click_count,
				img_path AS thumbnail_path,
				(select count(*) from `like` where  `product`.product_no = `like`.product_no) AS like_count
		FROM   `product`
				JOIN `product_img` ON `product`.product_no = `product_img`.product_no
		WHERE  `product`.product_no = #{memberNo}
				AND thumb_fl  = 'Y'
	</select>
   
    <!-- 옵션조회 -->
    <select id="selectOrderProductOption" resultType="Option">
		SELECT `size` , color 
		FROM `option`
		WHERE product_no = #{productNo}
		AND option_no = #{optionNo}
	</select>

    <!-- 쿠폰조회 -->
    <select id="selectCouponList" resultType="Coupon">
		SELECT * FROM coupon WHERE member_no = #{memberNo}
	</select>
	
	<!-- 주문옵션전체조회 -->
	<select id="SelectOrderCheck" resultType="Option">
		SELECT * FROM `option` WHERE option_no = #{optionNo} AND product_no = #{productNo}
	</select>
	
	<!-- 상품이름조회 -->
	<select id="SelectProductName" resultType="String">
		SELECT product_name FROM product WHERE product_no = #{productNo}
	</select>
	
	<!-- 비회원 생성 -->
	<insert id="createNonMember" useGeneratedKeys="true" keyProperty="memberNo">
		INSERT INTO `member`
		VALUES (Null,
				#{memberId}, 
				#{memberPw}, 
				#{memberName}, 
				NULL, 
				#{memberEmail}, 
				#{memberPhone}, 
				NULL, 
				#{memberAddress}, 
				'B', 
				DEFAULT, 
				DEFAULT, 
				NULL, 
				NULL, 
				DEFAULT, 
				DEFAULT, 
				'Y', 
				#{refundName}, 
				#{refundBank}, 
				#{refundAccount});
	</insert>
	
	<!-- 비회원번호조회 -->
	<select id="selectNonMember" resultType="Member">
		SELECT member_no FROM `member` WHERE member_email = #{memberEmail}
	</select>
	
	<!-- 주문고유번호 중복확인 -->
	<select id="checkOrderKey" resultType="int">
		SELECT count(*) FROM `order` WHERE order_uno = #{orderUno}
	</select>
	
	<!-- 주문내역추가 -->
	<insert id="insertOrder">
		INSERT INTO `order`
		VALUES(NULL,
			   #{orderUno},
			   #{memberNo},
			   #{orderRecvName},
			   #{orderRecvAdd},
			   #{orderRecvPhone},
			   Null,
			   #{orderTotalPrice},
			   #{orderPayment},
			   DEFAULT,
			   NULL,
			   NULL,
			   #{payment},
			   #{paymentBank},
			   #{paymentName},
			   NULL,
			   #{orderState},
			   <if test="couponNo == 0"> NULL</if>
			   <if test="couponNo != 0">#{couponNo}</if>
			   )
	</insert>
	
	<!-- 주문번호조회selectOrderNo -->
	<select id="selectOrderNo" resultType="int">
		SELECT order_no FROM `order` WHERE order_uno = #{orderUno}
	</select>
	
	<!--주문상품목록테이블 추가 insertOrderProduct-->
	<insert id="insertOrderProduct">
		INSERT INTO `order_product`
		VALUES(#{orderNo},
			   #{productNo},
			   #{optionNo},
			   #{count}
			   )
	</insert>
	
	<!-- 상품 재고 최신화optionCountUpdate-->
	<update id="optionCountUpdate">
		UPDATE `option`
		SET stock = stock - ${count}, sell_count = sell_count + ${count}
		WHERE product_no = ${productNo}
		AND option_no = ${optionNo}
	</update>
	
	<!-- 상품 모든 재고조회 -->
	<select id="selectAllStock" resultType="int">
		SELECT sum(stock) FROM `option` WHERE product_no = ${productNo}
	</select>
	
	<!-- 상품 품절 전환updateSoldOut -->
	<update id="updateSoldOut">
		UPDATE product SET product_state = 'S' WHERE product_no = #{product_no}
	</update>
	
</mapper>

