<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.laf.board.model.mapper.QnaMapper">
	
	
	<!-- qnaList 전체 목록 조회 -->
    <select id="qnaList" resultType="Qna">
        SELECT qna_no, q.member_no, qna_category, qna_title, member_name, SUBSTRING_INDEX(qna_create_date, ' ', 1) qna_create_date, q.qna_answer, q.qna_lock_fl, qna_create_date qna_order_by FROM `qna` q  JOIN `member` m ON q.member_no = m.member_no WHERE qna_delete_fl='n' ORDER BY qna_order_by DESC
    </select>
     
    <!-- 검색어를 포함한 qna조회결과  -->
    <select id="searchQnaList" resultType="Qna">
        SELECT qna_no, q.member_no, qna_category, qna_title, member_name, SUBSTRING_INDEX(qna_create_date, ' ', 1) qna_create_date, q.qna_answer 
        FROM `qna` q  
        JOIN `member` m ON q.member_no = m.member_no 
        WHERE `${type}` LIKE '%${content}%' ORDER BY qna_create_date DESC
    </select>
    
    	<!-- answered qnaList -->
    <select id="answeredQna" resultType="Qna">
        SELECT qna_no, q.member_no, qna_category, qna_title, member_name, SUBSTRING_INDEX(qna_create_date, ' ', 1) qna_create_date, q.qna_answer FROM `qna` q  JOIN `member` m ON q.member_no = m.member_no ORDER BY qna_answer
    </select>
    
	    <!-- 검색어를 포함한 qna조회결과  -->
    <select id="searchAnsweredQna" resultType="Qna">
        SELECT qna_no, q.member_no, qna_category, qna_title, member_name, SUBSTRING_INDEX(qna_create_date, ' ', 1) qna_create_date, q.qna_answer FROM `qna` q  
        JOIN `member` m ON q.member_no = m.member_no 
        WHERE `${type}` LIKE '%${content}%' 
        ORDER BY qna_answer
    </select>
    
    <!--qna 상세정보 조회-->
    <select id="detailQna" resultType="Qna">
		SELECT * FROM `qna` q  
        JOIN `member` m ON q.member_no = m.member_no  WHERE q.qna_no=#{no}
	</select>
	
	<!-- qna 삭제 -->
    <update id="deleteQna">
        UPDATE `qna` SET qna_delete_fl ='y' WHERE qna_no=#{noticeNo}
    </update>
	
	<!-- 공지사항 작성 -->
    <insert id="writeQna" parameterType="Qna" >
        INSERT INTO qna VALUES (default, #{memberNo}, #{orderNo}, #{productNo}, #{qnaCategory}, #{qnaTitle}, #{qnaContent}, DEFAULT, #{qnaLockFl}, #{qnaPw}, NULL, default)
    </insert>
	
    <!--qna 비밀글 조회-->
    <select id="confirmLockNo" parameterType="Qna">
		SELECT * FROM qna WHERE qna_no=#{qnaNo} AND qna_pw =#{qnaPw}
	</select>
	
	
	<!-- qna문의 수정 -->
    <update id="updateQna" parameterType="Qna" >
        UPDATE `qna` SET (#{qnaNo}, #{memberNo}, #{orderNo}, #{productNo}, #{qnaCategory}, #{qnaTitle}, #{qnaContent}, #{qnaCreateDate}, #{qnaLockFl}, #{qnaPw}, #{qnaAnswer}, #{qnaDeleteFl}) WHERE pna_no=#{qnaNo}
    </update>
	

</mapper>

