.chatbot-shadow{
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.25);
}

#chatbotIcon{
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
}

#chatbotSection{
  display: none;
  z-index: 999;
  border-radius: 10px;
  height: 450px;
  width: 330px;
  background-color: #bbb6c9;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 80px;
  transition-duration: 0.5s;
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.25);
}

#chatbotMain{
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  height:98%;
  width: 97%;
  background-color: #fafafa;
  border-top: 0.5px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#chatbotChatSection{
  height: 93%;
}

#chatbotInput{
  margin-top: 10px;
  height: 50px;
  border-top: 0.5px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#chatbotInput > input{
  width: 80%;
}
#chatbotInput > button{
  width: 50px;
}

.chatbotChat{
  
  display: flex;
  border-radius: 5px;
  padding : 5px;
  background-color: #a197bb;
}

.display-chatting {
	width: 100%;
  border-radius: 5px;
	overflow: auto;
	list-style: none;
  height: 370px;
}

.display-chatting > li{
	margin: 10px 0;
  
}

.chatbot{
  display: flex;
  justify-content: space-around;
}

.target-chat{
	display: flex;
  justify-content: flex-end;
  margin-left: 80px !important;
}
.target-chat > img{
	width: 50px;
	margin-right: 5px;
}

.chat {
	display: inline-block;
	border-radius: 5px;
	margin: 5px;
	background-color: #eee;
	text-align: left;
	max-width: 500px;
	word-break: break-all;
}


.input-area {
	height: 80px;
	width: 100%;
	display: flex;
}

#inputChatting {
	padding: 3px;
	font-size: 1.3em;
	width: 80%;
	resize: none;
}

#send {
	width: 20%;
}

.my-chat {
  display: flex;
	text-align: right;
}

.my-chat>div {
  border: 1px solid #eee;
	background-color: #ffff1b;
  margin-right: 80px;
}

.chatDate {
	font-size: 9px;
}

.chatbot-category{
  background-color: #7F7698;
  margin: 10px;
  padding:8px;
  border-top: 5px;
  text-align: center;
  border-radius: 5px;
  height: auto;
  cursor: pointer;
}

.chatbot-category:hover{
  transition-duration: 1s;
  background-color: #635292;
  cursor: pointer;
}

.chatbot-answer{
  background-color: #7F7698;
  margin: 10px;
  padding:8px;
  border-top: 5px;
  text-align: center;
  border-radius: 5px;
  height: auto;
  transition: all  1s;
  cursor: pointer;
}

.chatbot-answer:hover{
  transition-duration: 1s;
  background-color: #635292;
  cursor: pointer;
}

.chatbot-noAnswer{
  background-color: #7F7698;
  margin: 10px;
  padding:8px;
  border-top: 5px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.chatbot-noAnswer:hover{
  transition-duration: 1s;
  background-color: #635292;
  cursor: pointer;
}


.chatbot-list{
  background-color: #ccc;
  margin: 10px;
  padding:8px;
  border-top: 5px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.chatbot-list:hover{
  transition-duration: 1s;
  background-color: hsl(0, 0%, 67%);
  cursor: pointer;
}

.chatbot-categoryList{
  background-color: #ccc;
  margin: 10px;
  padding:8px;
  border-top: 5px;
  text-align: center;
  border-radius: 5px;
  height: auto;
  cursor: pointer;
}

.chatbot-categoryList:hover{
  transition-duration: 1s;
  background-color: hsl(0, 0%, 67%);
  cursor: pointer;
}

.go {
  background: #d63031;
  border-radius: 80px;
  transform: translate(43px, -41px) ;
  transition-property: all;
  transition-duration: 0.6s !important;
  width: 25px !important;
  height: 25px !important;
}


