<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/shopping/categoryList.css">
  <link rel="stylesheet" href="/css/mypage/mypageCoupon.css">
  <title>LAF :: 마이페이지</title>

</head>
<body>
  <th:block th:replace="~{/common/header}"></th:block>
  <th:block th:replace="~{/common/nav}"></th:block>
  
  <main>
    <section class="mypageCoupon-mainFrame">
      <th:block th:replace="~{/mypage/mypageSide}"></th:block>
        <!-- 마이페이지 중앙 대쉬보드 -->
        <div class="mypageCoupon-dashFrame-myMain">
          <!-- 등급 확인 및 적립금 예치금 쿠폰 -->
          <div class="mypageCoupon-myMain-text">쿠폰</div>
          <div class="mypageCoupon-myMain-coupon">
            
            <!-- 하위 메뉴 -->
            <div class="sub-category-container">
              <!-- 현재 카테고리에 current 클래스 추가 -->
              <a href="/my/point"><div class="sub-category">적립금 내역</div></a>
              <a href="/my/coupon"><div class="sub-category current">보유중인 쿠폰</div></a>
            </div>

            <div class="mypageCoupon-coupon-detail">
              <div>
                <div>쿠폰 목록</div> 
                <div>사용가능한 쿠폰 : 
                  <div>3장</div>
                </div> 
              </div>
              <table>
                <tr>
                  <th width="60px">번호</th>
                  <th width="320px">쿠폰명</th>
                  <th width="150px">쿠폰 혜택</th>
                  <th width="150px">구매금액</th>
                  <th width="150px">최대 할인 금액</th>
                  <th width="180px">다른 쿠폰과 중복 사용</th>
                  <th width="230px">사용가능 기간</th>
                </tr>
                <!-- 항목 추가~ -->
                <tr class="mypageCoupon-detail-list">
                  <td>1</td>
                  <td>3000원</td>
                  <td>100%할인</td>
                  <td>15,000</td>
                  <td>30,000</td>
                  <td>불가</td>
                  <td>
                    <div>2023-05-31 17:59:57</div> ~ <div>2023-05-31 17:59:57</div>
                  </td>
                </tr>
                <!-- ~~~~~~~~~~~~~~~ -->
              </table>
              <!-- 페이징 -->
              <div class="pagination-area">
                <ul class="pagination">
                    <!-- 첫 페이지로 이동 -->
                    <li><a><img src="/resources/image/common/paging/first-page.svg"></a></li>
                    <!-- 이전 목록 마지막 번호로 이동 -->
                    <li><a><img src="/resources/image/common/paging/prev-page.svg"></a></li>
                    <li><a class="current">1</a></li>
                    <li><a>2</a></li>
                    <li><a>3</a></li>
                    <li><a>4</a></li>
                    <li><a>5</a></li>
                    <li><a>6</a></li>
                    <!-- 다음 목록 시작 번호로 이동 -->
                    <li><a><img src="/image/common/paging/next-page.svg"></a></li>
                    <!-- 끝 페이지로 이동 -->
                    <li><a><img src="/image/common/paging/last-page.svg"></a></li>
                </ul>
              </div>

            </div>
      
          </div>
        </div>
      </section>
  </main>
  <th:block th:replace="~{/common/footer}"></th:block>
</body>
</html>
