<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/myPage/myPageOrder/myPageOrderList.css">
  <title>LAF :: 주문조회</title>

</head>
<body>
  <th:block th:replace="~{/common/header}"></th:block>
  <th:block th:replace="~{/common/nav}"></th:block>
  
  <main>
    <!-- 마이페이지 sidebar -->
    <th:block th:replace="~{/mypage/mypageSide}"></th:block>
    
    <!-- 주문 정보 목록 -->
    <section id="mypageOrderList">
      <!-- 섹션 헤더(제목, 설명) -->
      <div class="section-header">
        <div class="section-title">주문조회</div>
      </div>

      <!-- 주문조회 필터링 -->
      <form action="#" id="orderFilter">
        <select name="orderState" id="orderStateSelect">
          <option value="">전체</option>
          <option value="A">주문접수</option>
          <option value="B">결제확인</option>
          <option value="C">상품준비중</option>
          <option value="D">출고완료</option>
          <option value="E">배송중</option>
          <option value="F">배송완료</option>
          <option value="G">취소중</option>
          <option value="H">취소완료</option>
          <option value="I">교환중</option>
          <option value="J">교환완료</option>
          <option value="K">반품중</option>
          <option value="L">반품완료</option>
        </select>

        <ul id="dateFilterBtn">
          <li>오늘</li>
          <li>1주일</li>
          <li>1개월</li>
          <li>3개월</li>
          <li>6개월</li>
        </ul>

        <div id="dateFilter">
          <input type="date" name="startDate">
          ~
          <input type="date" name="endDate">
        </div>

        <button class="submit">조회</button>
      </form>

      <div id="orderFilterInfo">
        <p>· 기본적으로 3개월간의 자료가 조회되며, 기간 검색시 주문처리완료 후 36개월 이내의 주문내역을 조회하실 수 있습니다.</p>
        <p>· 주문번호를 클릭하시면 해당 주문에 대한 상세내역을 확인하실 수 있습니다.</p>
      </div>
      <section id="orderList">
        <div class="table-title">주문상품정보</div>
        <table>
          <tr>
            <td class="item-order-info">주문정보</td>
            <td class="item-image">이미지</td>
            <td class="item-product header">상품정보</td>
            <td class="item-count">수량</td>
            <td class="item-price-set">구매금액</td>
            <td class="item-order-state header">주문처리상태</td>
            <td class="item-choose">선택</td>
          </tr>
          <tr>
            <th:block>
              <td class="item-order-info">
                <div class="item-order-date">주문날짜</div>
                <div class="item-order-no"><a href="#">주문번호</a></div>
              </td>
              <td class="item-image">
                <a href="/product/1">
                  <img>
                </a>
              </td>
              <td class="item-product">
                <a href="/product/1">
                제품명
                </a>
                <p class="item-product-option">
                  [옵션 : <span class="item-selected-option">블랙/L</span>]
                </p>
              </td>
              <td class="item-count">1</td>
              <td class="item-price-set">
                <div class="item-price">제품가격</div>
              </td>
              <td class="item-order-state">
                <p>주문처리상태</p>
              </td>
              <td class="item-choose">
                <button>주문취소</button> <!-- 배송 전까지만 출력 -->
              </td>
          </th:block>
          </tr>
        </table>
      </section>

      <!-- 페이징 -->
      <div class="pagination-area">

        <ul class="pagination">
        
          <!-- 첫 페이지로 이동 -->
          <li><a><img src="/images/common/paging/first-page.svg"></a></li>

          <!-- 이전 목록 마지막 번호로 이동 -->
          <li><a><img src="/images/common/paging/prev-page.svg"></a></li>

          <li><a class="current">1</a></li>
          <li><a>2</a></li>
          <li><a>3</a></li>
          <li><a>4</a></li>
          <li><a>5</a></li>
          <li><a>6</a></li>

          <!-- 다음 목록 시작 번호로 이동 -->
          <li><a><img src="/images/common/paging/next-page.svg"></a></li>
          
          <!-- 끝 페이지로 이동 -->
          <li><a><img src="/images/common/paging/last-page.svg"></a></li>
        </ul>
      </div>
      
    </section>
  </main>

  <th:block th:replace="~{/common/footer}"></th:block>
</body>
</html>
