<!-- 회원 상세 모달창 -->
<div class="product-modal-overlay" id="productModalOverlay">
  <div class="product-modal-window">
      <div>
        <div>
          <span class="product-enroll-title">상품 수정</span>
        </div>
        <div class="enroll-search-box">
          <table class="enroll-top-table">
            <tr>
              <td>썸네일 이미지</td>
              <td>상품명</td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td rowspan="3">
                <img src="/images/sample/11280.gif">
                <div class="enroll-img-btn">
                  <button type="button">파일업로드</button>
                  <button type="button">취소</button>
                </div>
              </td>
              <td>카테고리</td>
              <td>
                <select>
                  <option>1차 분류</option>
                  <option>1차 분류</option>
                  <option>1차 분류</option>
                </select>
                <select>
                  <option>2차 분류</option>
                  <option>2차 분류</option>
                  <option>2차 분류</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>가격</td>
              <td class="enroll-price">
                <p><span>판매가</span><input type="text">원</p>
                <p><span>할인율</span><input type="text">%</p>
                <p><span>최종할인가</span><input type="text">원</p>
              </td>
            </tr>
            <tr>
              <td>적립금</td>
              <td><input type="text">원</td>
            </tr>
          </table>
          <table class="enroll-middle-table">
            <tr>
              <td>옵션</td>
              <td>크기</td>
              <td>색상</td>
              <td>가격</td>
              <td>재고 수량</td>
              <td>재고 실 위치</td>
              <td><button type="button">옵션 추가</button></td>
            </tr>
            <tr>
              <td><input type="checkbox"></td>
              <td><input type="text" value="S"></td>
              <td><input type="text" value="블랙"></td>
              <td><input type="text" value="35,000">원</td>
              <td><input type="text" value="20">개</td>
              <td><input type="text" value="A창고 25-3"></td>
              <td>
                <select>
                  <option>판매중</option>
                  <option>품절</option>
                </select>
              </td>
            </tr>
            <tr>
              <td><input type="checkbox"></td>
              <td><input type="text" value="S"></td>
              <td><input type="text" value="블랙"></td>
              <td><input type="text" value="35,000">원</td>
              <td><input type="text" value="20">개</td>
              <td><input type="text" value="A창고 25-3"></td>
              <td>
                <select>
                  <option>판매중</option>
                  <option>품절</option>
                </select>
              </td>
            </tr>
          </table>
          <table class="enroll-bottom-table">
            <tr>
              <td>
                <div>
                  <div>상세 이미지</div>
                  <div class="enroll-detail-img-btn">
                    <button type="button">파일업로드</button>
                    <button type="button">취소</button>
                  </div>
                </div>
              </td>
              <td>상세 설명</td>
            </tr>
            <tr>
              <td><img src="/images/prouduct/detail/1.png"></td>
              <td>
                <textarea cols="30" rows="15">상품 상세설명을 적어주세요</textarea>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="enroll-completted-btn">
        <button type="button">수정</button>
        <button type="button" class="product-modal-close">취소</button>
      </div>
    </div>
  </div>
</div>

<script>

  /* 상품 상세 모달 */
const productModal = document.getElementById("productModalOverlay")
const selectedProduct = document.getElementsByClassName("modify-product")


for(let product of selectedProduct) {

  /* 상품 목록에서 한 회원 클릭시 */
  product.addEventListener('click', () => {
    productModal.style.display = "flex";
    document.body.style.overflowY = "hidden";
  });

};
    
/* 모달창 바깥 영역을 클릭하면 모달창이 꺼지게 하기 */
productModal.addEventListener("click", e => {
    const evTarget = e.target
    if(evTarget.classList.contains("product-modal-overlay")) {
      productModal.style.display = "none";
      document.body.style.removeProperty('overflow');
    }
});

/* 모달창이 켜진 상태에서 ESC 버튼을 누르면 모달창이 꺼지게 하기 */
window.addEventListener("keyup", e => {
    if(productModal.style.display === "flex" && e.key === "Escape") {
      productModal.style.display = "none"
      document.body.style.removeProperty('overflow');
    }
});

/* 모달창 내부 닫기 버튼 */
const productModalClose = document.getElementsByClassName("product-modal-close")[0];
productModalClose.addEventListener("click", e => {
  productModal.style.display = "none";
  document.body.style.removeProperty('overflow');
});
</script>