<link rel="stylesheet" th:href="@{/css/admin/adminProduct/productDetail.css}">

<div class="enroll-container">

  <!-- 상품정보 등록 -->
  <table class="enroll-top-table">
    
    <tr>
      <td class="enroll-table-header table-header thumbnail">썸네일 이미지</td>
      <td class="enroll-table-header table-header" required>상품명</td>
      <td><input id="productName" name="productName" type="text" placeholder="상품명을 입력해주세요 (최대 100자)" maxlength="100"></td>
    </tr>

    <tr>
      <td rowspan="5" class="enroll-thumbnail">
        <img id="thumbnailImagePreview" th:src="@{/images/common/no-image.png}">
      </td>
      <td rowspan="2" class="enroll-table-header table-header">카테고리</td>
      <td id="enrollCategory">
        <select class="select-category" id="detailParentCategory" name="pc">
          <option name="pc" value="">1차 분류</option>
          <option name="pc" 
            th:each="category : ${categoryList}"
            th:if="${category.parentCategoryNo == 0}"
            th:value="${category.categoryNo}"
            th:text="${category.categoryName}">부모 카테고리 이름</option>
        </select>

        <select class="select-category" id="detailChildCategory" name="cc" disabled>
          <option name="cc" value="">2차 분류</option>
          <option name="pc"
            th:each="category : ${categoryList}"
            th:if="${category.parentCategoryNo > 0}"
            th:value="${category.categoryNo}"
            th:text=" ${category.categoryName}">자식 카테고리 이름</option>
        </select>
      </td>
    </tr>

    <tr>
      <td id="selectedCategory">
        <span class="info">클릭해서 삭제</span>
      </td>
    </tr>

    <tr>
      <td rowspan="3" class="enroll-table-header table-header">가격</td>
      <td class="enroll-price">
        <span>판매가</span><input name="productPrice" type="text" required>원
      </td>
    </tr>

    <tr>
      <td class="enroll-price">
        <span>할인율</span><input name="productSale" type="text" placeholder="0">%
      </td>
    </tr>

    <tr>
      <td class="enroll-price">
        <span>최종할인가</span><input name="productSalePrice" type="text"  placeholder="0" disabled required>원
        <label><input class="checkbox" type="checkbox" checked>자동계산</label><span class="info">(100원 단위 절삭)</span>
      </td>
    </tr>

    <tr>
      <td class="enroll-img-btn">
        <button id="enrollImgBtn" type="button">파일업로드</button>
        <input type="file" name="thumbnailPath" id="thumbnailPath" accept="image/*">
        <button id="deleteImgBtn" type="button">삭제</button>
      </td>
      <td class="enroll-table-header table-header">적립금</td>
      <td class="enroll-point">
        <input type="text" name="productPoint" placeholder="0" disabled>원
        <label><input class="checkbox" type="checkbox" checked>자동계산</label><span class="info">(최종할인가의 1%)</span>
      </td>
    </tr>
  </table>

  <!-- 상품 옵션 등록 -->
  <div id="optionBtnContainer">
    <button type="button" id="addOptionBtn">추가</button>
    <button type="button" id="cpOptionBtn">복제</button>
    <button type="button" id="rmOptionBtn">삭제</button>
  </div>
  <table class="enroll-middle-table">
    <tr>
      <td class="middle-table-checkbox"><input class="option-checkbox all" type="checkbox"></td>
      <td class="middle-table-size">사이즈</td>
      <td class="middle-table-color">색상</td>
      <td class="middle-table-stock">재고</td>
      <td class="middle-table-palce">재고 실 위치</td>
      <td class="middle-table-state">판매상태</td>
    </tr>
    
    <tr>
      <td><input class="option-checkbox" type="checkbox"></td>
      <td><input name="size" type="text"></td>
      <td><input name="color" type="text" required></td>
      <td><input name="stock" type="text"></td>
      <td><input name="location" type="text"></td>
      <td>
        <select name="productState">
          <option value="O">판매중</option>
          <option value="S">품절</option>
          <option value="N" selected>비공개</option>
        </select>
      </td>
    </tr>
  </table>

  <!-- 상품 상세 이미지/설명 등록 -->
  <table class="enroll-bottom-table">
    <tr>
      <td class="table-header">
        <div>
          <span>상세 이미지</span>
          <button id="uploadDetailImgBtn" type="button">파일업로드</button>
          <input type="file" id="detailImgInput" multiple>
        </div>
      </td>
      <!-- <td>상세 설명</td> -->
    </tr>

    <tr id="detailImgNameTr">
      <td id="noDetailImgInfo">업로드한 이미지가 없습니다</td>
    </tr>
    <tr id="detailImgTr"></tr>
  </table>
</div>

<script th:src="@{/js/admin/adminProduct/adminProductDetail.js}"></script>