<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/common/default.css">
  <link rel="stylesheet" href="/css/admin/adminProduct/productEnroll.css">
  <title>관리자::상품 등록</title>
</head>
<body>

  <th:block th:replace="~{admin/adminHeader}"></th:block>
  
  <main>
    <section class="admin-container">
      <div class="control-classify">
        <a href="/admin/adminProduct/productEnroll"><span class="control-classify-select">상품 등록</span></a>
        <a href="/admin/adminProduct/productSelect"><span>상품 조회</span></a>
      </div>
      <div class="product-enroll">
        <div>
          <span class="product-enroll-title">상품 등록</span>
        </div>

        <div>
          <div class="enroll-search-box">
            <div class="enroll-search">
              <div>상품명</div>
              <div>
                <input type="text">
              </div>
              <div>상태</div>
              <div>
                <select>
                  <option>비공개</option>
                  <option>공개</option>
                </select>
              </div>
            </div>
            <div class="enroll-search">
              <div>카테고리</div>
              <div>
                <input type="text">
              </div>
              <div>
                <select>
                  <option>1차 분류</option>
                  <option>BEST 50</option>
                  <option>아우터</option>
                  <option>상의</option>
                  <option>하의</option>
                </select>
              </div>
              <div>
                <select>
                  <option>2차분류</option>
                  <option>자켓</option>
                  <option>외투</option>
                  <option>데님</option>
                  <option>슬렉스</option>
                </select>
              </div>
              <button>카테고리 추가</button>
            </div>
          </div>
        </div>


      </div>
    </section>
  </main>

  <th:block th:replace="~{common/footer}"></th:block>

</body>
</html>