<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/common/default.css">
  <link rel="stylesheet" href="/css/admin/adminProduct/productEnroll.css">
  <title>관리자::상품 등록</title>
</head>
<body>

  <th:block th:replace="~{admin/adminHeader}"></th:block>
  
  <main>
    <section class="admin-container">
      <div class="control-classify">
        <a href="/admin/adminProduct/productEnroll"><span class="control-classify-select">상품 등록</span></a>
        <a href="/admin/adminProduct/productSelect"><span>상품 조회</span></a>
      </div>
      <div class="product-enroll">
        <div>
          <span class="product-enroll-title">상품 등록</span>
        </div>
        <div>
          <div class="enroll-search-box">
            <table class="enroll-top-table">
              <tr>
                <td>상품명</td>
                <td><input type="text"></td>
                <td>썸네일 이미지</td>
              </tr>
              <tr>
                <td>카테고리</td>
                <td>
                  <select>
                    <option>1차 분류</option>
                    <option>1차 분류</option>
                    <option>1차 분류</option>
                  </select>
                  <select>
                    <option>2차 분류</option>
                    <option>2차 분류</option>
                    <option>2차 분류</option>
                  </select>
                </td>
                <td rowspan="3">
                  <img src="/images/sample/11280.gif" alt="">
                  <div>
                    <button>버튼</button>
                    <button>버튼</button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>가격</td>
                <td>
                  <p>판매가<input type="text">원</p>
                  <p>할인율<input type="text">%</p>
                  <p>최종할인가<input type="text">원</p>
                </td>
              </tr>
              <tr>
                <td>적립금</td>
                <td><input type="text">원</td>
              </tr>
            </table>
            <table class="enroll-bottom-table">

            </table>
          </div>
        </div>
      </div>
    </section>
  </main>

  <th:block th:replace="~{common/footer}"></th:block>

</body>
</html>