<link rel="stylesheet" th:href="@{/css/admin/adminProduct/productDetail.css}">

<div class="enroll-container">

  <!-- 상품정보 등록 -->
  <table class="enroll-top-table">
    
    <tr>
      <td class="enroll-table-header table-header thumbnail">썸네일 이미지</td>
      <td class="enroll-table-header table-header">상품명</td>
      <td><input id="productName" name="productName" type="text"></td>
    </tr>

    <tr>
      <td rowspan="5" class="enroll-thumbnail">
        <img th:src="@{/images/common/no-image.png}">
        <div class="enroll-img-btn">
          <button type="button">파일 업로드</button>
          <button type="button">삭제</button>
        </div>
      </td>
      <td class="enroll-table-header table-header">카테고리</td>
      <td id="enrollCategory">
        <select class="select-category" id="detailParentCategory" name="pc">
          <option name="pc" value="">1차 분류</option>
          <option name="pc" 
            th:each="category : ${categoryList}"
            th:if="${category.parentCategoryNo == 0}"
            th:value="${category.categoryNo}"
            th:text="${category.categoryName}">부모 카테고리 이름</option>
        </select>

        <select class="select-category" id="detailChildCategory" name="cc" disabled>
          <option name="cc" value="">2차 분류</option>
          <option name="pc"
            th:each="category : ${categoryList}"
            th:if="${category.parentCategoryNo > 0}"
            th:value="${category.categoryNo}"
            th:text=" ${category.categoryName}">자식 카테고리 이름</option>
        </select>
      </td>
    </tr>

    <tr>
      <td rowspan="3" class="enroll-table-header table-header">가격</td>
      <!-- <td class="enroll-price">
        <p><span>판매가</span><input type="text">원</p>
        <p><span>할인율</span><input type="text">%</p>
        <p>
          <span>최종할인가</span><input type="text" th:value="${0}" disabled>원
          <label><input class="checkbox" type="checkbox" checked> 자동계산</label>
        </p>
      </td> -->
      <td class="enroll-price">
        <span>판매가</span><input type="text">원
      </td>
    </tr>

    <tr>
      <td class="enroll-price">
        <span>할인율</span><input type="text">%
      </td>
    </tr>

    <tr>
      <td class="enroll-price">
        <span>최종할인가</span><input type="text" th:value="${0}" disabled>원
        <label><input class="checkbox" type="checkbox" checked>자동계산</label>
      </td>
    </tr>

    <tr>
      <td class="enroll-table-header table-header">적립금</td>
      <td class="enroll-point">
        <input type="text" th:value="${0}" disabled>원
        <label><input class="checkbox" type="checkbox" checked>자동계산</label>
      </td>
    </tr>
  </table>

  <!-- 상품 옵션 등록 -->
  <table class="enroll-middle-table">
    <tr>
      <td>옵션</td>
      <td>크기</td>
      <td>색상</td>
      <td>가격</td>
      <td>재고 수량</td>
      <td>재고 실 위치</td>
      <td><button type="button">옵션 추가</button></td>
    </tr>

    <tr>
      <td><input type="checkbox"></td>
      <td><input type="text" value="S"></td>
      <td><input type="text" value="블랙"></td>
      <td><input type="text" value="35,000">원</td>
      <td><input type="text" value="20">개</td>
      <td><input type="text" value="A창고 25-3"></td>
      <td>
        <select>
          <option>판매중</option>
          <option>품절</option>
        </select>
      </td>
    </tr>

    <tr>
      <td><input type="checkbox"></td>
      <td><input type="text" value="S"></td>
      <td><input type="text" value="블랙"></td>
      <td><input type="text" value="35,000">원</td>
      <td><input type="text" value="20">개</td>
      <td><input type="text" value="A창고 25-3"></td>
      <td>
        <select>
          <option>판매중</option>
          <option>품절</option>
        </select>
      </td>
    </tr>
  </table>

  <!-- 상품 상세 이미지/설명 등록 -->
  <table class="enroll-bottom-table">
    <tr>
      <td>
        <div>
          <div>상세 이미지</div>
          <div class="enroll-detail-img-btn">
            <button type="button">파일업로드</button>
            <button type="button">취소</button>
          </div>
        </div>
      </td>
      <td>상세 설명</td>
    </tr>

    <tr>
      <td></td>
      <td>
        <textarea cols="30" rows="15">상품 상세설명을 적어주세요</textarea>
      </td>
    </tr>
  </table>
</div>