<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../../resources/css/common/default.css">
  <link rel="stylesheet" href="../../resources/css/mypage/mypageOrder.css">
  <link rel="stylesheet" href="../../resources/css/order/orderDetail.css">

  <title>LAF :: 로그인</title>


</head>
<body>
  <!-- <header class="link" data-include="../../views/common/header.html"></header>
  <nav class="link" data-include="../../views/common/nav.html"></nav> -->
  
  <main>
    <!-- 개인화면 대쉬보드 전체 틀 -->
    <section class="orderDetail-mainFrame">
      <div class="orderDetail-mainFrame-order">
        <div class="orderDetail-order-text">주문 정보</div>
        <div>주문정보</div>
        <table>
          <tr>
            <th width="100px">주문자</th>
            <td><input type="text"></td>
          </tr>
          <tr>
            <th>이메일</th>
            <td>
              <input type="text">@
              <select name="" id="">
                <option value="">naver.com</option>
                <option value="">google.com</option>
                <option value="">daum.com</option>
                <option value="">kakao.com</option>
                <option value="">nate.com</option>
              </select>
              </td>
          </tr>
          <tr>
            <th>휴대전화</th>
            <td><input type="text">-<input type="text">-<input type="text"></td>
          </tr>
          <tr>
            <th>주소</th>
            <td>
              <!-- 주소 api 이용 (마지막 body태그 위 관련 스크립트) -->
              <div class="mypageSignUp-table-address">
                <input type="text" required class="mypageSignUp-address-postal" name="memberAddress" placeholder="우편번호" maxlength="6" id="sample6_postcode" readonly>
                <button type="button" onclick="sample6_execDaumPostcode()">주소검색</button>
              </div>
              <div class="mypageSignUp-table-address">
                <input type="text" required name="memberAddress" placeholder="  기본 주소" id="sample6_address" readonly>
              </div>
              <div class="mypageSignUp-table-address">
                <input type="text" required name="memberAddress" placeholder="  나머지 주소" id="sample6_detailAddress">
              </div>
            </td>
          </tr>
          <tr>
            <th>주문처리상태</th>
            <td>배송전</td>
          </tr>
          <tr>
            <th>주문처리상태</th>
            <td>배송전</td>
          </tr>
        </table>
        <div class="orderDetail-shipping-shippinglist"><button>주문목록보기</button></div>

        

      </div>
    </section>
  </main>

  <!-- <footer class="link" data-include="../../views/common/footer.html"></footer> -->
  <!-- 주소 api -->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script>
    function sample6_execDaumPostcode() {
      new daum.Postcode({
        oncomplete: function(data) {
          // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

          // 각 주소의 노출 규칙에 따라 주소를 조합한다.
          // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
          var addr = ''; // 주소 변수

          //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
          if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
              addr = data.roadAddress;
          } else { // 사용자가 지번 주소를 선택했을 경우(J)
              addr = data.jibunAddress;
          }

          // 우편번호와 주소 정보를 해당 필드에 넣는다.
          document.getElementById('sample6_postcode').value = data.zonecode;
          document.getElementById("sample6_address").value = addr;
          // 커서를 상세주소 필드로 이동한다.
          document.getElementById("sample6_detailAddress").focus();
        }
      }).open();
    }
  </script>
  <script src="../../resources/js/common/default.js"></script>

</body>
</html>
