<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin/adminOrder/orderselect.css">
  <title>관리자 :: 주문조회</title>
</head>
<body>

  <th:block th:replace="~{/admin/adminHeader}"></th:block>
  
  <main>
    <section class="admin-container">
      <div class="control-classify">
        <a href="/admin/order/cur"><span>주문 현황</span></a>
        <a href="/admin/order"><span class="control-classify-select">주문 조회</span></a>
      </div>
      <div class="order-select">
        <div>
          <span class="order-select-title">주문 조회</span>
        </div>
        <div class="order-select-box">
          <table class="order-select-top">
            <tr>
              <td>검색어</td>
              <td>
                <select>
                  <option>전체</option>
                  <option>전체</option>
                  <option>전체</option>
                </select>
                <input type="text">
              </td>
            </tr>
            <tr>
              <td>날짜</td>
              <td>
                <div>
                  <input type="date" value="2023-06-12">
                  <span>~</span>
                  <input type="date" value="2023-06-12">
                  <button type="button">오늘</button>
                  <button type="button">3일간</button>
                  <button type="button">일주일</button>
                  <button type="button">1개월</button>
                  <button type="button">3개월</button>
                </div>
              </td>
            </tr>
            <tr>
              <td>판매 상태</td>
              <td>
                <div>
                  <input type="checkbox">주문접수
                  <input type="checkbox">결제확인
                  <input type="checkbox">상품준비
                  <input type="checkbox">출고완료
                  <input type="checkbox">배송중
                  <input type="checkbox">취소중
                  <input type="checkbox">취소완료
                  <input type="checkbox">교환중
                  <input type="checkbox">교환완료
                  <input type="checkbox">반품중
                  <input type="checkbox">반품완료
                </div>
              </td>
            </tr>
            <tr>
              <td>주문 결제</td>
              <td>
                <div>
                  <input type="checkbox">무통장 입금
                  <input type="checkbox">페이팔
                </div>
              </td>
            </tr>
          </table>
          <div class="order-select-btn">
            <button type="button">검색</button>
            <button type="button">초기화</button>
          </div>
        </div>
        <div class="order-select-list">
          <div class="order-select-table-title">
            <div>최신순 / 판매량순 (검색결과 2건)</div>
            <div><button type="button">일괄수정</button></div>
          </div>
          <table class="order-select-table">
            <tr>
              <td>
                <p>주문일자</p>
                <p>[주문번호]</p>
              </td>
              <td>이미지</td>
              <td>상품정보</td>
              <td>수량</td>
              <td>상품구매금액</td>
              <td>주문처리상태</td>
            </tr>
            <tr class="order-modal-row">
              <td>
                <p>2023-05-31</p>
                <p>[20230531-0004095]</p>
              </td>
              <td><div><img src="/images/sample/18889.gif"></div></td>
              <td>
                <p>[LAF추천/2장돌파] 호우 윈터 루즈핑 스트라이프 데스 셔츠-31icecream</p>
                <p>[옵션:그린]</p>
              </td>
              <td>1</td>
              <td>33,000원</td>
              <td>
                <select>
                  <option>상품준비중</option>
                  <option>교환중</option>
                  <option>반품중</option>
                </select>
              </td>
            </tr>
          </table>
          <table class="order-select-table">
            <tr>
              <td>
                <p>주문일자</p>
                <p>[주문번호]</p>
              </td>
              <td>이미지</td>
              <td>상품정보</td>
              <td>수량</td>
              <td>상품구매금액</td>
              <td>주문처리상태</td>
            </tr>
            <tr class="order-modal-row">
              <td>
                <p>2023-05-31</p>
                <p>[20230531-0004095]</p>
              </td>
              <td><div><img src="/images/sample/18889.gif"></div></td>
              <td>
                <p>[LAF 추천/2장 돌파] 호우 윈터 루즈핑 스트라이프 데스 셔츠-31icecream</p>
                <p>[옵션:그린]</p>
              </td>
              <td>1</td>
              <td>33,000원</td>
              <td>
                <select>
                  <option>상품준비중</option>
                  <option>교환중</option>
                  <option>반품중</option>
                </select>
              </td>
            </tr>
          </table>
          </table>
          <table class="order-select-table">
            <tr>
              <td>
                <p>주문일자</p>
                <p>[주문번호]</p>
              </td>
              <td>이미지</td>
              <td>상품정보</td>
              <td>수량</td>
              <td>상품구매금액</td>
              <td>주문처리상태</td>
            </tr>
            <tr>
              <td class="order-modal-row">
                <p>2023-05-31</p>
                <p>[20230531-0004095]</p>
              </td>
              <td><div><img src="/images/sample/18889.gif"></div></td>
              <td>
                <p>[LAF 추천/2장 돌파] 호우 윈터 루즈핑 스트라이프 데스 셔츠-31icecream</p>
                <p>[옵션:그린]</p>
              </td>
              <td>1</td>
              <td>33,000원</td>
              <td>
                <select>
                  <option>상품준비중</option>
                  <option>교환중</option>
                  <option>반품중</option>
                </select>
              </td>
            </tr>
          </table>
          </table>
          <table class="order-select-table">
            <tr>
              <td>
                <p>주문일자</p>
                <p>[주문번호]</p>
              </td>
              <td>이미지</td>
              <td>상품정보</td>
              <td>수량</td>
              <td>상품구매금액</td>
              <td>주문처리상태</td>
            </tr>
            <tr>
              <td class="order-modal-row">
                <p>2023-05-31</p>
                <p>[20230531-0004095]</p>
              </td>
              <td><div><img src="/images/sample/18889.gif"></div></td>
              <td>
                <p>[LAF 추천/2장 돌파] 호우 윈터 루즈핑 스트라이프 데스 셔츠-31icecream</p>
                <p>[옵션:그린]</p>
              </td>
              <td>1</td>
              <td>33,000원</td>
              <td>
                <select>
                  <option>상품준비중</option>
                  <option>교환중</option>
                  <option>반품중</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </section>
    <th:block th:replace="~{admin/adminOrder/orderModal}"></th:block>
  </main>

  <th:block th:replace="~{/common/footer}"></th:block>

</body>
</html>