<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin/adminOrder/ordercurrent.css">
  <title>관리자 :: 주문현황</title>
  <style>
    .sidebar li.sub.adminOrder:not(.last) { height: 30px !important; }
    .sidebar li.sub.adminOrder.last { height: 10px !important; }
  </style>
</head>
<body>

  <th:block th:replace="~{/admin/adminHeader}"></th:block>
  
  <main>
    <section class="admin-container">
      <div class="order-current">
        <div>
          <span class="order-current-title">주문 현황</span>
        </div>
        <div class="order-table">
          <span>오늘 주문 현황</span>
          <table>
            <tr>
              <td>주문접수</td>
              <td>결제확인</td>
              <td>상품준비</td>
              <td>출고완료</td>
              <td>배송중</td>
              <td>배송완료</td>
              <td>취소중</td>
              <td>취소완료</td>
              <td>교환중</td>
              <td>교환완료</td>
              <td>반품중</td>
              <td>반품완료</td>
            </tr>
            <tr>
              <td>0개</td>
              <td>0개</td>
              <td>0개</td>
              <td>0개</td>
              <td>0개</td>
              <td>0개</td>
              <td>0개</td>
              <td>0개</td>
              <td>0개</td>
              <td>0개</td>
              <td>0개</td>
              <td>0개</td>
            </tr>
          </table>
        </div>
        <div class="recent-order-list">
          <div class="recent-order-table-title">
            <div>최신 주문 목록 (최근 7일 이내)</div>
            <div><button type="button">일괄수정</button></div>
          </div>
          <table class="recent-order-table">
            <tr>
              <td>
                <p>주문일자</p>
                <p>[주문번호]</p>
              </td>
              <td>이미지</td>
              <td>상품정보</td>
              <td>수량</td>
              <td>상품구매금액</td>
              <td>주문처리상태</td>
            </tr>
            <tr class="order-modal-row">
              <td>
                <p>2023-05-31</p>
                <p>[20230531-0004095]</p>
              </td>
              <td><div><img src="/images/sample/18889.gif"></div></td>
              <td>
                <p>[LAF추천/2장돌파] 호우 윈터 루즈핑 스트라이프 데스 셔츠-31icecream</p>
                <p>[옵션:그린]</p>
              </td>
              <td>1</td>
              <td>33,000원</td>
              <td>
                <select>
                  <option>상품준비중</option>
                  <option>교환중</option>
                  <option>반품중</option>
                </select>
              </td>
            </tr>
            <tr class="order-modal-row">
              <td>
                <p>2023-05-31</p>
                <p>[20230531-0004095]</p>
              </td>
              <td><div><img src="/images/sample/18889.gif"></div></td>
              <td>
                <p>[LAF추천/2장돌파] 호우 윈터 루즈핑 스트라이프 데스 셔츠-31icecream</p>
                <p>[옵션:그린]</p>
              </td>
              <td>1</td>
              <td>33,000원</td>
              <td>
                <select>
                  <option>상품준비중</option>
                  <option>교환중</option>
                  <option>반품중</option>
                </select>
              </td>
            </tr>
            <tr class="order-modal-row">
              <td>
                <p>2023-05-31</p>
                <p>[20230531-0004095]</p>
              </td>
              <td><div><img src="/images/sample/18889.gif"></div></td>
              <td>
                <p>[LAF추천/2장돌파] 호우 윈터 루즈핑 스트라이프 데스 셔츠-31icecream</p>
                <p>[옵션:그린]</p>
              </td>
              <td>1</td>
              <td>33,000원</td>
              <td>
                <select>
                  <option>상품준비중</option>
                  <option>교환중</option>
                  <option>반품중</option>
                </select>
              </td>
            </tr>
            <tr class="order-modal-row">
              <td>
                <p>2023-05-31</p>
                <p>[20230531-0004095]</p>
              </td>
              <td><div><img src="/images/sample/18889.gif"></div></td>
              <td>
                <p>[LAF추천/2장돌파] 호우 윈터 루즈핑 스트라이프 데스 셔츠-31icecream</p>
                <p>[옵션:그린]</p>
              </td>
              <td>1</td>
              <td>33,000원</td>
              <td>
                <select>
                  <option>상품준비중</option>
                  <option>교환중</option>
                  <option>반품중</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </section>
    <th:block th:replace="~{admin/adminOrder/orderModal}"></th:block>
  </main>

</body>
</html>