<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/common/default.css">
  <link rel="stylesheet" href="/css/admin/adminOrder/orderSelect.css">
  <title>관리자::주문 조회</title>
</head>
<body>

  <th:block th:replace="~{admin/adminHeader}"></th:block>
  
  <main>
    <section class="admin-container">
      <div class="control-classify">
        <a href="/admin/adminOrder/orderCurrent"><span>주문 현황</span></a>
        <a href="/admin/adminOrder/orderSelect"><span class="control-classify-select">주문 조회</span></a>
      </div>
      <div class="order-select">
        <div>
          <span class="order-select-title">주문 조회</span>
        </div>
      </div>
    </section>
  </main>

  <th:block th:replace="~{common/footer}"></th:block>

</body>
</html>