<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LAF :: 회원가입</title>

  <link rel="stylesheet" href="/css/member/signUp.css">
</head>
<body>
  <th:block th:replace="~{/common/header}"></th:block>
  <th:block th:replace="~{/common/nav}"></th:block>
  
  <main>
    <!-- 개인화면 대쉬보드 전체 틀 -->
    <section class="mypageSignUp-signUp">
      <div class="mypageSignUp-signUp-info"> <!-- width 1200px, 상단 마진 50px, 중앙정렬  -->
        <form th:action="@{/signUp}" method="post" id="mypageSignUpSubmit">
          <div>
            <div class="mypageSignUp-info-intro"><span>JOIN</span></div>
          <div class="mypageSignUp-info-signUpInfo"><!-- 기본정보 -->
            <Strong>기본정보</Strong>
            <table class="mypageSignUp-signUpInfo-table">
              <tr>
                <th><div class="for-flex-signUp"><span>아이디</span><div class="required-for-signUp"><span>*</span></div></div></th>
                <td>
                  <div class="mypageSignUp-table-inputTd">
                    <input type="text" name="memberId" id="mypageSignUpId" >
                    <div id="idMessage">(영문소문자/숫자, 4~16자)</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th><div class="for-flex-signUp"><span>비밀번호</span><div class="required-for-signUp"><span>*</span></div></div></th>
                <td>
                  <div class="mypageSignUp-table-inputTd">
                    <input type="password" name="memberPw" id="mypageSignUpPw" >
                    <div>(영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 8자~16자)</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th><div class="for-flex-signUp"><span>비밀번호 확인</span><div class="required-for-signUp"><span>*</span></div></div></th>
                <td>
                  <input type="password"  name="memberPw2" id="mypageSignUpPwConfirm" >
                </td>
              </tr>
              <tr>
                <th><div class="for-flex-signUp"><span>이름</span><div class="required-for-signUp"><span>*</span></div></div></th>
                <td>
                  <input type="text" name="memberName" id="mypageSignUpName"  maxlength="10">
                </td>
              </tr>
              <tr>
                <th><div class="for-flex-signUp"><span>주소</span><div class="required-for-signUp"><span>*</span></div></div></th>
                <td>
                  <!-- 주소 api 이용 (마지막 body태그 위 관련 스크립트) -->
                  <div class="mypageSignUp-table-address">
                    <input type="text"  class="mypageSignUp-address-postal" name="memberAddress" placeholder="우편번호" maxlength="6" id="sample6_postcode" readonly>
                    <button type="button" onclick="sample6_execDaumPostcode()">주소검색</button>
                  </div>
                  <div class="mypageSignUp-table-address">
                    <input type="text"  name="memberAddress" placeholder="  기본 주소" id="sample6_address" readonly>
                  </div>
                  <div class="mypageSignUp-table-address">
                    <input type="text"  name="memberAddress" placeholder="  나머지 주소" id="sample6_detailAddress">
                  </div>
                </td>
              </tr>
              <tr>
                <th><div class="for-flex-signUp"><span>전화번호</span><div class="required-for-signUp"><span>*</span></div></div></th>
                <td class="mypageSignUp-table-tel">
                  <input type="text" id="mypageSignUpTelF" maxlength="11"  name="memberPhone">
                  <span id="phoneMessage">'-'를 제외한 숫자만 입력 바랍니다.</span>
                </td>
              </tr>
              <tr>
                <th><div class="for-flex-signUp"><span>이메일</span><div class="required-for-signUp"><span>*</span></div></div></th>
                <td>
                  <input type="text"  id="mypageSignUpMail" name="memberEmail">
                  <button class="signUp-button" id="sendAuthKeyBtn" type="button">인증 메일 전송</button>
                  <span id="emailMessage"></span>
                </td>
              </tr>
              <tr>
                <th><div class="for-flex-signUp"><span>이메일 인증 번호</span><div class="required-for-signUp"><span>*</span></div></div></th>
                <td>
                  <input type="text" id="authKey" name="authKey" maxlength="6" autocomplete="off">
                  <button class="signUp-button" id="checkAuthKeyBtn" type="button">인증하기</button>
                  <span id="authKeyMessage"></span>
                </td>
              </tr>
            </table>
          </div>

          <div  class="mypageSignUp-info-signUpInfo"><!-- 추가 정보 -->
            <Strong>추가정보</Strong>
            <table class="mypageSignUp-signUpInfo-table">
              <tr class="mypageSignUp-table-birth">
                  <td>생년월일</td>
                  <td>
                      <input type="text" maxlength="4" id="mypageSignUpYear" name="memberBirth" style="width:100px">년
                      <input type="text" maxlength="2" id="mypageSignUpMonth" name="memberBirth">월
                      <input type="text" maxlength="2" id="mypageSignUpDay" name="memberBirth">일
                  </td>
                  <td>성별</td>
                  <td>
                    <select name="memberGender">
                      <option>선택</option>
                      <option value="F">여자</option>
                      <option value="M">남자</option>
                    </select>
                  </td>
              </tr>
              <tr class="mypageSignUp-table-Refund">
                <td rowspan="3">환불계좌 정보</td>
                <td colspan="3">
                  <div> 예금주
                    <input type="text" id="mypageSignUpRefundName" name="refundName">
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3"> 은행명
                  <select name="refundBank" size="1"> 
                    <option>- 은행 선택 -</option>
                    <option value="ori">우리은행</option>
                    <option value="kuk">국민은행</option> 
                    <option value="nong">농협은행</option> 
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <span>계좌번호</span>
                  <input type="text" name="refundAccount" id="mypageSignUpRefundNo"  placeholder="'-' 을 제외한 숫자만 입력해주세요">
                </td>
              </tr>
            </table>
          </div> 
          <ul class="mypageSignUp-info-terms">
            <span>
              <input type="checkbox" name="" id="mypageSignUptermsAll"> 전체 약관 동의
            </span>
            <div>
              [필수] 이용약관 동의
              <li>제 1조(목적)</li>
              <span>이용약관에 동의하십니까?<input type="checkbox" class="mypageSignUp-terms-content" name="" id="mypageSignUptermsUse" > 동의함</span>
            </div>
            <div>
              [필수] 개인정보 수집 및 이용 동의
              <li>1. 개인정보 수집 목적 및 이용목적</li>
              <span>개인정보 수집 및 이용에 동의하십니까?<input type="checkbox" class="mypageSignUp-terms-content" name="" id="mypageSignUptermsInfo" > 동의함</span>
            </div>
            <div>
              [필수] 쇼핑 수신 동의?
              <li>할인 쿠폰 등</li>
              <span>수신에 동의하십니까?<input type="checkbox" class="mypageSignUp-terms-content" name="" id="mypageSignUptermsReceiving" > 동의함</span>
            </div>
          </ul> 
          <div id="mypageSignUpSubmitButton"><button id="signUpButton">회원가입</button></div>
        </form>
      </div>
    </section>
  </main>

  <th:block th:replace="~{/common/footer}"></th:block>
  
  <!-- 주소 api -->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="/js/common/api/address.js"></script>
  <script src="/js/member/signUp.js"></script>
</body>
</html>
