.product-select{
  width: 1200px;

  margin: 0 30px 30px;
  padding: 30px;

  border-radius: 30px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.product-select-title{
  font-size: 2.5rem;
}

/* product-select-box */
.product-select-box{
  width: 95%;
  margin: 50px auto 80px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
/* product-select-top */
.product-select-top{
  width: 100%;
  margin-bottom: 10px;
}

.product-select-top tr{
  height: 50px;
  border-bottom: 1px solid #eee;
}

.product-select-top td{
  padding: 10px 20px;
}

.product-select-top input{
  margin-right: 5px;
}

.product-select-top td:nth-child(1){
  width: 160px;
  height: 50px;
  background-color: #fafafa;;
  border-right: 1px solid #eee;
  text-align: center;
}

.product-select-top select{
  width: 120px;
  height: 30px;
  margin-right: 20px;
}

.product-select-top option{
  height: 30px;
}

.product-select-top tr:nth-child(3)>td:nth-child(2)>div{
  display: flex;
  align-items: center;
}

.product-select-top input[type=checkbox]{
  margin: 0 10px;
}

.product-select-btn{
  margin-left: auto;
  width: 220px;
  margin-bottom: 50px;
}

.product-select-btn *{
  width: 100px;
  height: 30px;
  color: white;
  letter-spacing: 3px;
  margin-left: 5px;
}

.product-select-btn>button:nth-child(1){background-color: #7f7698;}
.product-select-btn>button:nth-child(2){background-color: #ccc;}

/* product-select-bottom-title */
.product-select-bottom-title{
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 10px;
  border: 1px ;
}

.product-select-bottom-title button{
  margin: 0 5px;
  width: 100px;
  height: 30px;
  background-color: #7f7698;
  color: white;

  font-size: 1.2rem;
  letter-spacing: 2px;
}

/* product-select-bottom */
.product-select-bottom{
  width: 100%;
  margin-bottom: 10px;
}

.product-select-bottom tr{
  height: 50px;
  border-top: 1px solid #eee;
}

.product-select-bottom tr:nth-child(1){
  background-color: #fafafa;
}

.product-select-bottom tr:nth-child(1)>td:nth-child(3){
  text-align: center;
}

.product-select-bottom td{
  padding: 0 5px;
}

.product-select-bottom input{
  margin-right: 5px;
}

.product-select-bottom td:nth-child(3)>div{
  width: 220px;
  display: flex;
  margin-top: 5px;
}

.product-select-bottom img{
  width: 100px;
  margin-right: 5px;
}

.product-select-bottom td:nth-child(3) p{
  width: 250px;
}