* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid black; */
}

li{
  list-style: none;
}

a{
  color: black;
  text-decoration: none;
}

table{
  border-collapse: collapse;
}

button{
  font-family: SUITE-Regular;
}

/* 폰트 */
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}