
/* main */
/* main banner slide */
.main-banner{
  position: relative;
}
.main-banner ul{
  width: 100%;
  height: 600px;
  border: 1px solid black;
}

.main-banner li{
  position: relative;
}

.main-banner-img{
  position: absolute;
  
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: top;
}

.main-banner input{
  display: none;
}

.main-banner-dot{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 2;
}
.main-banner-dot label{
  display: inline-block;
  margin: 5px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.55);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#slide1:checked ~ .main-banner-dot label:nth-child(1),
#slide2:checked ~ .main-banner-dot label:nth-child(2),
#slide3:checked ~ .main-banner-dot label:nth-child(3),
#slide4:checked ~ .main-banner-dot label:nth-child(4),
#slide5:checked ~ .main-banner-dot label:nth-child(5),
#slide6:checked ~ .main-banner-dot label:nth-child(6) {
  background-color: white;
}

#slide1:checked ~ .slide-img>li:nth-child(1),
#slide2:checked ~ .slide-img>li:nth-child(2),
#slide3:checked ~ .slide-img>li:nth-child(3),
#slide4:checked ~ .slide-img>li:nth-child(4),
#slide5:checked ~ .slide-img>li:nth-child(5),
#slide6:checked ~ .slide-img>li:nth-child(6){
  opacity: 1;
  transition: 1s;
  z-index: 1;
}

.main-banner-lbtn, .main-banner-rbtn{
  z-index: 5;
  width: 50px;
  height: 50px;
  background-color: rgba(221, 221, 221, 0.5);
  border: 0;
}

.main-banner-lbtn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.main-banner-rbtn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

/* main product */
.main-product{
  width: 1200px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}

.main-product-left{
  height: 400px;
  width: 35%;
  position: relative;
}

.md-recommend-btn{
  margin-top: 90px;
  width: 120px;
  display: flex;
  justify-content: center;
}

.md-recommend-btn button{
  margin: 0 5px;
  width: 40px;
  height: 40px;
  background-color: #eee;
  border: 2px solid #ccc;
}

.main-product-right{
  height: 400px;
  width: 60%;
  position: relative;
}

.main-product-left img, .main-product-right img{
  position: absolute;
  
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

/* md recommend */
.md-recommend{
  width: 1200px;
  margin: 40px auto;
  font-size: 20px;

  position: relative;
}

.md-recommend-left{
  position: absolute;
  top: 0;
  z-index: 1;
}

.md-recommend-left p:nth-child(1){
  font-weight: bold;
}

.md-recommend-left p:nth-child(2){
  margin: 15px 5px;
  font-size: 14px;
}


.md-recommend-right{
  padding-top: 10px;
  margin-left: 100px;
}

.md-recommend-list{
  display: flex;
  justify-content: center;
}

.md-recommend-list>li{
  width: 220px;
  height: 280px;
  margin: 10px;

  position: relative;
}

.md-recommend-img{
  width: 220px;
  height: 280px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}
/* ------------------상품 설명 hover---------------- */
#imgDescription{
  position: absolute;  
  bottom: 0;
  background-color: rgba(255,255,255,0.7);

  height: 40%;
  width: 100%;
  font-size: 10px;
  padding: 20px;
}

#imgDescription>div:nth-child(1){
  padding: 8px 0;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
}

#imgDescription > div:nth-child(2) > span:nth-child(1){
  /* font-size: calc(2em + ); */
  margin-right: 3px;
}

#imgDescription > div:nth-child(2) > span:nth-child(2){
  color: #666;
  font-size: 0.8em;
}

#imgDescription>div:nth-child(3){
  font-size: 1em;
}
/* ------------------------------------------------ */
/* weekly */
.weekly{
  width: 1200px;
  margin: 40px auto;
  font-size: 20px;
}

.weekly-title{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.weekly-title span{
  font-size: 25px;
}

.weekly-title button{
  width: 140px;
  height: 45px;
  border: none;
  border-radius: 5px;
  
  margin: 20px 10px;

  font-weight: bold;
  font-size: 18px;
  letter-spacing: 3px;

  background-color: #DAD5E4;
}

.weekly-title button:nth-child(1){
  color: white;
  background-color: #493E5D;
}

.weekly table{
  width: 100%;
}

.weekly table td{
  position: relative;
}

.weekly-big-img{
  padding: 5px;
  width: 400px;
  height: 670px;
  object-fit: cover;
  object-position: center;
}

.weekly-img{
  padding: 5px;
  width: 250px;
  height: 330px;
  object-fit: cover;
  object-position: center;
}

/* new */
.new{
  width: 1200px;
  margin: 40px auto;
  font-size: 20px;
}


/* only */
.only{
  width: 1200px;
  margin: 40px auto;
  font-size: 20px;
}

/* 임시 */
.new-list, .only-list{
  display: flex;
}

