.order-select{
  width: 1200px;

  margin: 0 30px 30px;
  padding: 30px;

  border-radius: 30px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.order-select-title{
  font-size: 2.5rem;
}

/* order-select-box */
.order-select-box{
  padding: 50px 70px;
}
/* order-select-top */
.order-select-top{
  width: 100%;
  margin-bottom: 10px;
}

.order-select-top tr{
  height: 30px;
  border-bottom: 1px solid #eee;
}

.order-select-top td{
  padding: 5px 0;
}

.order-select-top select,
.order-select-top input[type = date]:nth-child(1){
  margin-left: 10px;
}

.order-select-top input[type = date]:nth-child(3){
  margin-right: 30px !important;
}

.order-select-top tr:nth-child(1){
  border-top: 1px solid #eee;
}

.order-select-top td:nth-child(1){
  width: 120px;
  background-color: #fafafa;;
  border-right: 1px solid #eee;
  text-align: center;
}

.order-select-top select{
  width: 120px;
  height: 30px;
  margin-right: 20px;
}

.order-select-top option{
  height: 30px;
}

.order-select-top tr:nth-child(1) input{
  width: 500px;
  height: 30px;
}

.order-select-top tr:nth-child(3)>td:nth-child(2)>div,
.order-select-top tr:nth-child(4)>td:nth-child(2)>div{
  display: flex;
  align-items: center;
}

.order-select-top input[type=checkbox]{
  margin: 0 10px;
}

.order-select-top tr:nth-child(2)>td:nth-child(2)>div{
  display: flex;
  align-items: center;
}

.order-select-top tr:nth-child(2)>td:nth-child(2)>div *{
  margin-right: 5px;
}

#dateFilter>input{
  width: 150px;
}

.order-select-top tr:nth-child(2)>td:nth-child(2)>div input[type=radio]{
  display: none;
}
.order-select-top tr:nth-child(2)>td:nth-child(2)>div label>div{
  width: 60px;
  height: 25px;
  border-radius: 3px;
  color: white;
  background-color: #ccc;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.order-select-top tr:nth-child(2)>td:nth-child(2)>div input[type=radio]:checked+label>div{
  background-color: #7f7698;
}

.order-select-btn{
  margin-left: auto;
  width: 220px;
}

.order-select-btn *{
  width: 100px;
  height: 30px;
  color: white;
  letter-spacing: 3px;
  margin-left: 5px;
}

.order-select-btn>button:nth-child(1){background-color: #7f7698;}
.order-select-btn>button:nth-child(2){background-color: #ccc;}


/* .order-select-list */
.order-select-list{
  padding: 30px 70px;
}

.order-select-table-title>div:nth-child(1){
  display: flex;
}
.order-select-table-title>div:nth-child(1)>a{
  margin-right: 15px;
}
.order-select-table-title>div:nth-child(1) i{
  margin-left: 3px;
  font-size: 1rem;
}

.order-select-table-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border: 1px ;
}

.order-select-table-title button{
  margin: 0 5px;
  width: 100px;
  height: 30px;
  background-color: #7f7698;
  color: white;

  font-size: 1.2rem;
  letter-spacing: 2px;
}

/* order-select-bottom */
.order-select-table{
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #eee;
}

.order-select-table tr{
  height: 50px;
}

.order-select-table td{
  padding: 5px;
}

.order-select-table tr:nth-child(1){
  background-color: #fafafa;
  text-align: center;
}

.order-select-table tr:nth-child(2)>td:nth-child(2),
.order-select-table tr:nth-child(2)>td:nth-child(5),
.order-select-table tr:nth-child(2)>td:nth-child(6),
.order-select-table tr:nth-child(2)>td:nth-child(7){
  text-align: center;
}

.order-select-table input{
  margin-right: 5px;
}

.order-select-table img{
  width: 50px;
  margin-right: 5px;
}

.order-select-table tr:nth-child(2)>td:nth-child(2)>div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-select-table tr:nth-child(2)>td:nth-child(3) p{
  width: 230px;
}

.order-select-table tr:nth-child(2)>td:nth-child(4) p:nth-child(2){
  color: #ccc;
}

.order-select-table tr:nth-child(2)>td:nth-child(3) p:nth-child(2){
  color: #ccc;
  margin-top: 5px;
}