/* 게시판 리스트 */
/* 게시글 */
.list-table tr{
  height: 35px;
  cursor: pointer;
}

.list-table > tbody > tr{
  border-bottom: 0.5px solid #ccc;
}

.list-table tr > *{ text-align: center; font-size: 1.2rem;}
.list-table tr > *:nth-of-type(1){ width: 10%; }

.list-table tr > td:nth-of-type(2){
  width: 60%; 
  text-align: left;
  padding-left: 30px;
  text-decoration: none;
}

.list-table tr > *:nth-of-type(3){ width: 10%; }
.list-table tr > *:nth-of-type(4){ width: 20%; }
.list-table tr {
  z-index: 30;
}
.list-table td {
  z-index: 29;
}

.list-table td.hover {
  background-color: #fafafa;
  transition-duration: 0.2s;
}
/* 게시자 등급 */
.noticeMemberGrade{
  height: 25%;
  width: 25px;
}
.noticeMember{
  display: flex;
  align-items: center;
}

/* 게시판 상세 */
/* 게시판 상세 상단 */
.detail-list-table {
  width: 100%;
  border-top: 0.5px solid #ccc;
}

.detail-list-table tr{
  height: 30px;
  border-bottom: 0.5px solid #ccc;
}

.detail-list-table > tr{
  border-bottom: 0.5px solid #ccc;
}

.detail-list-table tr > *{ text-align: center; font-size: 1.2rem;}
.detail-list-table tr > *:nth-of-type(1){ 
  width: 10%; 
  background-color: #eee;
  font-weight: bold;
}

.detail-list-table tr > td:nth-of-type(2){
  width: 70%; 
  text-align: left;
  padding-left: 20px;
  text-decoration: none;
}

/* 게시판 상세 본문 */
.detail-list-contents {
  width: 80%;
  padding: 40px 20px;

  border-bottom: 0.5px solid #ccc;
}

/* 게시판 상세 버튼 */
.detail-btn-area {
  width: 80%;
  height: 30px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* 답변하기 버튼(관리자용) */
.btn-container {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 80%;
}
  
.btn-container > button {
  width: 120px;
  height: 40px;
  margin-left: 5px;
  border-radius: 0px;
}




 /* 게시판 글쓰기 */
.write-list-contents > textarea{
  width: 100%;
  height: 500px;
  margin-top: 10px;

  resize: none;
  border: 0.5px solid #ccc;

}

.write-btn {
  border-radius: 3px;
}

.write-btn-area {
  margin-top: 0px;
}

.detail-list-table input {
  width: 97%;
  border: none;
  outline: none;
}