<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/shopping/categoryList.css">
  <link rel="stylesheet" href="/css/myPage/myPageInfo/myPageAddShipping.css">
  <title>LAF :: 배송지 관리</title>

</head>
<body>
  <th:block th:replace="~{/common/header}"></th:block>
  <th:block th:replace="~{/common/nav}"></th:block>
  
  <main>
    <section class="mypageAddShipping-mainFrame">
      <th:block th:replace="~{/mypage/mypageSide}"></th:block>
      <!-- 마이페이지 중앙 대쉬보드 -->
      <div class="mypageAddShipping-mainFrame-myMain">
        <!-- 배송지 관리 -->
        <div class="mypageAddShipping-myMain-text">배송 주소록 관리
          <div>자주 쓰는 배송지를 등록 관리하실 수 있습니다.</div>
        </div>
        <form action="" method="post">
          <div class="mypageAddShipping-myMain-shipping">
            <table>
              <tr>
                <th>배송지명</th>
                <td><input type="text"></td>
              </tr>
              <tr>
                <th>성명</th>
                <td><input type="text"></td>
              </tr>
              <tr>
                <th>주소</th>
                <td>
                  <!-- 주소 api 이용 (마지막 body태그 위 관련 스크립트) -->
                  <div class="mypageAddShipping-shipping-address">
                    <input type="text" required class="mypageAddShipping-address-content" name="memberAddress" maxlength="6" id="sample6_postcode" readonly>
                    <button type="button" onclick="sample6_execDaumPostcode()">주소검색</button>
                  </div>
                  <div class="mypageAddShipping-shipping-address">
                    <input type="text" required name="memberAddress" id="sample6_address" readonly>
                  </div>
                  <div class="mypageAddShipping-shipping-address">
                    <input type="text" required name="memberAddress"  id="sample6_detailAddress">
                  </div>
                </td>
              </tr>
              <tr class="mypageAddShipping-shipping-tel">
                <th>휴대전화</th>
                <td>
                  <input type="text">-
                  <input type="text">-
                  <input type="text">
                </td>
              </tr>
            </table>
            <div class="mypageAddShipping-shipping-confirm">
              <div>
                <input type="checkbox">기본 배송지로 저장
              </div>
              <div class="mypageAddShipping-confirm-button">
                <button>등록</button>
                <a href="/shipping"><button type="button">취소</button></a>
              </div>
            </div>
            <table class="mypageAddShipping-Shipping-notice">
              <tr>
                <th>배송주소록 유의사항 </th>
              </tr>
              <tr>
                <td>
                  <div>❶ 배송 주소록은 최대 3개까지 등록할 수 있으며, 별도로 등록하지 않을 경우 최근 배송 주소록 기준으로 자동 업데이트 됩니다.</div>
                  <div>❷ 기본 배송지는 1개만 저장됩니다. 다른 배송지를 기본 배송지로 설정하시면 기본 배송지가 변경됩니다.</div>
                </td>
              </tr>
            </table>
          </div>
        </form>
      </div>
    </section>
  </main>
  <th:block th:replace="~{/common/footer}"></th:block>

  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="/js/common/api/address.js"></script>
</body>
</html>
