<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LAF :: 회원 정보 변경</title>

  <link rel="stylesheet" href="/css/mypage/myPageInfo/myPageInfo.css">
</head>
<body>
  <th:block th:replace="~{common/header}"></th:block>
  <th:block th:replace="~{common/nav}"></th:block>
  
  <main>
    <section class="mypageSignUp-signUp" th:object="${session.loginMember}">
      <th:block th:replace="~{myPage/myPageSide}"></th:block>
      <div class="mypageSignUp-signUp-info"> <!-- width 1000px, 상단 마진 50px, 중앙정렬  -->
        <form th:action="@{/myPage/info}" method="post" id="mypageSignUpSubmit">
          <div class="section-header">
            <div class="section-title">회원 정보 변경</div>
          </div>
          <div class="mypageSignUp-info-signUpInfo reqired-information"><!-- 기본정보 -->
            <Strong>기본정보</Strong>
            <table class="mypageSignUp-signUpInfo-table">
              <tr>
                <td><div class="for-flex-signUp"><span>아이디</span></div></td>
                <td>
                  <div class="mypageSignUp-table-inputTd">
                    <div th:text="*{memberId}">로그인 회원 아이디</div>
                  </div>
                </td>
              </tr>
                <td><div class="for-flex-signUp"><span>이름</span><div class="required-for-signUp"><span>*</span></div></div></td>
                <td>
                  <input type="text" name="memberName" id="mypageSignUpName"  maxlength="10" th:value="*{memberName}">
                </td>
              </tr>
              <tr>
                <td><div class="for-flex-signUp"><span>주소</span><div class="required-for-signUp"><span>*</span></div></div></td>
                <td>
                  <!-- 주소 api 이용 (마지막 body태그 위 관련 스크립트) -->
                  <div class="mypageSignUp-table-address">
                    <input type="text"  class="mypageSignUp-address-postal" name="memberAddress" placeholder="우편번호" maxlength="6" id="sample6_postcode" readonly>
                    <button type="button" onclick="sample6_execDaumPostcode('sample6')">주소검색</button>
                  </div>
                  <div class="mypageSignUp-table-address">
                    <input type="text"  name="memberAddress" placeholder=""  기본 주소 id="sample6_address" readonly>
                  </div>
                  <div class="mypageSignUp-table-address">
                    <input type="text"  name="memberAddress" placeholder=""  상세 주소 id="sample6_detailAddress">
                  </div>
                </td>
              </tr>
              <tr>
                <td><div class="for-flex-signUp"><span>전화번호</span><div class="required-for-signUp"><span>*</span></div></div></td>
                <td class="mypageSignUp-table-tel">
                  <input type="text" id="mypageSignUpTelF" maxlength="11"  name="memberPhone" th:value="*{memberPhone}">
                  <span id="phoneMessage">'-'를 제외한 숫자만 입력 바랍니다.</span>
                </td>
              </tr>
              <tr>
                <td><div class="for-flex-signUp"><span>이메일</span><div class="required-for-signUp"><span>*</span></div></div></td>
                <td>
                  <input type="text"  id="mypageSignUpMail" name="memberEmail" th:value="*{memberEmail}">
                  <button class="signUp-button" id="sendAuthKeyBtn" type="button">인증 메일 전송</button>
                  <span id="emailMessage"></span>
                </td>
              </tr>
              <tr>
                <th><div class="for-flex-signUp"><span>이메일 인증 번호</span><div class="required-for-signUp"><span>*</span></div></div></th>
                <td>
                  <input type="text" id="authKey" name="authKey" maxlength="6" autocomplete="off">
                  <button class="signUp-button" id="checkAuthKeyBtn" type="button">인증하기</button>
                  <span id="authKeyMessage"></span>
                </td>
              </tr>
            </table>
          </div>

          <div  class="mypageSignUp-info-signUpInfo"><!-- 추가 정보 -->
            <Strong>추가정보</Strong>
            <table class="mypageSignUp-signUpInfo-table modify-margin-bottom">
              <tr class="mypageSignUp-table-birth">
                  <td>생년월일</td>
                  <td>
                      <input type="text" maxlength="4" id="mypageSignUpYear" name="memberBirth" style="width:100px" th:value="${#strings.substring(loginMember.memberBirth,0,4)}">년
                      <input type="text" maxlength="2" id="mypageSignUpMonth" name="memberBirth" th:value="${#strings.substring(loginMember.memberBirth,5,7)}">월
                      <input type="text" maxlength="2" id="mypageSignUpDay" name="memberBirth" th:value="${#strings.substring(loginMember.memberBirth,8,10)}">일
                  </td>
                  <td>성별</td>
                  <td>
                    <select name="memberGender" th:value="*{memberGender}">
                      <option value="n">선택</option>
                      <option value="F">여자</option>
                      <option value="M">남자</option>
                    </select>
                  </td>
              </tr>
              <tr class="mypageSignUp-table-Refund">
                <td rowspan="3">환불계좌 정보</td>
                <td colspan="3">
                  <div> 예금주
                    <input type="text" id="mypageSignUpRefundName" name="refundName" th:value="*{refundName}">
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3"> 은행명
                  <select name="refundBank" size="1" th:value="*{refundBank}"> 
                    <option value="0">- 은행 선택 -</option>
                    <option value="1">국민은행</option> 
                    <option value="2">농협은행</option> 
                    <option value="3">우리은행</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <span>계좌번호</span>
                  <input type="text" name="refundAccount" id="mypageSignUpRefundNo"  placeholder="'-' 을 제외한 숫자만 입력해주세요" th:value="*{refundAccount}">
                </td>
              </tr>
            </table>
            <div>
              <button type="button" id="deleteMember">회원탈퇴</button>
            </div>
          </div> 
          <div id="mypageSignUpSubmitButton">
            <button id="signUpButton" class="submit">회원정보수정</button>
            <button type="button" id="cancelButton">취소</button>
          </div>
        </form>
      </div>
    </section>
     <!-- 회원 탈퇴 모달창 -->
     <div class="myPage-delete-modal-overlay" id="memberDeleteModalOverlay">
      <div class="myPage-delete-modal-window">
        <div>
          <div>회원 탈퇴</div>
          <div class="delete-confirm-message-box">
            <div>
              <div>
                <div>
                  <div class="myPage-delete-modal-subtext">아직 사용하지 않은 혜택이 많이 있습니다.</div>
                </div>
                <div>
                  <span>미사용 적립금</span>
                  <div class="not-used-point-coupon">
                    <span th:text="${session.loginMember.memberPoint}">적립금액</span><span>원</span>
                  </div>
                </div>
                <div>
                  <span>미사용 쿠폰</span>
                  <div class="not-used-point-coupon">
                    <span th:text="${#lists.size(couponList)}">쿠폰개수</span><span>개</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="myPage-delete-modal-subtext">정말로 탈퇴하시겠습니까?</div>
        </div>
        <!-- 하단 버튼 영역 -->
        <form th:action="@{/myPage/delete}" method="post" id="mypageSignUpSubmit">
          <div class="myPage-delete-btn-area">
            <button class="button member-cupon-modal-close">탈퇴</button>
            <button type="button" class="button member-cupon-modal-close" id="modalClose">닫기</button>
          </div>
        </form>
      </div>
    </div>
  </main>

  <th:block th:replace="~{common/footer}"></th:block>

  
  <!-- 주소 api -->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="/js/common/api/address.js"></script>
  <script src="/js/mypage/myPageInfo.js"></script>
</body>
</html>
