<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/boards/boardsCommon.css">
  <link rel="stylesheet" href="/css/boards/qna.css">
  <title>LAF :: 1대1문의</title>
</head>
<body id="qnaM">

  <th:block th:replace="~{common/header}"></th:block>
  <th:block th:replace="~{common/nav}"></th:block>
  
  <main >

    <form action="/qna/update" method="post">
      
      <input th:value="${session.loginMember.memberNo}" th:if="${session.loginMember}" type="hidden" name="memberNo">
      <section class="board-list"  th:with="qna=${qna}">
        <input type="hidden" name="qnaNo" th:value="${qna.qnaNo}">
        <div class="section-header">
          <div class="section-title">1:1문의</div>
        </div>
        <div class="sub-category-container">
          <!-- 현재 카테고리에 current 클래스 추가 -->
          <a href="/notice"><div class="sub-category">NOTICE</div></a>
          <a href="/qna"><div class="sub-category current">1:1문의</div></a>
          <a href="/faq"><div class="sub-category">FAQ</div></a>
          <a href="/review"><div class="sub-category">REVIEW</div></a>
        </div>

        <!-- 게시판 -->
        <div class="list-wrapper">
          <table class="detail-list-table">
            <tr>
              <td>TITLE</td>
              <td><input name="qnaTitle" type="text" required autocomplete="off"  th:value="${qna.qnaTitle}"></td>
            </tr>
            <tr>
              <td>CATEGORY</td>
              <td>
                <!-- 카테고리 변동 시 밑 product, order tr 변동 -->
                <select th:if="${qna.qnaCategory=='일반'}" name="qnaCategory" id="categoryKey" onchange="changeValue(this)">
                  <option value="etc" selected>일반문의</option>
                  <option value="product">상품문의</option>
                  <option value="shipping">배송문의</option>
                </select>
                <select th:if="${qna.qnaCategory=='상품'}" name="qnaCategory" id="categoryKey" onchange="changeValue(this)">
                  <option value="etc">일반문의</option>
                  <option value="product" selected>상품문의</option>
                  <option value="shipping">배송문의</option>
                </select>
                <select th:if="${qna.qnaCategory=='배송'}" name="qnaCategory" id="categoryKey" onchange="changeValue(this)">
                  <option value="etc">일반문의</option>
                  <option value="product">상품문의</option>
                  <option value="shipping" selected>배송문의</option>
                </select>
              </td>
            </tr>
            <!-- select에 따라 변동 사항 -->
            <tr id="qnaWriteProduct" th:if="${qna.qnaCategory=='상품'}" style="display: table-row">
              <td>PRODUCT NAME.</td>
              <td>
                <input th:if="${qna.productName}" id="qnaProductName" name="productName" type="text" autocomplete="off"  th:value="${qna.productName}">
                <input th:unless="${qna.productName}" id="qnaProductName" name="productName" type="text" autocomplete="off"  placeholder="정확한 상품명을 입력하지 않을 시 답변에 어려움이 있을 수 있습니다.">
                <div id="qnaProductList">
                  <div class="qnaProduct" value="0">
                    <div>상품 번호 : 
                      <span class="productNo" id="productNo"></span>
                    </div>
                    <div>
                      <span> <img class="productImg" id="productImg" src="/images/common/no-image.png" alt=""></span>
                    </div>
                    <div>
                      <span id="productName" class="productName"></span>
                    </div>
                  </div>
                  <div class="qnaProduct" value="0">
                    <div>상품 번호 : 
                      <span class="productNo" id="productNo"></span>
                    </div>
                    <div>
                      <span> <img class="productImg" id="productImg" src="/images/common/no-image.png" alt=""></span>
                    </div>
                    <div>
                      <span id="productName" class="productName"></span>
                    </div>
                  </div>
                  <div class="qnaProduct" value="0">
                    <div>상품 번호 : 
                      <span class="productNo" id="productNo"></span>
                    </div>
                    <div>
                      <span> <img class="productImg" id="productImg" src="/images/common/no-image.png" alt=""></span>
                    </div>
                    <div>
                      <span id="productName" class="productName"></span>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr id="qnaWriteProduct" th:unless="${qna.qnaCategory=='상품'}" style="display: none">
              <td>PRODUCT NAME.</td>
              <td>
                <input th:if="${qna.productName}" name="productName" type="text" autocomplete="off"  th:value="${qna.productName}">
                <input th:unless="${qna.productName}" name="productName" type="text" autocomplete="off"   placeholder="상품번호 입력">
                <div id="qnaProductList">
                  <div class="qnaProduct" value="0">
                    <div>상품 번호 : 
                      <span class="productNo" id="productNo"></span>
                    </div>
                    상품 :
                    <div>
                      <span> <img class="productImg" id="productImg" src="/images/common/no-image.png" alt=""></span>
                    </div>
                    <div>
                      <span id="productName" class="productName"></span>
                    </div>
                  </div>
                  <div class="qnaProduct" value="0">
                    <div>상품 번호 : 
                      <span class="productNo" id="productNo"></span>
                    </div>
                    상품 :
                    <div>
                      <span> <img class="productImg" id="productImg" src="/images/common/no-image.png" alt=""></span>
                    </div>
                    <div>
                      <span id="productName" class="productName"></span>
                    </div>
                  </div>
                  <div class="qnaProduct" value="0">
                    <div>상품 번호 : 
                      <span class="productNo" id="productNo"></span>
                    </div>
                    상품 :
                    <div>
                      <span> <img class="productImg" id="productImg" src="/images/common/no-image.png" alt=""></span>
                    </div>
                    <div>
                      <span id="productName" class="productName"></span>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr id="qnaWriteShipping" th:if="${qna.qnaCategory=='배송'}" style="display: table-row">
              <td>ORDER NO.</td>
              <td>
                <input th:if="${qna.orderUno}" id="orderUno" name="orderUno" type="text" autocomplete="off" th:value="${qna.orderUno}" >
                <input th:unless="${qna.orderUno}" id="orderUno" name="orderUno" type="text" autocomplete="off" placeholder="주문번호 입력">
                <div th:if="orderList" id="qnaOrderList">
                  <div th:each="order, status:${orderList}" class="qnaOrder" th:value="${order.orderUno}">
                    <div>
                      <span th:text="${'날짜 : '+order.orderDate}"></span>
                    </div>
                    <div>
                      <span th:text="${'주문번호 : '+order.orderUno}"></span>
                    </div>
                  </div>
                </div>
              </td>
            </tr> 
            <tr id="qnaWriteShipping" th:unless="${qna.qnaCategory=='배송'}" style="display: none">
              <td>ORDER NO.</td>
              <td>
                <input th:if="${qna.orderUno}" name="orderUno" type="text" autocomplete="off" th:value="${qna.orderUno}"  id="orderUno">
                <input th:unless="${qna.orderUno}" name="orderUno" type="text" autocomplete="off"  placeholder="주문번호 입력"  id="orderUno">
                <div th:if="orderList" id="qnaOrderList">
                  <div th:each="order, status:${orderList}" class="qnaOrder" th:value="${order.orderUno}">
                    <div>
                      <span th:text="${'날짜 : '+order.orderDate}"></span>
                    </div>
                    <div>
                      <span th:text="${'주문번호 : '+order.orderUno}"></span>
                    </div>
                  </div>
                </div>
              </td>
            </tr> 
            <!-- 변동 사항 -->
            <tr>
              <td>PASSWORD.</td>
              <td>
                <input th:if="${qna.qnaPw}" name="qnaPw" type="number" autocomplete="off" onkeydown="javascript: return event.keyCode == 69 ? false : true"  th:value="${qna.qnaPw}">
                <input th:unless="${qna.qnaPw}" name="qnaPw"  type="number" autocomplete="off" onkeydown="javascript: return event.keyCode == 69 ? false : true" th:value="${qna.qnaPw}">
              </td>
            </tr>
            <tr>
              <td>LOCK.</td>
              <td th:if="${qna.qnaLockFl=='Y'}" id="qnaWriteLockText">&nbsp;<input id="qnaWriteLockBtn" name="qnaLockFl" type="checkbox" placeholder="공개여부" checked>&nbsp;<label for="qnaWriteLockBtn">※선택 시 비밀번호를 꼭 기억해주세요</label></td>
              <td th:if="${qna.qnaLockFl=='N'}" id="qnaWriteLockText">&nbsp;<input id="qnaWriteLockBtn" name="qnaLockFl" type="checkbox" placeholder="공개여부">&nbsp;<label for="qnaWriteLockBtn">※선택 시 비밀번호를 꼭 기억해주세요</label></td>
            </tr>
          </table>
          <div class="write-list-contents">
            <textarea name="qnaContent" type="text" required th:text="${qna.qnaContent}"></textarea>
          </div>
        </div>

        <!-- 하단 버튼 영역 -->
        <div class="detail-btn-area write-btn-area">
          <div>
            <a href="/qna"><button type="button" class="write-btn" id="listBtn">LIST</button></a>                   
          </div>
          <div>
            <button class="write-btn submit">SUBMIT</button>                     
          </div>
        </div>
      </section>
    </form>
  </main>
  <div id="qnaModalBack">asd</div>

  <th:block th:replace="~{common/footer}"></th:block>
  <script src="/js/boards/qna.js"></script>

</body> 
</html>