<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/boards/boardsCommon.css">
  <link rel="stylesheet" href="/css/boards/qna.css">
  <title>LAF :: 1대1문의</title>
</head>
<body>

  <th:block th:replace="~{/common/header}"></th:block>
  <th:block th:replace="~{/common/nav}"></th:block>
  
  <main>

    <form action="/qna/insert" method="post">

      <input th:value="${session.loginMember?.memberNo}" th:if="${session.loginMember}" type="hidden" name="memberNo">
      <section class="board-list">
        <div class="section-header">
          <div class="section-title">1:1문의</div>
        </div>
        <div class="sub-category-container">
          <!-- 현재 카테고리에 current 클래스 추가 -->
          <a href="/notice"><div class="sub-category">NOTICE</div></a>
          <a href="/qna"><div class="sub-category current">1:1문의</div></a>
          <a href="/faq"><div class="sub-category">FAQ</div></a>
          <a href="/review"><div class="sub-category">REVIEW</div></a>
        </div>

        <!-- 게시판 -->
        <div class="list-wrapper">
          <table class="detail-list-table">
            <tr>
              <td>TITLE</td>
              <td><input name="qnaTitle" type="text" placeholder="제목 입력" required></td>
            </tr>
            <tr>
              <td>CATEGORY</td>
              <td>
                <select name="qnaCategory" id="categoryKey" onchange="changeValue(this)">
                  <option value="etc" selected>일반문의</option>
                  <option value="product">상품문의</option>
                  <option value="shipping">배송문의</option>
                </select>
              </td>
            </tr>
            <tr id="qnaWriteProduct">
              <td>PRODUCT NO.</td>
              <td><input name="productNo" type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" placeholder="상품번호 입력"></td>
            </tr>
            <tr id="qnaWriteShipping">
              <td>ORDER NO.</td>
              <td><input name="orderNo" type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" placeholder="주문번호 입력"></td>
            </tr> 
            <tr th:if="${session.loginMember}">
              <td>PASSWORD.</td>
              <td><input name="qnaPw" type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true"  placeholder="비밀번호 입력(선택)"></td>
              <td><input th:unless="${session.loginMember}" name="orderNo"  type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" placeholder="비밀번호 입력(필수)"></td>
            </tr>
            <tr th:unless="${session.loginMember}">
              <td>PASSWORD.</td>
              <td><input name="qnaPw" type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" placeholder="비밀번호 입력(필수)" required></td>
            </tr>
            <tr>
              <td>LOCK.</td>
              <td id="qnaWriteLockText">&nbsp;<input id="qnaWriteLockBtn" name="qnaLockFl" type="checkbox" placeholder="공개여부">&nbsp;<label for="qnaWriteLockBtn">※선택 시 비밀번호를 꼭 기억해주세요</label></td>
            </tr>
          </table>
          <div class="write-list-contents">
            <textarea name="qnaContent" type="text" required></textarea>
          </div>
        </div>

        <!-- 하단 버튼 영역 -->
        <div class="detail-btn-area write-btn-area">
          <div>
            <button type="button" class="write-btn" id="listBtn">LIST</button>                     
          </div>
          <div>
            <button class="write-btn submit">SUBMIT</button>                     
          </div>
        </div>
      </section>
    </form>
  </main>

  <th:block th:replace="~{/common/footer}"></th:block>
  <script src="/js/boards/qna.js"></script>

</body> 
</html>