<link rel="stylesheet" href="/css/chatbot/chatbot.css">
<section id="chatbotSection">
  <div id="chatbotMain">
    <div id="chatbotChatSection">
      <ul class="display-chatting">
        <li class="target-chat">
          <div>
            <div class="chatbot">(*°▽°*)</div>
            <div class="chat">
              안녕하세요?? 반갑습니다.<br>
              Lost And Found ChatBot입니다.<br>
              아래에서 원하시는 항목을 선택해주세요.
            </div>
          </div>
        </li>
        <li class="target-chat">
          <div>
            <div class="chatbot">(*°▽°*)</div>
            
            <div class="chat category-chat">
              <div>원하시는 문의를 선택해주세요</div>
              <div class="asd">
                <div class="chatbot-category">상품</div>
                <div class="chatbot-category">배송</div>
                <div class="chatbot-category">교환</div>
                <div class="chatbot-category">기타</div>
              </div>
            </div>
          </div>
        </li>




      </ul>	
      <!-- <ul class="display-chatting">
        <li class="my-chat">
          <span class="chatDate">14:01</span>
          <p class="chat">가나다라마바사</p>
        </li>

        <li class="target-chat">
          <img src="/resources/images/user.png">

          <div>
            <b>이번유저</b>	<br>
            <p class="chat">
              안녕하세요?? 반갑습니다.<br>
              ㅎㅎㅎㅎㅎ
            </p>
            <span class="chatDate">14:05</span>
          </div>
        </li> -->
      <!-- </ul>	 -->
    </div>
    <div id="chatbotInput">
      <input type="text" id="inputChatting" th:memberNo="0">
      <button type="button" class="chatbot-Button">확인</button>
    </div>
  </div>
  <script src="/js/chatbot/chatbot.js"></script>
</section>