<link rel="stylesheet" href="/css/dev/productList.css">

<ul class="link dev-product-item-container">
  <li class="dev-product-item">
    <a href="/views/shopping/product.html"><img src="/images/prouduct/thumbnail/1.gif"></a>
    <div class="item-description">
      <a href="/views/shopping/product.html"><div class="item-name">여름신상10%🎁[98project] 스퀘어즈 쫀쫀 스탠다드 반팔 T - 4 color</div></a>
        <div class="item-description-bottom">
        <div class="item-price-set">
          <span class="item-price">25,800</span>
          <span class="item-price-discount">10%</span>
          <span class="item-price-origin">28,700</span>
        </div>
      </div>
    </div>
  </li>

  <li class="dev-product-item">
    <img src="/images/sample4.png">
    <div class="item-description">
      <div class="item-name">실시간1등🎉[98project/2천장돌파] 오키 썸머 빈티지틴 와이드데님 - 4 size ("전옵션" 프리오더)</div>
        <div class="item-description-bottom">
        <div class="item-price">28,700</div>
      </div>
    </div>
  </li>

  <li class="dev-product-item">
    <img src="/images/sample3.png">
    <div class="item-description">
      <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
        <div class="item-description-bottom">
        <div class="item-price">28,700</div>
      </div>
    </div>
  </li>

  <li class="dev-product-item">
    <img src="/images/sample2.png">
    <div class="item-description">
      <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
        <div class="item-description-bottom">
        <div class="item-price">28,700</div>
      </div>
    </div>
  </li>

  <li class="dev-product-item">
    <img src="/images/sample1.png">
    <div class="item-description">
      <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
        <div class="item-description-bottom">
        <div class="item-price">28,700</div>
      </div>
    </div>
  </li>
</ul>