<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/admin/adminMain/category.css}">
  <title>관리자 :: 카테고리관리</title>
  <style>
    .sidebar li.sub.banner:not(.last) { height: 30px !important; }
    .sidebar li.sub.banner.last { height: 10px !important; }
  </style>
</head>
<body>

  <th:block th:replace="~{/admin/adminHeader}"></th:block>
  
  <main>
    <section class="admin-container">
      <div class="main-category">
        <div>
          <span class="main-category-title">메인 화면 관리</span>
          <span>(메인 카테고리)</span>
        </div>
        <div class="main-category-content">
          <div class="main-category-content-left">
            <div class="content-title">카테고리 현황( 1차 | 2차 )</div>
            <div class="category-item-list">
              <ul>

                <!-- select-edit 클래스 추가 : 현재 수정중인 카테고리 -->
                <li class="category-item" 
                  th:each="pc : ${categoryList}" 
                  th:if="${pc.parentCategoryNo == 0}"
                  th:pcno="${pc.categoryNo}">
                  <div class="category-first">
                    <span class="category-name" th:text="${pc.categoryName}">카테고리 이름</span>
                    <div class="remove-btn">&times;</div>
                  </div>
                  <div class="category-second">
                    <div th:each="cc : ${categoryList}" 
                      th:if="${pc.categoryNo == cc.parentCategoryNo}">
                      <span class="category-name" th:text="${cc.categoryName}">자식카테고리 이름</span>
                      <span class="remove-btn">&times;</span>
                    </div>
                  </div>
                </li>
                
              </ul>
            </div>
            
          </div>
          <div class="main-category-content-right">
            <div class="content-title">
              카테고리 편집
            </div>
            <div class="first-content">
              <div class="content-subtitle">1차 카테고리</div>
              <input type="text"><button type="submit">입력</button>
              <div class="parent-category-container"></div>
            </div>
            <div class="second-content">
              <div class="content-subtitle">2차 카테고리</div>
              <input type="text"><button type="submit">입력</button>
              <div class="child-category-container"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script th:src="@{/js/admin/adminMain/category.js}"></script>
</body>
</html>