body {
    background-color: #F9F4F5 !important;
}

/* header */
header {
    width: 100%;
    height: 77px;
    background-color: white;
    z-index: 100;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);

    position: sticky;
    top: 0;
}

/* logo */
.logo {
    z-index: 2;
    height: 75px;
    margin: auto;

    display: flex;
    align-items: center;
}

.logo-img{
    margin: 20px 30px 10px;
    height: 30px;
}

/* main */
main{
    display: flex;
    padding: 60px 0 150px;
    background-color: #F9F4F5 !important;
}

/* sidebar */
.sidebar{
    width: 270px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    position: fixed;
    z-index: 1;
    
    background-color: white;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
}

.sidebar *{
    font-size: 2rem;
}

.sidebar-content {
    margin-top: 100px;
    /* width: 100%; */
    /* height: 400px; */
    height: auto;

    /* border-radius: 30px; */



    display: flex;
    align-items: center;
    justify-content: space-evenly;

    /* padding: 30px 0px 30px; */
    /* margin-top: 30px; */
}

.sidebar li{
    width: 200px;
    height: 50px;
    text-align: center;
    border-top: 1px solid #ccc;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar li:not(.sub) {
    align-items: flex-end;
    padding-bottom: 10px;
}
.sidebar a:nth-child(1) > li{
    /* border-top: 1px solid #ccc; */
}

.sidebar a:first-child > li{
    border: none;
}

.sidebar li:hover {
    background-color: #F9F4F5 !important;
}
.sidebar li.sub {
    font-size: 1.6rem;
    color: #999;
    border: none;
    height: 0;
    overflow:hidden;
    transition:height ease-out 0.3s;
}
.sidebar li.sub:hover {
    background-color: white !important;
    color: #333;
}
/* adminContainer */
.admin-container{
    width: 100%;
    height: 100%;

    background-color: #F9F4F5 !important;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* padding-bottom: 200px; */
    background-color: white;
    /* border-radius: 0 0 200px 0; */

    margin-left: 200px;
}

/* top classify btn */

.control-classify{
    margin: 20px 0;

    display: flex;
    justify-content: center;
}

.control-classify span{
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px 10px;
    
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: 3px;
    
    background-color: #DAD5E4;
    cursor: pointer;
}

.control-classify span:hover{
    color: white;
    background-color: #493E5D !important;
}

.control-classify-select{
    color: white;
    background-color: #493E5D !important;
}


