
/* order */
.order{
    width: 1200px;
    height: 300px;

    margin: 30px;
    padding: 30px;

    border-radius: 30px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    background-color: white;
}
.order-table{
    padding: 50px 70px;
}
.order-table>div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.order-table span:nth-child(1){
    display: inline;
    font-size: 2rem;
    margin-right: 10px;
}

#reflesh{
    display: flex;
    align-items: center;
    cursor: pointer;
}

#reflesh:active{
    transform: scale(0.9);
}

#reflesh>span{
    font-size: 1.2rem;
    color: #ccc;
}
#reflesh>img{
    width: 20px;
}

.order-table table{
    width: 100%;
}

.order-table table *{
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 2px;
}

.order-table table tr:nth-child(1){
    font-weight: bold;
    background-color: #fafafa;
}

.order-table table td{
    border: 1px solid #eee;
    height: 40px;
}


/* today */
.today{
    display: flex;
    margin: 30px;
}

.today-content{
    width: 330px;
    height: 420px;

    border-radius: 30px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    background-color: white;

    padding: 30px;
}

.today-content-item{
    display: flex;
    align-items: center;
    width: 250px;
}

.today-content-item *{
    font-size: 2rem;
}

.today-img{
    border-radius: 50%;
    background-color: #fafafa;

    width: 80px;
    height: 80px;
    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.today-img img{
    width: 50px;
    height: 50px;
}

.today-content-item span{
    color: #3A96FC;
    margin-right: 10px;
}

.today-count-item{
    font-size: 4rem;
}

/* today graph */
.today-graph{
    width: 800px;
    height: 420px;

    margin-left: 70px;
    padding: 30px;

    border-radius: 30px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.today-graph *{
    width: 100%;
    margin-bottom: 20px;
}

.board-title{
    font-size: 2.5rem;
}

.today-graph img{
    height: 300px;
    width: auto;
}

/* current */
.current{
    width: 1200px;
    height: 450px;
    display: flex;
    justify-content: space-between;

    margin: 30px 0;
}

.current-left, .current-right{
    width: 570px;
    height: 450px;

    padding: 30px;

    border-radius: 30px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    background-color: white;  
}

.current-list{
    padding: 30px;
}

.current-list li{
    display: flex;
    height: 70px;
    border-bottom: 1px solid #eee;
}

.current-list li:nth-child(1){
    border-top: 1px solid #eee;
}

.current-list li div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-cat{
    width: 200px;
    background-color: #fafafa;
}

.current-count{
    width: 500px;
    justify-content: end !important;
    padding-right: 50px;
}

.current-count-num{
    font-size: 2rem;
    font-weight: bold;
    margin-right: 5px;
}
