<div class="header-nav-menu">
    <a href="#"><img class="header-nav-menu-img" src="/resources/images/common/menu.png"></a>
</div>

<div class="header-nav-catagory">
    <ul class="header-nav-catagory-menu">
    <li><a href="#">BEST50</a></li>
    <li><a href="#">LAFPROJECT</a></li>
    <li><a href="#">NEW10%</a></li>
    <li><a href="#">TOP</a></li>
    <li><a href="#">PANTS</a></li>
    <li><a href="#">OUTER</a></li>
    <li><a href="#">DRESS</a></li>
    <li><a href="#">SKIRTS</a></li>
    <li><a href="#">오늘출발</a></li>
    <li><a href="#">SALE</a></li>
    </ul>
</div>

<div class="header-nav-icon">
    <a href="#"><img src="/resources/images/common/search.png"></a>
    <a href="#"><img src="/resources/images/common/user.png"></a>
    <a href="#"><img src="/resources/images/common/buy.png"></a>
</div>

<div class="quick-menu">
    <ul>
    <li><a href="#"><img src="/resources/images/common/topup.png"></a></li>
    <li><a href="#"><img src="/resources/images/common/edit.png"></a></li>
    <li><a href="#"><img src="/resources/images/common/like.png"></a></li>
    <li><a href="#"><img src="/resources/images/common/question.png"></a></li>
    <li><a href="#"><img src="/resources/images/sample1.png"></a></li>
    <li><a href="#"><img src="/resources/images/common/chat.png"></a></li>
    </ul>
</div>