<div class="header-nav-menu">
    <a href="#"><img class="header-nav-menu-img" src="/resources/images/common/menu.png"></a>
</div>

<div class="header-nav-catagory">
    <ul class="header-nav-catagory-menu">
        <li><a href="/views/shopping/categoryList.html">BEST50</a></li>
        <li><a href="/views/shopping/categoryList.html">LAFPROJECT</a></li>
        <li><a href="/views/shopping/categoryList.html">NEW10%</a></li>
        <li><a href="/views/shopping/categoryList.html">TOP</a></li>
        <li><a href="/views/shopping/categoryList.html">PANTS</a></li>
        <li><a href="/views/shopping/categoryList.html">OUTER</a></li>
        <li><a href="/views/shopping/categoryList.html">DRESS</a></li>
        <li><a href="/views/shopping/categoryList.html">SKIRTS</a></li>
        <li><a href="/views/shopping/categoryList.html">오늘출발</a></li>
        <li><a href="/views/shopping/categoryList.html">SALE</a></li>
    </ul>
</div>

<div class="header-nav-icon">
    <a href="#"><img src="/resources/images/common/search.png"></a>
    <a href="/views/mypage/mypageLogin.html"><img src="/resources/images/common/user.png"></a>
    <a href="/views/shopping/cart.html"><img src="/resources/images/common/buy.png"></a>
</div>

<div class="quick-menu">
    <ul>
        <li><a href="#"><img src="/resources/images/common/topup.png"></a></li>
        <li><a href="#"><img src="/resources/images/common/edit.png"></a></li>
        <li><a href="#"><img src="/resources/images/common/like.png"></a></li>
        <li><a href="/views/boards/notice.html"><img src="/resources/images/common/question.png"></a></li>
        <li><a href="#"><img src="/resources/images/sample1.png"></a></li>
        <li><a href="#"><img src="/resources/images/common/chat.png"></a></li>
    </ul>
</div>