/* main */
/* 메인 banner 무한 슬라이드 */
.slide_wrap { 
  position: relative; 
}
.slide_box { 
  overflow-x: hidden; 
}
.slide_list {
  display: flex;
}
.clearfix:after { 
  content: ''; 
  display: block; 
  clear: both; 
  float: none; 
}
.slide_content { 
  height: 600px;
  width: 100%; 
}
.slide_content a {
  display: block;
  width: 100%;
  height: 100%;
}
.slide_content img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 600px;
  object-fit: cover;
  pointer-events: none;
}

/* 슬라이드 버튼 */
[class^="slide_btn"] {
  position: absolute;
  top: 280px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background-color: #ffffff25;
  border: none;
  cursor: pointer;
  margin: 0 30px;
  transition-duration: 0.2s;
}
[class^="slide_btn"]:hover {
  background-color: #ffffff90;
  transition-duration: 0.2s;
}
[class^="slide_btn"] > img{
  width: 20px;
  height: 20px;
}
.slide_btn_prev { left: 0; }
.slide_btn_next { right: 0; }

/* 슬라이드 페이지네이션 */
.slide_pagination { 
  position: absolute; 
  left: 50%; 
  bottom: 0; 
  list-style: none; 
  margin: 20px 0; 
  padding: 0; 
  transform: translateX(-50%); 
}
.slide_pagination .dot { 
  display: inline-block; 
  width: 15px; 
  height: 15px; 
  margin: 0 5px; 
  overflow: hidden; 
  background: #ffffff25;
  border-radius: 50%; 
  transition: 0.3s; 
}
.slide_pagination .dot.dot_active { background: #ffffff90; }
.slide_pagination .dot a { 
  display: block; 
  width: 100%;
  height: 100%; 
}



/* main product */
.main-product{
  width: 1200px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}

.main-product-left{
  height: 400px;
  width: 35%;
  position: relative;
}

.main-product-right{
  height: 400px;
  width: 60%;
  position: relative;
}

.main-product-left img, .main-product-right img{
  position: absolute;
  
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

/* ------------------상품 설명 hover---------------- */
#imgDescription{
  position: absolute;
  bottom: 0;
  
  width: 100%;
  height: 120px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  
  font-size: 1rem;

  pointer-events: none;
}

#imgDescription .item-name {
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
}

#imgDescription .item-price {
  font-size: 2.2rem;
}

span.item-price-origin{
  margin-left: 5px;
  color: #666;
  font-size: 1.8rem;
}

#imgDescription .item-rieview-count {
  margin-top: 5px;
  font-size: 1.2rem;
  color: #666;
}

/* ------------------------------------------------ */

/* md recommend */
.md-recommend {
  width: 1200px;
  margin: 100px auto;
  font-size: 2rem;
  display: flex;
}

.md-recommend-left{
  margin-top: 60px;
  position: relative;
  width: 700px;
}

.md-recommend-left p:nth-child(1){
  font-weight: bold;
}

.md-recommend-left p:nth-child(2){
  margin: 15px 0;
  font-size: 1.4rem;
}

.md-recommend-btn{
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: center;
}

.md-recommend-btn button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.md-recommend-btn button:first-child {
  margin-right: 5px;
}

.md-recommend-btn img{
  width: 20px;
  height: 20px;
}

.md-recommend-right{
  overflow: hidden;
}

.md-recommend-list{
  display: flex;
  justify-content: center;
}

.md-recommend-list > li{
  height: 360px;
  width: 280px;
  margin: 10px;
  position: relative;
}

.md-recommend-img{
  height: 360px;
  width: 280px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}

/* weekly */
.weekly{
  width: 1200px;
  margin: 40px auto;
  font-size: 2rem;
}

.weekly-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.weekly-title span{
  font-size: 2rem;
}

.weekly-title button{
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 5px;
  
  margin: 20px 5px 10px;

  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 3px;

  background-color: #DAD5E4;
  cursor: pointer;
}

.weekly-title button:hover{
  color: white;
  background-color: #493E5D !important;
}

.weekly-button-select{
  color: white;
  background-color: #493E5D !important;
}

.weekly table{
  width: 100%;
}

.weekly table td{
  position: relative;
}

.weekly-big-img{
  padding: 5px;
  width: 400px;
  height: 670px;
  object-fit: cover;
  object-position: center;
}

.weekly-img{
  padding: 5px;
  width: 250px;
  height: 330px;
  object-fit: cover;
  object-position: center;
}


/* sub-section */
.sub-section {
  width: 1200px;
  margin: 40px auto;
  font-size: 2rem;
  position: relative;
}
.sub-section-title{
  font-size: 2rem;
  text-align: center;
  margin: 100px 0 20px 0;
}
.sub-section-content {
  width: 1200px;
  position: relative;
  overflow: hidden;
}
.sub-section-list {
  display: flex;
  justify-content: space-between;
  
}
.sub-section-list li {
  height: 280px;
  width: 220px;
  margin: 0 10px;
}
.sub-section-content > button {
  top: 120px;
  margin: 0 20px;
  background-color: #eeeeee60;
}
.sub-section-content > button:hover {
  background-color: #eeeeee90;
}
.sub-section-img {
  width: 220px;
  height: 280px;
  object-fit: cover;
  object-position: center;
}