.mypageDash-mainFrame{
    display: flex;
    margin: 0 auto;
    width: 1200px;
}

.mypageDash-mainFrame-dashFrame{
    display: flex;
    position: relative;
    vertical-align: baseline;
}

.mypageDash-dashFrame-myMain{
    height: 482px;
    width: 1020px;
    margin: 80px 0 0 30px;
}
.mypageDash-myMain-myInfo{
    display: flex;
    background-color: #fafafa;
    width: 1020px;
    padding: 50px 0;
}

.mypageDash-myInfo-myRating{
    display: flex;
    width: 660px;
    height: 126px;
    padding:  0 50px 0 50px;
    
}

.mypageDash-myRating-Rating{
    color: #666;
    font-size: 2.0rem;
    width: 126px;
    height: 126px;
    background-color: #fff;
    text-align: center;
    line-height: 126px;
    border-radius: 50%;
}

.mypageDash-myRating-greeting{
    margin: 0 0 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mypageDash-greeting-greet{
    font-size: 15px;
    padding: 10px 0 5px 0;
}

.mypageDash-myInfo-mySave{
    display: inline-block;
    border-left: 1px solid white;
    width: 358px;
    height: 126px;
}

.mypageDash-mySave-Point{
    justify-content: space-between;
    padding: 0 50px 20px 60px;
    display: flex;
}

.mypageDash-myMain-Shipping{
    border: 0.5px solid #eee;
    margin: 25px 0 0 0;
    width: 1020px;
    background-color: white;
}

.mypageDash-Shipping-state{
    display: flex;
}

.mypageDash-state-shippingList{
    padding: 60px 0 50px 50px;
    width: 665px;
    border-right: 0.5px solid #eee;
}
.mypageDash-shippingList-list{
    padding: 10px 0 0 0;
    display: flex;

}


.square-list-square{
    display: block;
    background-color: #666;
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.square-list-square div{
    padding: 8px;
    font-size: 13px;
}

.mypageDash-state-howMany{
    color: #666;
    justify-content: center;
    padding: 60px;
}

.mypageDash-howMany-shipping{
    padding: 20px 0 10px 0;
    display: flex;
    justify-content: space-between;
}
.mypageDash-howMany-shipping div{
    display: flex;
}

