.mypageLogin-login{
    display: flex;
}
.mypageLogin-login > div{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.mypageLogin-login-memberLogin{
    margin-right: 50px;
    display: block;
    width: 530px;
}

.mypageLogin-login-memberLogin p{
    margin: 20px 0;
    font-size: 30px;
    font-weight: bold;
}

.mypageLogin-login-memberLogin div{
    font-size: 18px;
    padding: 10px 0 0 0;
    
}

.mypageLogin-login-noMember{
    display: block;
    background-color: blue;
    width: 100%;
    height: 570px;
}

.mypageLogin-memberLogin-member{
    border-bottom: 0.5px solid #eee;
}

.mypageLogin-memberLogin-member div{
    color: #c49677;
}
.mypageLogin-memberLogin-member input{
    height: 50px;
}
#mypageLoginLogin{
    border: none;
    font-size: 20px;
    background-color: brown;
    margin-top: 30px;
    padding-left: 20px;
    width: 520px;
    height: 60px;
    text-align: center;
}

.mypageLogin-memberLogin-other{
    margin: 10px 0 50px 0;
    display: flex;
    justify-content: space-between;
}
.mypageLogin-memberLogin-other input {
    margin-right: 10px;
}

.mypageLogin-login-notMember{
    padding-left: 50px;
    border-left: 0.5px solid #eee;
    display: block;
    width: 530px;
}

.mypageLogin-login-notMember p{
    margin: 20px 0;
    font-size: 30px;
    font-weight: bold;
}

.mypageLogin-login-notMember div{
    font-size: 18px;
    padding: 10px 0 0 0;
    
}
.mypageLogin-btn {
    display: inline-block;
    border: 0.5px solid #eee;
    font-size: 20px;
    color: black;
    background-color: #fafafa;
    margin-top: 30px;
    padding-left: 20px;
    width: 520px;
    height: 60px;
}
