/* header */
header {
  width: 100%;
  height: 77px;
  background-color: white;
  z-index: 100;
}

/* logo */
.logo {
  height: 75px;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  margin-top: 20px;
  height: 40px;
}

/* nav */
nav {
  height: 50px;
  min-width: 1000px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;

  /* box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25); */
  box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
  0 2px 2px rgba(0,0,0,0.08), 
  0 4px 4px rgba(0,0,0,0.08), 
  0 8px 8px rgba(0,0,0,0.08);
  z-index: 101;
  background-color: white;
}

/* category list */
.header-nav-menu {
  margin-left: 20px;
}

.header-nav-menu>a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchImg {
  cursor: pointer;
}

.header-nav-menu-img {
  height: 15px;
}

#menuList {
  display: none;
}

label[for='menuList'] {
  cursor: pointer;
}

#menuList+div {
  display: none;
}

#menuList:checked+div {
  display: block;
}

.header-nav-menu-list {
  position: absolute;
  top: 50px;
  left: 0;

  background-color: white;
  z-index: 10;

  border-top: 2px solid #ccc;

  width: 100%;
  height: 430px;

}

.header-nav-menu-list table {
  margin: auto;
  font-size: 1.5rem;
  border-collapse: separate;
  border-spacing: 20px;
}


.header-nav-menu-list table td {
  width: 150px;
  height: 100%;
  vertical-align: top;
  line-height: 25px;

}

.header-nav-menu-list table div{
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.header-nav-menu-list table div:hover{
  background-color: #ccc;
}

.header-nav-menu-list table ul{
  padding: 0 20px;
  border-left: 1px solid #ccc;
}
.header-nav-menu-list table li{
  cursor: pointer;
}

.header-nav-menu-list table li:hover{
  background-color: #ccc;
}


/* catagory menu */
.header-nav-catagory {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.header-nav-catagory-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.header-nav-catagory-menu li {
  margin: 0 15px;
}

.header-nav-catagory-menu li>a:hover {
  color: #DAD5E4;
}

/* icon */
.header-nav-icon {
  display: flex;
  margin-right: 20px;
}

.header-nav-icon img {
  margin: 0 8px;
  height: 20px;
  width: auto;
}

.header-nav-icon span {
  position: absolute;
  top: 15px;
  right: 130px;
}

/* 검색창 */
#query {
  /* position: absolute; */
  /* bottom: 12px; */
  /* right: 135px; */
  background-color: white;
}
#searchCheckbox + #query { 
  width: 0px;
}
#searchCheckbox:checked + #query {
  width: 200px;
  transition-duration: 0.3s;
}

/* 로그인 시 출력되는 환영문구 */
#searchCheckbox + #query + #welcome { 
  position: absolute;
  right: 160px;
  bottom: 15px;

  display: flex;
  align-items: center;
}
#searchCheckbox:checked + #query + #welcome {
  /* transform: translateX(-220px); */
  transform: translateY(-27px);
  transition-duration: 0.2s;
}
#welcomeEmoji {
  text-align: center;
  font-size: 1.2rem;
  width: 120px;
}


/* quick menu */
.quick-menu {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 0;

  background-color: #FFFFFF;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 300px;
  border: 1px solid #eee;
  border-radius: 50px;

  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.quick-menu ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.quick-menu li {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.quick-menu a {
  height: 30px;
  border-radius: 50px;
}

.quick-menu img {
  width: 25px;
  height: 25px;
}

body>nav>div.quick-menu>ul>li:nth-child(5)>a>img {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 50px;
}

.quick-menu li:last-child {
  border-bottom: none;
}

.recent-view {
  position: relative;
}

.recent-view > span {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  width: 12px;
  height: 12px;

  display: flex;
  justify-content: center;
  align-self: center;

  cursor: pointer;

  position: absolute;
}

.recent-view > span > img {
  display: flex;
  justify-content: center;
  align-self: center;

  width: 8px;
  height: 8px;
}

.recent-view-lbtn {
  top: 4;
  left: 0;
}

.recent-view-rbtn {
  top: 4;
  right: 0;
}

/* 장바구니 갯수 아이콘 */
#cartCountContainer {
  width: 13px;
  height: 13px;
  border-radius: 50px;
  background-color: #7F7698; 
  text-align: center;
  position: absolute;
  right: 22px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cartCount {
  position: static;
  font-size: 1rem;
  color: white;
  zoom: 0.8;
}

/* 챗봇 */
#quickChatbot{
  cursor: pointer;
}