.mypageShipping-mainFrame{
    display: flex;
    margin: 0 auto;
    width: 1200px;
}

.orderShipping-mainFrame-myMain{
    height: 482px;
    width: 1020px;
    margin: 80px 0 0 30px;
}

.orderShipping-myMain-text{
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.orderShipping-myMain-text div{
    display: flex;
    align-items: flex-end;


}

/* 테이블 구간 */
.orderShipping-MyMain-Shipping table{
    margin: 20px 0 0 0;
    width: 100%;
    display: flex;
    border: 1px solid #eee;
}

.orderShipping-MyMain-Shipping th{
    background-color: #fafafa;
    border: 1px solid #eee;
    font-size: 12px;
}

.orderShipping-MyMain-Shipping tr{
    border: 1px solid #eee;
    height: 40px;
}

.orderShipping-Shipping-list td {
    font-size: 12px;
    text-align: center;
}
.orderShipping-Shipping-list td:nth-child(5) {
    padding-left: 10px;
    text-align: left;
}
#orderShippingDefault{
    border: 1px solid #eee;
    background-color: #58aeff;
    color: white;
    width: 40px;
    
}


.orderShipping-Shipping-search{
    display: flex;
    justify-content: center;
}
.orderShipping-Shipping-search button{
    background-color: #eee;
    margin-left: 10px;
}
.orderShipping-Shipping-search select{

    background-color: #fafafa;
    border: 1px solid #eee;
    text-align: center;
    width: 100px;
    margin-right: 10px;
}
.orderShipping-Shipping-search input{
    border: 1px solid #eee;
    width: 350px;
}

.orderShipping-Shipping-button div{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.orderShipping-Shipping-button button:nth-child(2){
    background-color: #666;
    color: white;
    display: flex;
    justify-content: space-between;
}

.orderShipping-Shipping-notice{
    display: block;
}
.orderShipping-Shipping-notice th{
    padding-left: 10px;
    text-align: left;
}
.orderShipping-Shipping-notice td{
    width: 970px;
    padding: 20px;
}
.orderShipping-Shipping-notice div{
    color: #666;
}