.mypageAddShipping-mainFrame{
    display: flex;
    margin: 0 auto;
    width: 1200px;
}

.mypageAddShipping-mainFrame-myMain{
    height: 482px;
    width: 1020px;
    margin: 80px 0 0 30px;
}

.mypageAddShipping-myMain-text{
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.mypageAddShipping-myMain-text div{
    display: flex;
    align-items: flex-end;
}
.mypageAddShipping-myMain-shipping table{
    border: 0.5px solid #eee;
    width: 970px;
}
.mypageAddShipping-myMain-shipping tr{
    border: 0.5px solid #eee;
    height: 40px;
    width: 970px;
}
.mypageAddShipping-myMain-shipping th{
    padding-left: 20px;
    text-align: left;
    background-color: #fafafa;
    border: 0.5px solid #eee;
    height: 40px;
    width: 100px;
}
.mypageAddShipping-myMain-shipping input{
    border: 0.5px solid #eee;
    height: 30px;
    margin: 3px;
    width: 300px;
}
.mypageAddShipping-shipping-address input{
    width: 400px;
}
#sample6_postcode{
    width: 100px;
}
.mypageAddShipping-shipping-address button{
    background-color: #eee;
}
.mypageAddShipping-shipping-tel input{
    width: 80px;
}

.mypageAddShipping-shipping-confirm{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}
.mypageAddShipping-shipping-confirm div{
    display: flex;
    align-items: center;
}
.mypageAddShipping-shipping-confirm input{width: 10px}

.mypageAddShipping-confirm-button button{
    margin: 0 1px;
    width: 80px;
}
.mypageAddShipping-confirm-button a button{
    background-color: #666;
    color: white;
    width: 80px;
}


/* 배송 주소록 유의사항 */
.mypageAddShipping-Shipping-notice{
    margin: 20px 0 0 0;
    width: 100%;
    display: flex;
    border: 1px solid #eee;
}
.mypageAddShipping-Shipping-notice{
    display: block;
}
.mypageAddShipping-Shipping-notice th{
    background-color: #fafafa;
    border: 1px solid #eee;
    font-size: 12px;
    padding-left: 10px;
    text-align: left;
}
.mypageAddShipping-Shipping-notice tr{
    border: 1px solid #eee;
    height: 40px;
}
.mypageAddShipping-Shipping-notice td{
    width: 970px;
    padding: 20px;
}
.mypageAddShipping-Shipping-notice div{
    color: #666;
}