<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/common/default.css">
  <title>관리자::MAINVIEW</title>
</head>
<body>

  <th:block th:replace="~{admin/adminheader}"></th:block>
  
  <main>
    <section class="adminContainer">
      여기에 작성해주세요
    </section>
  </main>

  <th:block th:replace="~{common/footer}"></th:block>
</body>
</html>