<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/resources/css/common/default.css">
  <link rel="stylesheet" href="/resources/css/boards/faq.css">
  <!-- favicon -->
  <link rel="shortcut icon" href="/resources/images/favicon.ico" type="image/x-icon" sizes="16x16">
  <title>LAF :: FAQ</title>
</head>
<body>

  <header class="link" data-include="/views/common/header.html"></header>
  <nav class="link" data-include="/views/common/nav.html"></nav>
  
  <main>

    <section class="board-list">
      <div class="board-name"><span>자주 묻는 질문</span></div>

      <div class="sub-category-container">
        <!-- 현재 카테고리에 current 클래스 추가 -->
        <a href="/views/boards/notice.html"><div class="sub-category">NOTICE</div></a>
        <a href="/views/boards/1to1qna.html"><div class="sub-category">1:1문의</div></a>
        <a href="/views/boards/faq.html"><div class="sub-category current">FAQ</div></a>
        <a href="/views/boards/review.html"><div class="sub-category">REVIEW</div></a>
      </div>

      <div class="faq-container">
        <div class="faq-category">
          <div class="sub-category current">모두보기</div>
          <div class="sub-category">상품관련</div>
          <div class="sub-category">배송관련</div>
          <div class="sub-category">교환/반품관련</div>
          <div class="sub-category">기타관련</div>
        </div>
        <div class="faq-content">
          <ul>
            <li>
              <div class="faq-item-title">
                <div><img src="/resources/images/common/Q.png"></div>
                <div class="faq-classify">배송관련</div>
                <div>업데이트 하자마자 구매했는데 바로배송 가능한가요?</div>
                <div><img src="/resources/images/common/allowBottom-ccc.svg"></div>
              </div>
              <div class="faq-item-content hidden">
                <div><img src="/resources/images/common/A.png"></div>
                <div>입금 후 공장측 원단문제로 더 이상 제작이 어려운 경우 저희 98도씨에서는 빠른 배송을 위해 품절 상품 취소처리 도와드리고 있는 점 양해부탁드립니다</div>
              </div>
            </li>
            <li>
              <div class="faq-item-title">
                <div><img src="/resources/images/common/Q.png"></div>
                <div class="faq-classify">기타관련</div>
                <div>적립금 예치금은 어떻게 쓰나요?</div>
                <div><img src="/resources/images/common/allowBottom-ccc.svg"></div>
              </div>
              <div class="faq-item-content hidden">
                <div><img src="/resources/images/common/A.png"></div>
                <div>
                  ▶ 적립금 <br>
                  - 상품금액 30,000원 이상 구매 시 사용 가능 <br>
                  - 적립금 1회 사용 시 2,000원 부터 사용 가능 <br> 
                  - 적립금 + 쿠폰 동시 사용 불가 <br><br>
                  
                  ▶ 예치금 <br>
                  - 1원부터 사용 가능 <br>
                  - 적립금+예치금 동시사용 가능 <br>
                  - 쿠폰 + 예치금 동시 사용 가능 <br>
                  - 모든 환불 처리는 초기 결제해 주신 수단 또는 예치금 환불 처리만 가능합니다. <br>
                  (예치금으로 환불 진행 시 환불 철회 불가 한 점 참고 부탁드립니다 )</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>

  <footer class="link" data-include="/views/common/footer.html"></footer>

  <script src="/resources/js/common/default.js"></script>
  <script src="/resources/js/boards/boardFaq.js"></script>

</body> 
</html>