<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/resources/css/common/default.css">
  <link rel="stylesheet" href="/resources/css/boards/review.css">
  <!-- favicon -->
  <link rel="shortcut icon" href="/resources/images/favicon.ico" type="image/x-icon" sizes="16x16">
  <title>LAF :: REVIEW</title>
</head>
<body>

  <header class="link" data-include="/views/common/header.html"></header>
  <nav class="link" data-include="/views/common/nav.html"></nav>
  
  <main>

    <section class="board-list">
      <div class="board-name"><span>REVIEW</span></div>

      <div class="sub-category-container">
        <!-- 현재 카테고리에 current 클래스 추가 -->
        <a href="/views/boards/notice.html"><div class="sub-category">NOTICE</div></a>
        <a href="#"><div class="sub-category">1:1문의</div></a>
        <a href="/views/boards/faq.html"><div class="sub-category current">FAQ</div></a>
        <a href="/views/boards/review.html"><div class="sub-category">REVIEW</div></a>
      </div>
      <div class="best">
        <div class="best-title">
          <span>BEST REVIEW</span>
        </div>
        <div class="best-content">
          <ul class="best-list">
            <li>
              <a href="#">
                <img class="best-img" src="/resources/images/sample/11280.gif">
              </a>
              <div class="review-content">
                <p class="review-title">랍 형식의 러본 프릴까지 달린 원피스...</p>
                <p class="reviewer">권재*</p>
              </div>
              <div class="item-content">
                <img class="item-img" src="/resources/images/sample/11280.gif">
                <div>
                  <div class="item-title">[커플룩/시밀러룩] 셀리르딘 ...</div>
                  <div class="item-review-state">
                    <span>리뷰</span>
                    <span>23</span>
                    <span>평점</span>
                    <span>4.8</span>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="#"><img class="best-img" src="/resources/images/sample/12090.gif"></a></li>
            <li><a href="#"><img class="best-img" src="/resources/images/sample/14462.gif"></a></li>
            <li><a href="#"><img class="best-img" src="/resources/images/sample/15332.gif"></a></li>
            <li><a href="#"><img class="best-img" src="/resources/images/sample/25533.gif"></a></li>
          </ul>
        </div>
      </div>
      <div>
        <!-- <img src="/resources/images/reviewlist.png"> -->
      </div>
    </section>
  </main>

  <footer class="link" data-include="/views/common/footer.html"></footer>

  <script src="/resources/js/common/default.js"></script>
  <script src="/resources/js/boards/boardFaq.js"></script>

</body> 
</html>