
  <!-- 리뷰 상세 모달창 -->
<div class="review-modal-overlay">
  <input type="hidden" id="reviewDetailModalMemberId" th:value = ${session.loginMember?.memberNo}>
  <div class="review-modal-window">
    <div class="review-modal-close">x</div>
    <div class="review-modal-top">
      <div>
        <img class="Detailpreview" src="/images/sample/230605001.jpg">
      </div>
      <div>
        <div class="review-modal-title" id="reviewDetailModalName">이름</div>
        <div class="write-review-modal-grade">
          <div><span>[상품 평점] </span></div>
          <div>
            <span id="reviewDetailScoreBack">
              <span id="reviewDetailScoreColor">
              </span>
              <img id="reviewDetailModalStar" src="/images/common/star.svg"></img>
            </span>　
            <input type="number" min="0" max="5" step="0.1" id="reviewDetailModalTextScore" onKeypress="javascript:if(event.keyCode==13) {event.preventDefault()}" onkeyup="scoreValue(this.value)" readonly></input><span id="reviewScorePoint">점</span>
          </div>
        </div>
        <div id="reviewDetailModalDate">2023.05.30</div>
        <div>
          <span class="review-grey">옵션:</span><span id="reviewDetailModalOption" class="review-grey"></span>
        </div>
        <div class="review-modal-product">
          <div>
            <img src="/images/sample/230605001.jpg">
          </div>
          <div class="review-modal-product-desc">
            <div id="reviewDetailModalProductName">착용감best✨[98project/2만장돌파] 쿨 스트레이트 트레이닝 팬츠..</div>
            <div><span class="review-modal-subtitle" id="reviewDetailModalProductPrice">28,500</span><span class="review-grey" id="reviewDetailModalProductSalePrice">55,500</span></div>
            <div><span>리뷰개수:</span><span id="reviewDetailModalReviewCount"></span>개</div>
          </div>
        </div>
        <div class="review-modal-to-product"><span class="review-grey">상품 구경하러 가기&gt;</span></div>
        <div class="review-modal-contents">
          <div id="reviewDetailModalContent">잘 받았습니다 빠른 배송 감사합니다 여러 벌 샀는데 이 옷이 가장 마음에 들어요. 맞는 옷이 이거밖에 없거든요. 이걸 사람 입으라고 만든건지 강아지 옷으로 만든건지</div>
        </div>
      </div>
    </div>
    <div class="review-modal-middle">
      <img class="Detailpreview" src="">
      <img class="Detailpreview" src="">
      <img class="Detailpreview" src="">
      <img class="Detailpreview" src="">
    </div>
    <div class="btn-container" id="reviewModifyDeleteBtn">
      <button id="reviewDetailModalModifyBtn">수정</button>
      <button class="submit">삭제</button>
    </div>
  </div>
</div>







