
  <!-- 리뷰 상세 모달창 -->
     <div class="review-modal-overlay" id="review-modal-overlay">
      <div class="review-modal-window">
        <div class="review-modal-close">x</div>
        <div class="review-modal-top">
          <div>
            <img src="/images/sample/230605001.jpg">
          </div>
          <div>
            <div class="review-modal-title">고양이 님</div>
            <div class="review-modal-subtitle">&starf;&starf;&starf;&starf;&starf;</div>
            <div>2023.05.30</div>
            <div>
              <span class="review-grey">옵션:아이보리/M</span>
            </div>
            <div class="review-modal-product">
              <div>
                <img src="/images/sample/230605001.jpg">
              </div>
              <div class="review-modal-product-desc">
                <div>착용감best✨[98project/2만장돌파] 쿨 스트레이트 트레이닝 팬츠..</div>
                <div><span class="review-modal-subtitle">28,500</span><span class="review-grey">55,500</span></div>
                <div><span>리뷰개수:12ro</span></div>
              </div>
            </div>
            <div class="review-modal-to-product"><span class="review-grey">상품 구경하러 가기&gt;</span></div>
            <div class="review-modal-contents">
              <div>잘 받았습니다 빠른 배송 감사합니다 여러 벌 샀는데 이 옷이 가장 마음에 들어요. 맞는 옷이 이거밖에 없거든요. 이걸 사람 입으라고 만든건지 강아지 옷으로 만든건지</div>
            </div>
          </div>
        </div>
        <div class="review-modal-middle">
          <img src="/images/sample/230605001.jpg">
          <img src="/images/sample/230605001.jpg">
          <img src="/images/sample/230605001.jpg">
        </div>
        <div class="btn-container">
          <button>수정</button>
          <button class="submit">삭제</button>
        </div>
      </div>
    </div>




<script src="/js/boards/review.js"></script>



