<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/common/default.css">
  <link rel="stylesheet" href="/css/boards/review.css">
  <!-- favicon -->
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" sizes="16x16">
  <title>LAF :: REVIEW</title>
</head>
<body>

  <th:block th:replace="~{common/header}"></th:block>
  <th:block th:replace="~{common/nav}"></th:block>
  
  
  <main>

    <section class="board-list">
      <div class="board-name"><span>REVIEW</span></div>

      <div class="sub-category-container">
        <!-- 현재 카테고리에 current 클래스 추가 -->
        <a href="/notice"><div class="sub-category">NOTICE</div></a>
        <a href="/qna"><div class="sub-category">1:1문의</div></a>
        <a href="/faq"><div class="sub-category">FAQ</div></a>
        <a href="/review"><div class="sub-category current">REVIEW</div></a>
      </div>
      <!-- 베스트 리뷰 -->
      <div class="best">
        <div class="best-title">
          <span>BEST REVIEW</span>
        </div>
        <div class="best-content">
          <ul class="best-list">
            <!-- 베스트 리뷰 하나 하나 -->
            <li>
              <a href="#">
                <img class="best-img" src="/images/sample/230605001.jpg">
              </a>
              <div class="review-content">
                <p class="review-title">랍 형식의 러본 프릴까지 달린 원피스...</p>
                <p class="review-grey">권재*</p>
              </div>
              <div class="item-content">
                <img class="item-img" src="/images/sample/230605001.jpg">
                <di class="item-desc-container">
                  <div class="item-title">[커플룩/시밀러룩] 셀리르딘 ...</div>
                  <div class="item-review-state">
                    <div>
                      <span class="review-grey">리뷰</span>
                      <span>23</span>
                    </div>
                    <div>
                      <span class="review-grey">평점</span>
                      <span>4.8</span>
                    </div>
                  </div>
                </di>
              </div>
            </li>
            <li>
              <a href="#">
                <img class="best-img" src="/images/sample/230605001.jpg">
              </a>
              <div class="review-content">
                <p class="review-title">랍 형식의 러본 프릴까지 달린 원피스...</p>
                <p class="review-grey">권재*</p>
              </div>
              <div class="item-content">
                <img class="item-img" src="/images/sample/230605001.jpg">
                <di class="item-desc-container">
                  <div class="item-title">[커플룩/시밀러룩] 셀리르딘 ...</div>
                  <div class="item-review-state">
                    <div>
                      <span class="review-grey">리뷰</span>
                      <span>23</span>
                    </div>
                    <div>
                      <span class="review-grey">평점</span>
                      <span>4.8</span>
                    </div>
                  </div>
                </di>
              </div>
            </li>
            <li>
              <a href="#">
                <img class="best-img" src="/images/sample/230605001.jpg">
              </a>
              <div class="review-content">
                <p class="review-title">랍 형식의 러본 프릴까지 달린 원피스...</p>
                <p class="review-grey">권재*</p>
              </div>
              <div class="item-content">
                <img class="item-img" src="/images/sample/230605001.jpg">
                <di class="item-desc-container">
                  <div class="item-title">[커플룩/시밀러룩] 셀리르딘 ...</div>
                  <div class="item-review-state">
                    <div>
                      <span class="review-grey">리뷰</span>
                      <span>23</span>
                    </div>
                    <div>
                      <span class="review-grey">평점</span>
                      <span>4.8</span>
                    </div>
                  </div>
                </di>
              </div>
            </li>
            <li>
              <a href="#">
                <img class="best-img" src="/images/sample/230605001.jpg">
              </a>
              <div class="review-content">
                <p class="review-title">랍 형식의 러본 프릴까지 달린 원피스...</p>
                <p class="review-grey">권재*</p>
              </div>
              <div class="item-content">
                <img class="item-img" src="/images/sample/230605001.jpg">
                <di class="item-desc-container">
                  <div class="item-title">[커플룩/시밀러룩] 셀리르딘 ...</div>
                  <div class="item-review-state">
                    <div>
                      <span class="review-grey">리뷰</span>
                      <span>23</span>
                    </div>
                    <div>
                      <span class="review-grey">평점</span>
                      <span>4.8</span>
                    </div>
                  </div>
                </di>
              </div>
            </li>
            <li>
              <a href="#">
                <img class="best-img" src="/images/sample/230605001.jpg">
              </a>
              <div class="review-content">
                <p class="review-title">랍 형식의 러본 프릴까지 달린 원피스...</p>
                <p class="review-grey">권재*</p>
              </div>
              <div class="item-content">
                <img class="item-img" src="/images/sample/230605001.jpg">
                <di class="item-desc-container">
                  <div class="item-title">[커플룩/시밀러룩] 셀리르딘 ...</div>
                  <div class="item-review-state">
                    <div>
                      <span class="review-grey">리뷰</span>
                      <span>23</span>
                    </div>
                    <div>
                      <span class="review-grey">평점</span>
                      <span>4.8</span>
                    </div>
                  </div>
                </di>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- 사용자 리뷰(최신순) 게시판 -->
    <th:block th:replace="~{/boards/review/reviewList}"></th:block>

  <!-- 리뷰 수정 모달창 -->
  <div class="review-modal-overlay" id="review-modal-overlay">
    <div class="review-modal-window">
      <div class="review-modal-close">x</div>
      <div class="review-modal-top">
        <div>
          <img src="/images/review/review_image_upload.png">
        </div>
        <div>
          <div class="review-modal-product">
            <div>
              <img src="/images/sample/230605001.jpg">
            </div>
            <div class="review-modal-product-desc">
              <div>착용감best✨[98project/2만장돌파] 쿨 스트레이트 트레이닝 팬츠..</div>
              <div><span class="review-modal-subtitle">28,500</span><span class="review-grey">55,500</span></div>
              <div><span>리뷰개수:12개</span></div>
            </div>
          </div>
          <div class="write-review-modal-grade">
            <div><span>평점</span></div>
            <div><button>5점</button><button class="submit">4점</button><button>3점</button><button>2점</button><button>1점</button></div>
          </div>
          <div class="write-review-modal-contents">
            <textarea>잘 받았습니다 빠른 배송 감사합니다 여러 벌 샀는데 이 옷이 가장 마음에 들어요. 맞는 옷이 이거밖에 없거든요. 이걸 사람 입으라고 만든건지 강아지 옷으로 만든건지</textarea>
          </div>
        </div>
      </div>
      <div class="write-review-modal-middle">
        <img src="/images/review/review_image_upload_s.png">
        <img src="/images/review/review_image_upload_s.png">
        <img src="/images/review/review_image_upload_s.png">
        <img src="/images/review/review_image_upload_s.png">
      </div>
      <div class="btn-container">
        <button>작성</button>
        <button class="submit">삭제</button>
      </div>
    </div>
  </div>

  <section class="link" data-include="/views/boards/review/reviewModal.html"></section>

  </main>

  <th:block th:replace="~{common/footer}"></th:block>

  <script src="/js/common/default.js"></script>
  
<!-- 타입스크립트로 옮길 땐 지울것 -->
  <script>
    fetch("/js/boards/review.js")
    .then(resp => resp.text())
    .then(temp => {
      console.log(temp);
      eval(temp)
    });
  </script>

</body> 


</html>