<link rel="stylesheet" href="/css/boards/review.css">

<!-- 사용자 리뷰(최신순) 게시판 -->
<section class="reviews-boards-section">
  <div class="reviews">
    <!-- 검색창 영역 -->
    <div class="reviews-boards-search">
      <div>
        <div>
          <span>상품평수</span>
          <span th:text="${reviewList?.size}">개수</span>
          <span>개</span>
        </div>
      </div>
    </div>

    <!-- 게시글 영역 -->
    <!-- 사용자 리뷰 게시글 하나하나 -->
    <div class="reviews-item" th:each="r:${reviewList}">
      <input type="hidden" th:text="${session.memberNo}">
      <div class="reviews-item-product">
        <img th:each="img, status:${r.reviewImg}" th:if="${status.first}" th:src="${img.reviewPath}">
        <div>
          <div id="reviewListProductName" th:text="${r.product.productName}">제품명</div>
          <div class="review-grey">
            <span class="review-grey" th:text="${r.product.productPrice}">가격</span><span class="review-grey">원</span>
          </div>
        </div>
      </div>
      <div class="reviews-item-review">
        <div class="reviews-item-review-contents">
          <div>
            <span>&starf;&starf;&starf;&starf;&starf;</span>
            <span class="review-grey" th:text="${r.orderUno}">244530002***</span>
          </div>
          <div class="review-grey" th:text="${r.reviewContent}">
            내용
          </div>
        </div>
        <div class="reviews-item-review-images">
          <div class="reviewListDetail" th:value="${r.reviewNo}">더보기 &gt;&gt;</div>
          <div>
            <img class="" th:each="img, status:${r.reviewImg}" th:if="${0<status.count}" th:src="${img.reviewPath}">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <!-- 페이지네이션 영역 -->
  <div class="pagination-area">

    <ul class="pagination">
      
      <li><a href="#">&lt;</a></li>

      <li><a class="current">1</a></li> <!-- 현재 페이지 -->
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>

      <li><a href="#">&gt;</a></li>

    </ul>
  </div>
</section>