<link rel="stylesheet" href="/css/boards/review.css">

<!-- 사용자 리뷰(최신순) 게시판 -->
<section class="reviews-boards-section">
  <div class="reviews">
    <!-- 검색창 영역 -->
    <div class="reviews-boards-search">
      <div>
        <div>
          <span>상품평수</span>
          <span>102,334개</span>
        </div>
        <input type="text">
      </div>
      <div>
        <select name="key" id="lineUpKey">
          <option value="r">최신순</option>
          <option value="l">좋아요순</option>
      </select>
      </div>
    </div>

    <!-- 게시글 영역 -->
    <!-- 사용자 리뷰 게시글 하나하나 -->
    <div class="reviews-item" th:each="r:${reviewList}">
      <div class="reviews-item-product">
        <img src="/images/sample/230605001.jpg">
        <div>
          <div id="" th:text="${r.product.productName}">제품명</div>
          <div class="review-grey">
            <span class="review-grey" th:text="${r.product.productPrice}">가격</span><span class="review-grey">원</span>
          </div>
        </div>
      </div>
      <div class="reviews-item-review">
        <div class="reviews-item-review-contents">
          <div>
            <span>&starf;&starf;&starf;&starf;&starf;</span>
            <span class="review-grey" >244530002***</span>
          </div>
          <div class="review-grey" th:text="${r.reviewContent}">
            내용
          </div>
        </div>
        <div class="reviews-item-review-images">
          <div>더보기&gt;</div>
          <img src="/images/sample/230605001.jpg">
          <img src="/images/sample/230605001.jpg">
          <img src="/images/sample/230605001.jpg">
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <!-- 페이지네이션 영역 -->
  <div class="pagination-area">

    <ul class="pagination">
      
      <li><a href="#">&lt;</a></li>

      <li><a class="current">1</a></li> <!-- 현재 페이지 -->
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>

      <li><a href="#">&gt;</a></li>

    </ul>
  </div>
</section>