<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/boards/review.css">
  <!-- favicon -->
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" sizes="16x16">
  <title>LAF :: REVIEW</title>
</head>
<body>

  <th:block th:replace="~{/common/header}"></th:block>
  <th:block th:replace="~{/common/nav}"></th:block>
  
  <main th:with="reviewList=${reviewList}">

    <section class="board-list">
      <div class="board-name"><span>REVIEW</span></div>

      <div class="sub-category-container">
        <!-- 현재 카테고리에 current 클래스 추가 -->
        <a href="/notice"><div class="sub-category">NOTICE</div></a>
        <a href="/qna"><div class="sub-category">1:1문의</div></a>
        <a href="/faq"><div class="sub-category">FAQ</div></a>
        <a href="/review"><div class="sub-category current">REVIEW</div></a>
      </div>
      <!-- 베스트 리뷰 -->
      <div class="best">
        <div class="best-title">
          <span>BEST REVIEW</span>
        </div>
        <div class="best-content">
          <ul class="best-list">
            <!-- 베스트 리뷰 하나 하나 -->
            <li th:each="r:${reviewList}" start="1" end="5">
              <a href="#" id="review-bestThum">
                <img class="best-img" th:src="${r.product.thumbnailPath}">
              </a>
              <div class="review-content">
                <p class="review-title" th:text="${r.reviewContent}">(리뷰 내용)</p>
                <p class="review-grey" th:text="${r.memberId}">(id)</p>
              </div>
              <div class="item-content">
                <img class="item-img" th:src="${r.product.thumbnailPath}">
                <di class="item-desc-container">
                  <div class="item-title" th:text="${r.product.productName}">(상품명)</div>
                  <div class="item-review-state">
                    <div>
                      <span class="review-grey">리뷰</span>
                      <span th:text="${r.reviewCount}">(리뷰)</span>
                    </div>
                    <div>
                      <span class="review-grey">평점</span>
                      <span th:text="${r.reviewScoreAvg}">(평점)</span>
                    </div>
                  </div>
                </di>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- 사용자 리뷰(최신순) 게시판 -->
    <th:block th:replace="~{/boards/review/reviewList}"></th:block>
    <th:block th:replace="~{/boards/review/reviewDetailModal}"></th:block>
    <th:block th:replace="~{/boards/review/reviewModifyModal}"></th:block>

  <!-- 리뷰 수정 모달창 -->
  </main>

  <th:block th:replace="~{/common/footer}"></th:block>
  
<!-- 타입스크립트로 옮길 땐 지울것 -->
  <script>
    fetch("/js/boards/review.js")
    .then(resp => resp.text())
    .then(temp => {
      console.log(temp);
      eval(temp)
    });
  </script>

</body> 


</html>