main { 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
section {
  max-width: 1200px;
}

/* 장바구니 페이지 테이블 공통설정 */
table {
  width: 1200px;
}
table tr {
  border-top : 0.5px solid #eee;
}
table tr:first-child {
  background-color: #fafafa;
}
table tr:last-child {
  border-bottom : 0.5px solid #eee;
}
table td {
  padding: 3px 0;
  min-height: 34px;;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
table tr:not(:first-child) > td {
  height: 100px;
}
input[name='checkbox']:disabled {
  cursor: default;
}

/* 버튼 컨테이너 공통설정 */
.btn-container {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btn-container button {
  margin-left: 5px;
}

/* 장바구니 목록 - 테이블 레이아웃 설정 */
.cart-item-checkbox { width: 3%; }
.cart-item-image { width: 10%; }
.cart-item-product { width: 53%; }
.cart-item-count { width: 8%; }
.cart-item-price-set { width: 10%; }
.cart-item-point { width: 8%; }
.cart-item-choose { width: 8%; }
.cart-item-empty { width: 100%; }
tr:not(:first-child) > .cart-item-product {
  /* 테이블 헤더 제외하고 적용 */
  padding: 10px 20px 10px 0;
  
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
#cartItemList .cart-item-image img {
  height: 94px;
  width: 70px;
  display: block;
  object-fit: cover;
  object-position: center;
}
#cartItemList .cart-item-product button {
  margin-right: 5px;
}
#cartItemList .cart-item-product a:hover {
  text-decoration: underline;
}
#cartItemList .cart-item-product-option, #cartItemList .cart-item-selected-option {
  font-size: 1.4rem;
  color: #666;
}
.cart-item-price-set {
  display: inline-flex;
  flex-direction: column;
}
.cart-item-price-origin {
  font-size: 1.3rem;
  color: #666;
  text-decoration: line-through;
}
.cart-item-count {
  position: relative;
}
#cartItemList .cart-item-count button {
  width: 20px;
  height: 20px;
  /* margin: 0 10px; */
}
.count {
  /* 주문수량 출력부 */
  /* display: inline-block; */
  text-align: center;
  width: 40px;  
}
.out-of-stock {
  color: #D66600;
}
#emptyStockRemoveBtn span {
  color: #D66600;
  font-size: inherit;
}
.option-change-btn:disabled {
  cursor: default;
}
.cart-item-count {
  display: inline-flex;
  /* flex-direction: column; */
}
.out-of-stock-2 {
  color: #D66600;
}
.out-of-stock-3 {
  color: #D66600;
  font-size: 1.1rem;
  margin-top: 3px;
  position: absolute;
  bottom: 20px;
  margin: 0 auto;
}

/* 결제예상금액 */
#cartPrice {
  margin: 100px 0;
}
.cart-price-total-origin { width: 20%; }
.cart-price-shipping { width: 20%; }
.cart-price-total-discount { width: 20%; }
.cart-price-total-payment { width: 40%; }
#cartPrice > table tr.table-data > td {
  font-size: 1.8rem;
  font-weight: bold;
}
#cartPrice > table td > .data {
  margin: 0 5px;
}

#cartPrice > table tr.table-data > .cart-price-total-payment {
  font-size: 2rem;
  font-weight: bold;
  color: #D66600;
  padding-bottom: 3px;
}
#cartPrice > .btn-container > button {
  height: 40px;
  width: 120px;
  border-radius: 2px;
}

/* 옵션 변경 모달 */
.bubble-overlay {
  position: fixed;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0);
}

.bubble-btn:hover {
  background-color: #eee;
  transition-duration: 0.2s;
}

.bubble-btn {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bubble {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bubble > svg {
  fill: white;
}
.bubble-container {
  margin: 0;
  width: 200px;
  padding: 8px 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 18px -7px rgba(0,0,0,1);
  display: flex;
  flex-direction: column;
}
.bubble-container > select {
  margin: 4px 8px;
  font-size: 1.3rem;
}
.bubble-container option {
  font-size: 1.3rem;
}
.bubble-content {
  margin: 0 8px;
  padding: 8px 8px;
  border-radius: 10px;
  font-size: 0.85rem;
  cursor: pointer;
}
.bubble-content:disabled {
  background-color: #eee;
}

.sub-section {
  margin-top: 0px !important;
}