<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../../resources/css/common/default.css">
  <link rel="stylesheet" href="../../resources/css/shopping/categoryList.css">
  <link rel="stylesheet" href="../../resources/css/mypage/mypagePoint.css">
  <title>LAF :: 마이페이지</title>

</head>
<body>
  <header class="link" data-include="../../views/common/header.html"></header>
  <nav class="link" data-include="../../views/common/nav.html"></nav>
  
  <main>
    <section class="mypageDash-mainFrame">
      <section class="link" data-include="../../views/mypage/mypageSide.html"></section>
        <!-- 마이페이지 중앙 대쉬보드 -->
        <div class="mypageDash-dashFrame-myMain">
          <!-- 등급 확인 및 적립금 예치금 쿠폰 -->
          <div class="mypageDash-myMain-myInfo">
            <div>dd</div>
          </div>
        </div>
      </section>
  </main>
  <footer class="link" data-include="../../views/common/footer.html"></footer>
  <script src="../../resources/js/common/default.js"></script>
</body>
</html>
