<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../resources/css/common/default.css">
  <link rel="stylesheet" href="../../resources/css/shopping/categoryList.css">
  <link rel="stylesheet" href="../../resources/css/mypage/mypageQuestion.css">
  <title>LAF :: 마이페이지</title>

</head>
<body>
  <header class="link" data-include="../../views/common/header.html"></header>
  <nav class="link" data-include="../../views/common/nav.html"></nav>
  
  <main>
    <section class="mypageQuestion-mainFrame">
      <section class="link" data-include="../../views/mypage/mypageSide.html"></section>
      <!-- 마이페이지 중앙 대쉬보드 -->
      <div class="mypageQuestion-dashFrame-myMain">
        <!-- 등급 확인 및 적립금 예치금 쿠폰 -->
        <div class="mypageQuestion-myMain-text">1:1 문의 내역</div>
        <div class="mypageQuestion-MyMain-Question">
          <div>
            분류 선택 
            <select name= "">
              <option value="t">작성 일자별</option>
              <option value="c">답변 유무별</option>
            </select>
          </div>
          <table>
            <tr>
              <th width="60px">번호</th>
              <th width="150px">분류</th>
              <th width="500px">제목</th>
              <th width="100px">작성자</th>
              <th width="100px">작성일</th>
              <th width="60px">조회</th>
            </tr>
            <!-- 항목 추가~ -->
            <tr class="mypageQuestion-Question-list">
              <td>1</td>
              <td>배송 전 변경/취소</td>
              <td>주문취소 문의</td>
              <td>최**</td>
              <td>2023-05-31</td>
              <td>1</td>
            </tr>
            <tr class="mypageQuestion-Question-list">
              <td>2</td>
              <td>배송 전 변경/취소</td>
              <td>↳ 답변 드립니다</td>
              <td>운영자</td>
              <td>2023-06-01</td>
              <td>0</td>
            </tr>
            <!-- ~~~~~~~~~~~~~~~ -->
          </table>
          <div class="pagination-area">
            <ul class="pagination">
                <!-- 첫 페이지로 이동 -->
                <li><a><img src="/resources/image/common/paging/first-page.svg"></a></li>
                <!-- 이전 목록 마지막 번호로 이동 -->
                <li><a><img src="/resources/image/common/paging/prev-page.svg"></a></li>
                <li><a class="current">1</a></li>
                <li><a>2</a></li>
                <li><a>3</a></li>
                <li><a>4</a></li>
                <li><a>5</a></li>
                <li><a>6</a></li>
                <!-- 다음 목록 시작 번호로 이동 -->
                <li><a><img src="../../resources/image/common/paging/next-page.svg"></a></li>
                <!-- 끝 페이지로 이동 -->
                <li><a><img src="../../resources/image/common/paging/last-page.svg"></a></li>
            </ul>
          </div>
          <div class="mypageQuestion-Question-search">
            <select name="key">
              <option value="t">제목</option>
              <option value="c">내용</option>
              <option value="w">작성자</option>
            </select>
            <input type="text">
            <button>검색</button>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="link" data-include="../../views/common/footer.html"></footer>
  <script src="../../resources/js/common/default.js"></script>
</body>
</html>
