    <link rel="stylesheet" href="/resources/css/common/default.css">
    <link rel="stylesheet" href="/resources/css/mypage/mypageSide.css">
            <!-- 개인화면 사이드 전체 틀 -->
            <div class="mypageSide-sideFrame">
                <div class="mypageSide-sideFrame-myMenu">
                    <h3>마이페이지</h3>
                    <!-- "마이페이지" 밑 탭 -->
                    <dl class="mypageSide-myMenu-menuList">
                        <!-- 주문관리 -->
                        <dt>주문관리</dt>
                        <dd class="mypageSide-menuList-menuContent"><a href="">주문조회</a></dd>
                        <dd class="mypageSide-menuList-menuContent">
                            <a href="/views/mypage/like.html">찜 목록</a>
                        </dd>
                        <dd class="mypageSide-menuList-menuContent"><a href="">적립금 내역</a></dd>
                        <dd class="mypageSide-menuList-menuContent"><a href="">쿠폰 보유 현황</a></dd>
                    </dl>
                    <dl class="mypageSide-myMenu-menuList">
                        <!-- 정보관리 -->
                        <dt>정보관리</dt>
                        <dd class="mypageSide-menuList-menuContent"><a href="">회원정보변경</a></dd>
                        <dd class="mypageSide-menuList-menuContent"><a href="">배송지 관리</a></dd>
                    </dl>
                    <dl class="mypageSide-myMenu-menuList">
                        <!-- 게시글 관리 -->
                        <dt>게시글 관리</dt>
                        <dd class="mypageSide-menuList-menuContent">
                            <a href="/views/mypage/reviewQueue.html">내 리뷰 관리</a>
                        </dd>
                        <dd class="mypageSide-menuList-menuContent"><a href="">1:1 문의 내역</a></dd>
                    </dl>
                </div>
            </div>
    <script src="/resources/js/common/default.js"></script>
