/* 게시판  */
.board-list{
    width: 1200px;
    margin : 50px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 게시판 이름 */
.board-name{
    width: 100%;
    margin: 30px 0;

    font-size: 25px;
    text-align: center;
}

/* faq container */
.faq-container{
    margin: 50px auto 0;
    width: 80%;
}

.faq-category{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.faq-category *{
    width: 170px;
    border: 0.5px solid #eee;
}

.faq-content li{
    cursor: pointer;
}

.faq-content li:last-child{
    border-bottom: 1px solid #ccc;
}

.faq-content img{
    width: 10px;
}

.faq-item-title{
    height: 50px;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.faq-item-title *{
    font-size: 1.3rem;
    vertical-align: middle;
    margin: 0 10px;
}

.faq-classify{
    font-weight: bold;
}

.faq-item-title>div:nth-child(4){
    margin-left: auto;
}

.faq-item-content{
    border-top: 1px solid #ccc;
    display: flex;
    padding: 20px 0;
    transition: display 0.3s ease;
    background-color: #eee;
}

.faq-item-content *{
    font-size: 1.2rem;
    margin: 0 10px;
}
