/* 게시판  */
.board-list{
  width: 1200px;
  margin : 50px auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 게시판 이름 */
.board-name{
  width: 100%;
  margin: 30px 0;

  font-size: 2rem;
  text-align: center;
}

/* content */
.best{
  width: 1200px;
  margin: 40px auto;
  font-size: 2rem;

  position: relative;
}

.best-title{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.best-title span{
  font-size: 2rem;
}

.best-content{
  width: 1200px;
}

.best-list{
  display: flex;
  justify-content: space-between;
}

.best-list *{
  font-size: 1.2rem;
}

/* best img */
.best-img{
  width: 220px;
  height: 280px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.review-content, .item-content{
  border: 1px solid #ccc;
  padding: 5px;
}

.reviewer{
  color: #666;
}

.item-img{
  width: 10px;
}