<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/shopping/categoryList.css}">
  <script src="https://kit.fontawesome.com/9c2aaccfe5.js" crossorigin="anonymous"></script>
  <title>LAF :: TOP</title>
</head>
<body>

  <th:block th:replace="~{/common/header}"></th:block>
  <th:block th:replace="~{/common/nav}"></th:block>
  
  <main>
    <!-- BEST ITEMS -->
    <section id="categoryList-best-items">

      <!-- 섹션 헤더(제목, 설명) -->
      <div class="section-header best">
        <div class="section-title">BEST ITEMS</div>
        <div class="section-description">한 주동안 가장 🔥인기🔥있었던 상품들입니다💗</div>
      </div>

      <!-- 베스트 상품 목록 -->
      <ul class="categoryList-section-container best-item">
        
        <li class="categoryList-best-item" th:each="product : ${bestList}">
          <a th:href="@{/product/{productNo}(productNo=${product.productNo})}">
            <img class="thumbnail" th:src="${product.thumbnailPath}">
          </a>
          <div class="item-description hidden">
            <div class="item-name" th:if="${#strings.length(product.productName) > 26}" 
              th:text="${#strings.substring(product.productName, 0, 26) + '…'}">제품 이름</div>
            <div class="item-name" th:unless="${#strings.length(product.productName) > 26}" 
              th:text="${product.productName}">제품 이름</div>
            <div class="item-price-set">
              <span class="item-price" 
                th:text="${#numbers.formatInteger(product.productSalePrice, 3, 'COMMA')}">할인가</span>
              <span class="item-price-origin" 
                th:unless="${product.productSale == 0}"
                th:text="${#numbers.formatInteger(product.productPrice, 3, 'COMMA')}">원가</span>
              <div class="item-additional-info">
                <div class="item-rieview-count" th:text="|리뷰 : ${product.reviewCount} 개|"></div>
                <img th:src="@{/images/common/like-fill.svg}">
                <span th:text="${product.likeCount}"></span>
              </div>
            </div>
          </div>
        </li>
        
      </ul>

    </section>

    <!-- PRODUCTS LIST -->
    <section id="categoryList-product-container">
      <div class="section-header">
        <div class="section-title">TOP</div>
      </div>
      <div class="sub-category-container">
        <!-- 현재 카테고리에 current 클래스 추가 -->
        <div class="sub-category current">전체</div>
        <div class="sub-category">가디건</div>
        <div class="sub-category">니트</div>
        <div class="sub-category">베스트</div>
      </div>

      <!-- 아이템 목록 상단(상품 갯수, 정렬방법) -->
      <div class="categoryList-product-header">
        <div class="product-count"><span>72</span> 개의 상품</div>
        <ul class="categoryList-order">
          <!-- 현재 정렬방식에 current 클래스 추가 -->
          <li><a href="#" class="current">신상품 <i class="fa-solid fa-angle-down"></i></a></li><!-- 기본정렬 -->
          <li><a href="#">상품명 <i class="fa-solid fa-angle-down"></i></a></li>
          <li><a href="#">낮은가격 <i class="fa-solid fa-angle-down"></i></a></li>
          <li><a href="#">높은가격 <i class="fa-solid fa-angle-down"></i></a></li>
          <li><a href="#">인기상품 <i class="fa-solid fa-angle-down"></i></a></li>
          <li><a href="#">사용후기 <i class="fa-solid fa-angle-down"></i></a></li>
        </ul>
      </div>

      <!-- 아이템 목록 -->
      <ul class="categoryList-product-item-container">

        <li class="categoryList-product-item" th:each="product : ${productList}" th:productNo="${product.productNo}">
          <a class="link" th:href="@{/product/{productNo}(productNo=${product.productNo})}">
            <img th:src="${product.thumbnailPath}">
          </a>
          <img class="like" th:if="${product.likeCount > 0}" th:src="@{/images/common/like-fill.svg}" value="like">
          <img class="like" th:unless="${product.likeCount > 0}" th:src="@{/images/common/like-grey.svg}">
          <div class="item-description-bottom-container">

            <a th:href="@{/product/{productNo}(productNo=${product.productNo})}">
              <div class="item-name" th:text="${product.productName}">제품 이름</div>
            </a>

            <div class="item-description-bottom">
              <div class="item-price-set">
                <span class="item-price" 
                  th:text="${#numbers.formatInteger(product.productSalePrice, 3, 'COMMA')}">할인가</span>
                <span class="item-price-discount" 
                  th:unless="${product.productSale == 0}"
                  th:text="${product.productSale + '%'}">할인율</span>
                <span class="item-price-origin" 
                  th:unless="${product.productSale == 0}"
                  th:text="${#numbers.formatInteger(product.productPrice, 3, 'COMMA')}">원가</span>
              </div>

              <div class="item-additional-info">
                <div class="item-rieview-count" th:text="|리뷰 : ${product.reviewCount} 개|"></div>
                <img th:src="@{/images/common/like-fill.svg}">
                <span th:text="${product.likeCount}"></span>
              </div> 
            </div>

          </div>
        </li>

      </ul>

      <!-- 페이징 -->
      <div class="pagination-area">

          <ul class="pagination">
          
              <!-- 첫 페이지로 이동 -->
              <li><a><img src="/images/common/paging/first-page.svg"></a></li>

              <!-- 이전 목록 마지막 번호로 이동 -->
              <li><a><img src="/images/common/paging/prev-page.svg"></a></li>

              <li><a class="current">1</a></li>
              <li><a>2</a></li>
              <li><a>3</a></li>
              <li><a>4</a></li>
              <li><a>5</a></li>
              <li><a>6</a></li>
    
              <!-- 다음 목록 시작 번호로 이동 -->
              <li><a><img src="/images/common/paging/next-page.svg"></a></li>
              
              <!-- 끝 페이지로 이동 -->
              <li><a><img src="/images/common/paging/last-page.svg"></a></li>
          </ul>
      </div>

    </section>
  </main>

  <th:block th:replace="~{/common/footer}"></th:block>
  <script th:src="@{/js/shopping/categoryList.js}"></script>
</body>
</html>