<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/shopping/product.css}">
  <link rel="stylesheet" th:href="@{/css/shopping/productListItem.css}">
  <title>LAF :: [[${product.productName}]]</title>
</head>
<body>

  <th:block th:replace="~{common/header}"></th:block>
  <th:block th:replace="~{common/nav}"></th:block>
  
  <main>
    <!-- 제품 페이지 상단(사진, 상품정보, 구매옵션) -->
    <section id="porductTop">

      <!-- 제품 사진 -->
      <section id="productTopImages">
        <img th:src="${product.thumbnailPath}">
      </section>

      <!-- 상품 정보 및 구매옵션 -->
      <section id="productTopOptions">

        <!-- 상품 정보 -->
        <div id="titleWrapper">
          <div id="productTitle" th:text="${product.productName}">제품명 출력</div>
          <div id="productLike">
            <img class="like" th:src="@{/images/common/like-grey.svg}">
          </div>
        </div>
        <!-- <div id="productPrice" th:text="${product.productName}">상품가격(할인후)</div> -->

        <div class="item-price-set">
          <span id="productSalePrice" th:text="${#numbers.formatInteger(product.productSalePrice, 3, 'COMMA')}">상품가격(할인후)</span>
          <!-- <span class="item-price-origin">28,700</span> -->
          <!-- 할인된 상품인 경우 할인율, 원래 가격 표기 -->
          <span id="productSale" th:unless="${product.productSale == 0}"
            th:text="${product.productSale + '%'}">할인율</span>
          <span id="productPrice" th:unless="${product.productSale == 0}"
            th:text="${#numbers.formatInteger(product.productPrice, 3, 'COMMA')}">상품 원래 가격</span>
        </div>

        <hr>

        <div id="productPoint" class="productInfo">
          <div class="productPoint-img"><img th:src="@{/images/prouduct/point.svg}"></div>
          <span th:text="${product.productPoint}">325</span>원
        </div>
        <div id="productshipping" class="productInfo">
          <div class="productPoint-img"><img th:src="@{/images/prouduct/delivery.svg}"></div>
          배송 소요기간 영엽일 기준 2~3일 (수도권 기준)
        </div><!-- 상품 정보 종료 -->

        <hr>

        <!-- 구매 옵션 선택 -->
        <div class="product-option-wrapper">
          <!-- 색상 선택 -->
          <div class="product-option color">
              <div class="product-option-title">
                색상<span class="option-required">[필수]</span>
              </div>
              <div class="product-option-options">
                <p class="product-option-seleced color">색상을 선택해 주세요</p>
                <ul>
                  <li class="option-btn color" th:each="color : ${colorList}">
                    <button name="color" th:text="${color}" disabled>컬러</button>
                  </li>
                </ul>
              </div>
            </div>

            <!-- 사이즈 선택 -->
            <div class="product-option size" th:if="${#lists.size(sizeList) > 1}">
              <div class="product-option-title">
                사이즈<span class="option-required">[필수]</span>
              </div>
              <div class="product-option-options">
                <p class="product-option-seleced size">사이즈를 선택해 주세요</p>
                <ul>
                  <li class="option-btn color" th:each="size : ${sizeList}">
                    <button name="size" th:text="${size}" disabled>사이즈</button>
                  </li>
                </ul>
              </div>
            </div>
        </div> <!-- 구매 옵션 선택 종료 -->

        <hr>

        <!-- 선택한 구매 옵션 출력 -->
        <ul id="productCurrentItem"></ul>

        <!-- 총 상품 금액 -->
        <div id="productCurrentTotalSelected">
          <div id="totalSelectedTitle">총 상품 금액</div>
          <div id="totalSelectedCalc">
            <span id="totalSelectePrice">0</span>
            (<span id="totalSelectedCount">0</span>개)
          </div>
        </div>

        <hr>

        <!-- 찜 목록 추가 / 장바구니 담기 -->
        <div id="productCurrentButton">
          <button id="addLikeBtn">찜 목록 추가</button>
          <button id="addCartBtn" class="submit">장바구니 담기</button>
        </div>

      </section> <!-- 상품 정보 및 구매옵션 종료 -->
    </section> <!-- 제품 페이지 상단 종료 -->

    <!-- 추천상품 목록 -->
    <section class="sub-section proudctRecommandItem">
      <div class="sub-section-title">RECOMMEND ITEM</div>
      <div class="sub-section-desc">이 상품과 함께 구매하면 좋을 상품 추천드립니다 :-)</div>
      
      <div class="sub-section-content slide_wrap_sub-2">  
        <ul class="sub-section-list slide_list_sub">
          <li class="slide_content_sub" th:each="product : ${recommendList}">
            <th:block th:replace="~{/shopping/productListItem}"></th:block>
          </li>
        </ul>
        
        <button class="slide_btn_prev slide_btn_prev_sub" type="button">
          <img th:src="@{/images/common/allowBtnLeft-white.svg}">
        </button>
        <button class="slide_btn_next slide_btn_next_sub" type="button">
          <img th:src="@{/images/common/allowBtnRight-white.svg}">
        </button>
      </div>
    </section>

    <!-- 상품 상세정보 -->
    <section id="productDetail">

      <!-- 카테고리(상품설명, 리뷰) -->
      <div class="sub-category-container">
        <a href="#productDetail"><div class="sub-category current">상품 설명</div></a>
        <a href="#productReivew"><div class="sub-category">리뷰</div></a>
      </div>

      <img src="/images/prouduct/detail/1.png">
    </section>

    <!-- 리뷰 -->
    <section id="productReivew">

      <!-- 카테고리(상품설명, 리뷰) -->
      <div class="sub-category-container">
        <a href="#productDetail"><div class="sub-category">상품 설명</div></a>
        <a href="#productReivew"><div class="sub-category current">리뷰</div></a>
      </div>

      <!-- 사용자 리뷰(최신순) 게시판 -->
      <div layout:fragment="content" th:replace="~{/boards/review/reviewList}"></div>

    </section>
  </main>

  <th:block th:replace="~{/common/footer}"></th:block>
  <script src="/js/shopping/product.js"></script>
  <script th:src="@{/js/shopping/productListItem.js}"></script>
</body>
</html>