<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/shopping/categoryList.css}">
  <link rel="stylesheet" th:href="@{/css/shopping/search.css}">
  <script src="https://kit.fontawesome.com/9c2aaccfe5.js" crossorigin="anonymous"></script>
  <title th:text="|LAF :: ${query}|"></title>
</head>
<body>

  <th:block th:replace="~{/common/header}"></th:block>
  <th:block th:replace="~{/common/nav}"></th:block>
  
  <main>

    <section id="searchSection">
      <div class="section-title"><span th:text="|'${query}'|"></span> 검색 결과</div>
      <form action="/search">
        <input type="text" name="query" placeholder="검색어를 입력해주세요">
        <button class="submit">검색</button>
      </form>
    </section>

    <!-- PRODUCTS LIST -->
    <section id="categoryList-product-container">
      
      <!-- 아이템 목록 상단(상품 갯수, 정렬방법) -->
      <div class="categoryList-product-header">
        <div class="product-count"><span>72</span> 개의 상품</div>
        <ul class="categoryList-order">
          <!-- 현재 정렬방식에 current 클래스 추가 -->
          <li><a href="#" class="current">신상품 <i class="fa-solid fa-angle-down"></i></a></li><!-- 기본정렬 -->
          <li><a href="#">상품명 <i class="fa-solid fa-angle-down"></i></a></li>
          <li><a href="#">낮은가격 <i class="fa-solid fa-angle-down"></i></a></li>
          <li><a href="#">높은가격 <i class="fa-solid fa-angle-down"></i></a></li>
          <li><a href="#">인기상품 <i class="fa-solid fa-angle-down"></i></a></li>
          <li><a href="#">사용후기 <i class="fa-solid fa-angle-down"></i></a></li>
        </ul>
      </div>

      <!-- 아이템 목록 -->
      <ul class="categoryList-product-item-container">
        <li class="categoryList-product-item">
          <a href="/product/1"><img src="/images/prouduct/thumbnail/1.gif"></a>
          <img class="like" src="/images/common/like-fill.svg">
          <div class="item-description">
            <a href="/product/1">
              <div class="item-name">✨재구매1등✨[98project/2만장돌파] 썸머 포드 와이드 슬랙스 - 4 color</div>
            </a>
            <div class="item-description-bottom">
              <div class="item-price-set">
                <span class="item-price">32,500</span>
                <span class="item-price-discount"></span>
                <span class="item-price-origin"></span>
              </div>
              <div class="item-rieview-count">리뷰 개수 : <span>702</span></div>
            </div>
          </div>
        </li>

        <li class="categoryList-product-item">
          <img src="/images/sample/18889.gif">
          <img class="like" src="/images/common/like-grey.svg">
          <div class="item-description">
            <div class="item-name">여름신상10%🎁[98project] 스퀘어즈 쫀쫀 스탠다드 반팔 T - 4 color</div>
            <div class="item-description-bottom">
              <div class="item-price-set">
                <span class="item-price">25,800</span>
                <span class="item-price-discount">10%</span>
                <span class="item-price-origin">28,700</span>
              </div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </li>

        <li class="categoryList-product-item">
          <img src="/images/sample/18889.gif">
          <img class="like" src="/images/common/like-grey.svg">
          <div class="item-description">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </li>

        <li class="categoryList-product-item">
          <img src="/images/sample/18889.gif">
          <img class="like" src="/images/common/like-grey.svg">
          <div class="item-description">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </li>

        <li class="categoryList-product-item">
          <img src="/images/sample/18889.gif">
          <img class="like" src="/images/common/like-fill.svg">
          <div class="item-description">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </li>

        <li class="categoryList-product-item">
          <img src="/images/sample/18889.gif">
          <img class="like" src="/images/common/like-fill.svg">
          <div class="item-description">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </li>

        <li class="categoryList-product-item">
          <img src="/images/sample/18889.gif">
          <img class="like" src="/images/common/like-fill.svg">
          <div class="item-description">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </li>

        <li class="categoryList-product-item">
          <img src="/images/sample/18889.gif">
          <img class="like" src="/images/common/like-fill.svg">
          <div class="item-description">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </li>

        <li class="categoryList-product-item">
          <img src="/images/sample/18889.gif">
          <img class="like" src="/images/common/like-fill.svg">
          <div class="item-description">
            <div class="item-name">[1천장돌파] 썸머 클로 여유핏 브이넥 가디건</div>
            <div class="item-description-bottom">
              <div class="item-price">28,700</div>
              <div class="item-rieview-count">리뷰 개수 : <span>18</span></div>
            </div>
          </div>
        </li>
        
      </ul>

      <!-- 페이징 -->
      <div class="pagination-area">

          <ul class="pagination">
          
              <!-- 첫 페이지로 이동 -->
              <li><a><img src="/images/common/paging/first-page.svg"></a></li>

              <!-- 이전 목록 마지막 번호로 이동 -->
              <li><a><img src="/images/common/paging/prev-page.svg"></a></li>

              <li><a class="current">1</a></li>
              <li><a>2</a></li>
              <li><a>3</a></li>
              <li><a>4</a></li>
              <li><a>5</a></li>
              <li><a>6</a></li>
    
              <!-- 다음 목록 시작 번호로 이동 -->
              <li><a><img src="/images/common/paging/next-page.svg"></a></li>
              
              <!-- 끝 페이지로 이동 -->
              <li><a><img src="/images/common/paging/last-page.svg"></a></li>
          </ul>
      </div>

    </section>
  </main>

  <th:block th:replace="~{/common/footer}"></th:block>
  <script src="/js/shopping/categoryList.js"></script>
</body>
</html>