.main-control-view{
  width: 1200px;

  margin: 30px;
  padding: 30px;

  border-radius: 30px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.main-control-view-title{
  font-size: 2.5rem;
}

.control-classify{
  margin: 20px 0;

  display: flex;
  justify-content: center;

  border-top: 1px solid #DAD5E4;
  border-bottom: 1px solid #DAD5E4;
}

.control-classify span{
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 20px 10px;
  
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 3px;
  
  background-color: #DAD5E4;
  cursor: pointer;
}

.control-classify span:hover{
  color: white;
  background-color: #493E5D !important;
}

.control-classify-select{
  color: white;
  background-color: #493E5D !important;
}

/* img input */
.main-control-img li{
  width: 100%;
  height: 350px;
  
  display: flex;
  justify-content: space-between;

  margin: 30px 0 60px;
}

.main-control-subtitle{
  font-size: 1.8rem;
  padding: 5px;

  margin-bottom: 5px;
}

.main-thumbnail{
  border: 2px solid #DAD5E4;
  border-radius: 10px;
  padding: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-thumbnail img{
  width: 535px;
  height: auto;
  border-radius: 10px;
}

.main-control-btn{
  display: flex;
  justify-content: end;

  padding: 5px 0;
}

.main-control-btn button{
  width: 80px;
  margin-left: 5px;
  border: none;

  color: white;
  letter-spacing: 2px;
}

.main-control-btn button:nth-child(1){background-color: #7F7698;}
.main-control-btn button:nth-child(2){background-color: #ccc;}

.form-btn{
  display: flex;
  justify-content: end;

  padding: 20px 0;
  margin-top: 100px;

  border-top: 1px solid #DAD5E4;
}

.form-btn button{
  width: 120px;
  height: 40px;
  margin-left: 15px;
  border: none;

  font-size: 1.7rem;
  color: white;
  letter-spacing: 2px;
}

.form-btn button:nth-child(1){background-color: #493E5D;}
.form-btn button:nth-child(2){background-color: #666;}