.main-category{
  width: 1200px;

  margin: 0 30px 30px;
  padding: 30px;

  border-radius: 30px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.main-category-title{
  font-size: 2.5rem;
}
/* content */
.main-category-content{
  margin-top: 30px;

  width: 100%;

  display: flex;
  justify-content: space-around;
}

.content-title{
  font-size: 2rem;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

/* content-left */
.main-category-content-left{
  width: 65%;
  padding: 30px;

  border-radius: 30px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
  background-color: #F9F4F5;
}

.category-item-list *{
  margin: 10px 0;
}

.category-item{
  display: flex;
}

.category-item *{
  display: flex;
  align-items: center;
}

.category-first{
  width: 150px;

  display: flex;
  justify-content: space-between;

  padding: 0 15px;

  background-color: #493E5D;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.category-first>span{
  color: white;
}
.category-first>div{
  color: white;
  cursor: pointer;
}

.category-second{
  padding: 0 5px;
  width: 100%;

  display: flex;
  flex-wrap: wrap;

  /* border: 0.5px solid #493E5D; */
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);

  background-color: white;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.category-second *{
  margin-left: 15px;
}

.category-second>span{
  background-color: #F9F4F5;
  border: 0.1px solid #493E5D;
  border-radius: 10px;
  height: 35px;
  padding: 0 10px;
}

.category-second div{
  cursor: pointer;
}

.select-edit{
  border: 3px solid #493E5D;
  border-radius: 10px;
  padding: 0 10px;
}


/* content-right */
.main-category-content-right{
  width: 30%;
  height: 500px;
  padding: 30px;

  border-radius: 30px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
  background-color: #F9F4F5;
}

.category-item-right *{
  margin: 10px 0;
}

.content-subtitle{
  font-size: 1.5rem;
}

.content-subtitle~input{
  border: none;
  background-color: #F9F4F5;
  border-bottom: 1px solid black;
  margin-right: 10px;
}

.first-content p{
  background-color: #493E5D;
  border-radius: 10px;
  height: 35px;
  padding: 10px;
  color: white;
}