/* 회원가입 정규식 확인 */
.confirm{color : #666;}
.error{color : red;}


input {
  outline: none;
}

.mypageSignUp-signUp{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.mypageSignUp-signUp-info{
    margin-top: 50px;
    display: flex;
    width: 1200px;
}
.mypageSignUp-info-intro{
  color: #666;
  display: flex;
  font-size: 17px;
  align-items: flex-end;
  margin-bottom: 30px;
}

.mypageSignUp-info-intro span{
  color: black;
  font-weight: bold;
  margin-right: 10px;
  display: flex;
  font-size: 40px;
}

.mypageSignUp-info-signUpInfo{
    display: block;
}
.mypageSignUp-signUpInfo-table{
    margin: 20px 0;
    margin-bottom: 50px;
}
.mypageSignUp-signUpInfo-table th{
    padding-left: 10px;
    height: 30px;
    width: 150px;
    background-color: #fafafa;
    border-top: 0.5px solid #eee;
    border-bottom: 0.5px solid #eee;
    border-right: 0.5px solid #eee;
    text-align: left;
}
.mypageSignUp-signUpInfo-table td{
    width: 1200px;
    padding-left: 10px;
    border-top: 0.5px solid #eee;
    border-left: 0.5px solid #eee;
    border-bottom: 0.5px solid #eee;

}
.mypageSignUp-signUpInfo-table tr{
    
    height: 70px;
}
.mypageSignUp-signUpInfo-table input{
  border: 0.5px solid #eee;
    width: 300px;
    height: 45px;
}
.mypageSignUp-table-inputTd{
    display: flex;
    align-items: center;
}
.mypageSignUp-table-inputTd > div{
  color: #666;
  margin-left: 10px;
} 

.mypageSignUp-table-address input{
    margin: 10px 0;
}

.mypageSignUp-table-address button{
    height: 45px;
    width: 100px;
    border: 0.5px solid #eee;
    background-color: #fafafa;
}
.mypageSignUp-address-postal{
    width: 100px !important;
}
.mypageSignUp-table-tel input{
    text-align: left;
    width: 300px;
}

.mypageSignUp-table-birth input{
  border: 0.5px solid #eee;
  width: 50px;
  margin-right: 5px;
}
.mypageSignUp-table-birth input:not(:first-child) {
  margin-left: 10px;
}

.mypageSignUp-table-Refund div{
    padding: 15px 0;
}
.mypageSignUp-table-Refund select{
  border: 0.5px solid #eee;
  text-align: center;
  height: 45px;
  width: 170px;
}
.mypageSignUp-table-Refund option{
  text-align: center;
  height: 45px;
  width: 170px;
}
.mypageSignUp-table-Refund td {
  padding-left: 10px;
}

#mypageSignUpSubmitButton{
  margin-top: 50px;
  display: flex;
  height: 50px
}
#mypageSignUpSubmitButton button {
  background-color: #eee;
  border: none;
  height: 50px;
  width: 200px;
  margin: 0 auto;
}

.mypageSignUp-info-terms{
  margin-top: 20px;
  padding: 10px;
  background-color: #fafafa;
}
.mypageSignUp-info-terms li{
  height: 200px;
  background-color: #eee;
  margin: 10px 0;
}
.mypageSignUp-info-terms span{
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}

/* 각 행별 설정 */
#mypageSignUpSubmit > div > div:nth-child(3) > table > tbody > tr:not(:nth-child(4), :nth-child(3)) > td:nth-child(1) {
  font-weight: bold;
  width: 10%;
  background-color: #fafafa;
}

.mypageSignUp-table-birth > td:nth-child(2) {
  width: 40%;
}

.mypageSignUp-table-birth > td:nth-child(3) {
  width: 10%;
  font-weight: bold;
  background-color: #fafafa;
}

.mypageSignUp-table-birth > td:nth-child(4) {
  width: 40%;
}

.mypageSignUp-table-birth > td:nth-child(4) > select {
  width: 100px;
}


#mypageSignUpRefundName {
  margin-left: 10px;
}

[name="refundBank"] {
  margin-left: 10px;
}


/* 유효성 검사 메세지(id, phone, email) */
#mypageSignUpRefundNo, #emailMessage, #phoneMessage {
  margin-left: 10px;
  color: #666;
}

/* 필수입력값을 알리는 '*' */
.required-for-signUp {
  display: flex;
  align-items: flex-start;
}

.required-for-signUp > span {
  margin-left: 5px;
  font-size: 2px;
  color: red;
}

.for-flex-signUp {
  display: flex;
  flex-direction: row;
}

.signUp-button {
  margin-left: 10px;
}