/* 회원가입 정규식 확인 */
.confirm{color : #666;}
.error{color : red;}


input {
  outline: none;
}

.mypageSetInfo-setInfo{
  display: flex;
  justify-content: center;
}
.mypageSetInfo-setInfo-info{
    display: flex;
    width: 1000px;
}
.mypageSetInfo-info-intro{
  color: #666;
  display: flex;
  font-size: 17px;
  align-items: flex-end;
  margin-bottom: 30px;
}

.mypageSetInfo-info-intro span{
  color: black;
  font-weight: bold;
  margin-right: 10px;
  display: flex;
  font-size: 2.0rem;
}

.mypageSetInfo-info-setInfoInfo{
    display: block;
}

.mypageSetInfo-setInfoInfo-table{
    margin: 20px 0;
    margin-bottom: 50px;
}

.mypageSetInfo-setInfoInfo-table td:nth-child(1){
    padding-left: 10px;
    height: 30px;
    width: 150px;
    background-color: #fafafa;
    border-top: 0.5px solid #eee;
    border-bottom: 0.5px solid #eee;
    border-right: 0.5px solid #eee;
    text-align: left;
}

#mypageSetInfoSubmit > div:nth-child(3) > table > tbody > tr:nth-child(3) > td {
  background-color: white;
}

#mypageSetInfoSubmit > div:nth-child(3) > table > tbody > tr:nth-child(4) > td {
  background-color: white;
}


.mypageSetInfo-setInfoInfo-table td{
    width: 1200px;
    padding-left: 10px;
    border-top: 0.5px solid #eee;
    border-left: 0.5px solid #eee;
    border-bottom: 0.5px solid #eee;

}
.mypageSetInfo-setInfoInfo-table tr{
    
    height: 60px;
}
.mypageSetInfo-setInfoInfo-table input{
  border: 0.5px solid #eee;
    width: 300px;
    height: 45px;
}

/* 주소 input 사이즈 */
#sample6_address {
  width: 500px;
}

#sample6_detailAddress {
  width: 200px;
}

.mypageSetInfo-table-inputTd{
    display: flex;
    align-items: center;
}
.mypageSetInfo-table-inputTd > div{
  color: #666;
  margin-left: 10px;
} 

.mypageSetInfo-table-address input{
    margin-top: 5px;
}

.mypageSetInfo-table-address input:last-child{
    margin-bottom: 5px;
}

.mypageSetInfo-table-address button{
    height: 45px;
    width: 100px;
    border: 0.5px solid #eee;
    background-color: #fafafa;
}
.mypageSetInfo-address-postal{
    width: 100px !important;
}
.mypageSetInfo-table-tel input{
    text-align: left;
    width: 300px;
}

.mypageSetInfo-table-birth input{
  border: 0.5px solid #eee;
  width: 50px;
  margin-right: 5px;
  text-align: right;
  padding-right: 10px;
}

.mypageSetInfo-table-birth input:not(:first-child) {
  margin-left: 10px;
}

.mypageSetInfo-table-Refund div{
    padding: 15px 0;
}
.mypageSetInfo-table-Refund select{
  border: 0.5px solid #eee;
  text-align: center;
  height: 45px;
  width: 170px;
}
.mypageSetInfo-table-Refund option{
  text-align: center;
  height: 45px;
  width: 170px;
}
.mypageSetInfo-table-Refund td {
  padding-left: 10px;
}

#mypageSetInfoSubmit {
  width: 100%;
}

#mypageSetInfoSubmitButton{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  height: 50px
}

#mypageSetInfoSubmitButton button {
  height: 50px;
  width: 200px;
  margin: 10px;
}

#setInfoButton {
  background-color: #7F7698;
}

#cancelButton {
  background-color: #ccc;
}

/* 필수 입력값 첫뻔째 열 */
#mypageSetInfoSubmit > div > div:nth-child(2) > table > tbody > tr > th {
  width: 15%;
}




/* 추가정보 각 행별 설정 */
.modify-margin-bottom > tbody > tr:not(:nth-child(4), :nth-child(3)) > td:nth-child(1) {
  width: 10%;
  background-color: #fafafa;
}

.mypageSetInfo-table-birth > td:nth-child(2) {
  width: 40%;
}

.mypageSetInfo-table-birth > td:nth-child(3) {
  width: 10%;
  background-color: #fafafa;
}

.mypageSetInfo-table-birth > td:nth-child(4) {
  width: 40%;
}

.mypageSetInfo-table-birth > td:nth-child(4) > select {
  width: 100px;
}


#mypageSetInfoRefundName {
  margin-left: 10px;
}

[name="refundBank"] {
  margin-left: 10px;
}




/* 유효성 검사 메세지(id, phone, email) */
#mypageSetInfoRefundNo, #emailMessage, #phoneMessage {
  margin-left: 10px;
  color: #666;
}

/* 필수입력값을 알리는 '*' */
.required-for-setInfo {
  display: flex;
  align-items: flex-start;
}

.required-for-setInfo > span {
  margin-left: 5px;
  font-size: 2px;
  color: red;
}

.for-flex-setInfo {
  display: flex;
  flex-direction: row;
}

.setInfo-button {
  margin-left: 10px;
}

.mypageSetInfo-setInfoInfo-table tr:nth-child(6) {
  display: none;
}

#mypageSetInfoSubmit > div > div:nth-child(3) > div {
  display: flex;
  justify-content: end;
}


/* 회원 탈퇴 버튼 위치 조정 */
.modify-margin-bottom {
  margin-bottom: 10px;
}



/* 버튼 영역 */
.myPage-delete-btn-area *{
  color: white;
  margin: 0 5px;
  width: 70px;
}

/* 취소버튼 */
#cancelButton {
  background-color: white;
  border: 0.5px solid #ccc;
}

#cancelButton:hover {
  background-color: #eee;
}

#setInfoButton:hover {
  background-color: #493e5d;
}

